[2019-12-06 13:49] oscerd opened #7 "Add Release profile"

[2019-12-06 14:24] #7 closed

[2019-12-08 12:44] jerrinot opened #9 "The camel-kafka-connector artifacts pulls number of dependencies"
I am trying to use this project to [integrate](https://github.com/hazelcast/hazelcast-jet-contrib/pull/30) with Hazelcast Jet. It works pretty nicely, well done!
[code]
There is one thing I don't quite understand: The main artifact (camel-kafka-connector) pulls a [number of dependencies](https://github.com/apache/camel-kafka-connector/blob/87cc89fadfeb22ec146cdcc1410f055f67384e05/core/pom.xml#L48-

[2019-12-08 12:49] oscerd commented on #9
This is something we still need to optimize. Thanks for reporting this and for your feedback :-)

[2019-12-08 12:51] jerrinot commented on #9
That's what I thought! Would you accept a Pull Request marking them as provided (is this the right scope? I never know) + related changes to make the Integration Tests working again (they currently rely on this)

[2019-12-08 12:53] oscerd commented on #9
I think it should be fine. Thanks for your time!

[2019-12-08 18:31] #9 closed

[2019-12-08 21:15] orpiske opened #13 "Unclean shutdown causing lots of warning messages in the logs"
When the test is shutting down, there are a lot of messages like this in the logs (~9k messages like this for a test run).

`2019-12-08 20:24:49,992 [7c-6916da6c7843] WARN org.apache.kafka.clients.NetworkClient - [Producer clientId=6a23d856-c3d2-40b6-be7c-6916da6c7843] Connection to node 1 (localhost/127.0.0.1:34649) could not be established. Broker may not be available.`

This doesn't really affe

[2019-12-09 09:44] oscerd opened #15 "Find a way to manage dependencies"
In order to support camel components, the proper dependencies must be in the classpath. Decide a way to do it, there are some alternatives:

- trivial option: put all the supported camel components as project dependencies
- generate a kafka connector for each component like more or less is done for camel spring boot starters

comment 1 by @oscerd: Maybe the second one and then release a bom with a

[2019-12-09 09:46] oscerd opened #16 "support camel type converters"
Provide a way to support camel type converters and/or integrating them in kafka connect `key.converter` and `value.converter`.

comment 1 @omarsmak: Hello @valdar , what is the plan for this issue? If no one is working on it currently, I can work on it as well

comment 2 @valdar : Sure @omarsmak I will be more busy with #4 in near future.
I would appreciate if you can outline your idea before star

[2019-12-09 09:47] oscerd opened #17 "Find a better way of using sourcePartition and sourceOffset"
https://github.com/jboss-fuse/camel-kafka-connector/blob/master/core/src/main/java/org/apache/camel/kafkaconnector/CamelSourceTask.java#L100

[2019-12-09 09:47] oscerd opened #18 "Support Map and List as Headers"

[2019-12-09 09:48] oscerd opened #19 "Add a CI job for PR"

[2019-12-09 09:49] oscerd opened #20 "Allow the user to set the key of the SourceRecord explicitly"
Currently, when the messages being polled, via this method:
[code]
We don't set the Key of the record in the `SourceRecord` constructor which could be dangerous to send these data downstream non-keyed, therefore to tackle this, I'd suggest to all the user to set the Key explicitly, let's see a key of the exchange is available as a header, the user will just supply the name of the header in order t

[2019-12-09 09:49] oscerd opened #21 "Allow to bridge between Camel DataFormat and Kafka Connect SMT"
It will be nice if we can somehow bridge between whetever we have for Camel DataFormat and bridge it as Kafka SMT (Single Message Transformation).
However, my gut feelings is that, we might need to add an wrapper for each DataFormat we have, because some DataFormat (let's say Protobuf), may it needs some extra processing, for example for the header

[2019-12-09 09:50] oscerd opened #22 "Allow to bridge between user's custom Camel Processor and Kafka Connect SMT"
If the user has custom Camel Processor, IMHO it will be nice to bridge them into Kafka Connect as an SMT wrapper, where the user will just add the Processor class as config, using reflection, we load it into this wrapper and process the data accordingly. However, sure the processing only limited to the messages of the exchange, nothing else

[2019-12-09 09:51] oscerd opened #23 "Add a Camel like DSL to translate between DSL and properties"
If we have all the components together, I thought that we can add a DSL that is very similar to Camel DSL, that is to make it easier for our users. It could be for start limited to numbers of processors. Example:
[code]
This will be translated to three properties, one for the Kafka Connect Source for Camel Consumer `file`, one for Kafka Connect SMT for the processor and finally a Kafka Connect Sin

[2019-12-09 09:51] oscerd opened #24 "Test code cleanups: embedded connect runtime improvements"
I think we could investigate if we can cleanup the tests (re)using the work from:
https://issues.apache.org/jira/browse/KAFKA-7503

author @orpiske

[2019-12-09 09:53] oscerd opened #25 "Integrations tests fails if confluentinc/cp-kafka:5.2.1 has not been pulled"
if one do a `mvn clean verify package` without having pulled `confluentinc/cp-kafka:5.2.1` this is the result:

[code]
author @valdar

comment 1 by @valdar : @orpiske can you take a look?

comment 2 by @orpiske : @valdar absolutely. I will take a look at this one.

comment 3 by @orpiske : @valdar is there any more details you could share about your environment? I haven't been able to reproduce it

[2019-12-09 10:30] oscerd commented on #19
This should be done with Github actions

[2019-12-09 10:30] #19 closed

[2019-12-09 12:31] #18 closed

[2019-12-09 15:05] davsclaus opened #30 "INFRA - Turn off mail noise to Camel @dev mailing list"
We need to turn off the noise from camel-kafka-connector on the @dev mailibg list
like we did for the other projects
its spammed with gitbox messages now
https://camel.465427.n5.nabble.com/Camel-Development-f479097.html

[2019-12-09 15:05] oscerd commented on #30
Can you raise this to INFRA?

[2019-12-09 15:13] oscerd commented on #30
https://issues.apache.org/jira/browse/INFRA-19548

[2019-12-09 15:13] oscerd commented on #30
Opened.

[2019-12-09 15:37] valdar opened #31 "run integration test insided github actions?"

[2019-12-09 15:38] valdar commented on #31
See if it is possible to have integrations tests running as github actions, not as heach PR but once in a while (nightly?).

[2019-12-09 17:59] omarsmak opened #32 "Better support for value Schema in the SourceTask"
Currently we build the `SourceRecord` with `Schema.BYTES_SCHEMA` schema. However, this can be misleading, for example, you can have body message of type `String` but however the schema will be always `Schema.BYTES_SCHEMA` regardless.
However, as is hard to cover all types, we can have optional `BYTES_SCHEMA` as a fallback schema. This is just an idea, no idea about the implications downstream.

[2019-12-09 19:52] orpiske commented on #31
Personally, I prefer having the tests run for each PR, as it makes it easier to spot some issues.

I also think it would also be interesting to check if there's something more stable to run the tests. Looking at the jobs for the PRs the project has had, it seems to me that there are few false negatives happening from time to time. For example:

- https://github.com/apache/camel-kafka-connector/pul

[2019-12-09 20:52] valdar commented on #31
If the time is reasonable we can have them for each PR. Not sure about resources available though...

[2019-12-10 18:53] oscerd opened #35 "Add a sink and sources examples with camel-cassandraql"

[2019-12-11 12:00] omarsmak commented on #16
This has been addressed in https://github.com/apache/camel-kafka-connector/pull/34

[2019-12-11 12:00] #16 closed

[2019-12-11 12:57] #32 closed

[2019-12-11 16:40] omarsmak opened #40 "Add a Kafka Connect converter that utlizes camel type converter"
In similar way to https://github.com/apache/camel-kafka-connector/issues/16, this can be done to kafka connect converter. Ideally, this should be a thin wrapper around the transformer that being done https://github.com/apache/camel-kafka-connector/issues/16 with the condition that should enforce `byte[]` data type

[2019-12-11 20:05] #20 closed

[2019-12-11 21:03] valdar commented on #30
done.

[2019-12-11 21:03] #30 closed

[2019-12-11 21:10] valdar commented on #25
[tests.log](https://github.com/apache/camel-kafka-connector/files/3952581/tests.log) here it is @orpiske

[2019-12-11 21:16] orpiske commented on #13
Closing this one because it was fixed with the merge on #29.

[2019-12-11 21:16] #13 closed

[2019-12-11 22:34] valdar commented on #25
it seems that the problem was somehow related to my docker environment being tainted somehow. Starting from a fresh docker environment (i.e. by stopping docker deamon, forcefully removing `/var/lib/docker` directory and starting the docker deamon again) the error diappeared.
Here are the images pulled as a result of a fresh `mvn clean install`:
[code]

@orpiske I don't remember if you were working

[2019-12-12 07:38] orpiske commented on #25
Hey, this is great. I couldn't find much by looking at the logs, but I found some occurrences about this issue on the internet and on a few of them people were claiming that the issue would go away with a ```docker system prune```. I was a bit skeptical as you did not seem to have problems outside the test suite, but apparently it may have some effect after all.

That looks good! That's what I hav

[2019-12-12 09:26] valdar commented on #13
Thanks! If you mention fix #issuenumber in the commit message it should close it automatically, I hope.

[2019-12-12 09:33] valdar commented on #25
Great! So I think we can close this issue and ope another one just to remove the useage of `confluentinc/cp-kafka`.

[2019-12-12 09:33] #25 closed

[2019-12-12 10:49] valdar opened #43 "Replace `confluentinc/cp-kafka` image with an upstream version"
Here are the images pulled as a result of a fresh `mvn clean install`:
[code]

would be nice to replace `confluentinc/cp-kafka` image with an upstream version.

[2019-12-12 10:50] orpiske commented on #43
Thanks. I can take care of this one. Feel free to assign it to me.

[2019-12-13 11:56] #35 closed

[2019-12-19 19:04] orpiske opened #55 "Unstable test: CamelSourceTaskTest.testSourcePollingTimeout"
I am noticing some sporadic failures on the CamelSourceTaskTest.testSourcePollingTimeout test. From time to time I get this:

[code]

I did not have time to investigate it in depth, but I can take when I get back.

[2019-12-24 14:36] valdar commented on #55
I fear we need to relax the constraint here: https://github.com/apache/camel-kafka-connector/blob/master/core/src/test/java/org/apache/camel/kafkaconnector/CamelSourceTaskTest.java#L196 to a "greater than". I can take care of that.

[2019-12-25 21:39] #55 closed

[2020-01-08 22:06] valdar commented on #31
I think from some RPs experience, the time is quite reasonable. We can keep them for each PR. I just disabled them by default (but enabled them in GitHub actions runs): https://github.com/apache/camel-kafka-connector/commit/2658307e2ad078dc945ae98d4b0b8d9dd769b94a

[2020-01-08 22:06] #31 closed

[2020-01-10 08:50] valdar opened #67 "Flaky test: CamelSinkCassandraITCase"
I have seen `CamelSinkCassandraITCase` sporadically failing and claiming to have received 9 out of 10 records.
Is it possible that there might be some race condition around here https://github.com/apache/camel-kafka-connector/blob/master/tests/src/test/java/org/apache/camel/kafkaconnector/sink/cassandra/CamelSinkCassandraITCase.java#L112 ?

[2020-01-10 08:50] valdar commented on #67
@orpiske ?

[2020-01-10 15:06] oscerd opened #69 "Bump Kafka to version 2.4.0"

[2020-01-10 15:33] #69 closed

[2020-01-12 09:22] orpiske commented on #67
I think so. It looks like I inadvertently added a time-of-check-time-of-use kind of bug. I was looking at the [hasData](https://github.com/apache/camel-kafka-connector/blob/master/tests/src/test/java/org/apache/camel/kafkaconnector/clients/cassandra/dao/TestDataDao.java#L82) and I am only checking if some amount of data is in the table and not if the right amount of data is there. This could cause

[2020-01-12 14:29] #43 closed

[2020-01-12 14:31] valdar commented on #67
Sounds reasonable to me!

[2020-01-12 14:31] #67 closed

[2020-01-15 09:20] oscerd opened #74 "Migrating to Junit 5"

[2020-01-17 14:39] valdar opened #76 "Create example and itest for camel-salesforce"

[2020-01-17 14:40] valdar opened #77 "Create example and itest for camel-syslog"

[2020-01-29 09:14] #74 closed

[2020-02-25 18:19] ruchirvaninasdaq opened #95 "Not able to run aws s3 source connector"
I am trying to run the aws s3 source connector. I have followed this documetation to install connector:
https://camel.apache.org/camel-kafka-connector/latest/try-it-out-on-openshift-with-strimzi.html.

I have installed the connectors correctly as I can list it connecor:
[code]

This is the json for source connector:
[code]

Now when I am trying to print status for the connector, I get following er

[2020-02-25 18:24] oscerd commented on #95
I read you're using the s3 confluent connector. It's not clear what are you trying to do, but mixing confluent connector and camel connector from this project is not tested or recommended

[2020-02-25 18:25] ruchirvaninasdaq commented on #95
No, I have added the `{"class":"org.apache.kafka.connect.file.FileStreamSourceConnector","type":"sink","version":"2.3.0"}`
also. If you see in list.

[2020-02-25 18:25] oscerd commented on #95
Also in your pom you need to explicitly add the camel-aws-s3 dependency from camel 3.0.1

[2020-02-25 18:29] ruchirvaninasdaq commented on #95
Let me explicitly add try the build. Thanks, I will update you with how it goes.

[2020-02-25 19:02] ruchirvaninasdaq commented on #95
Now, I am getting the following error:

[code]

[2020-02-25 19:07] oscerd commented on #95
Can you please show your pom file?

[2020-02-25 19:07] oscerd commented on #95
Can you please show your pom file?

[2020-02-25 19:15] ruchirvaninasdaq commented on #95
As I am using the stimzi, I followed the documentation to deploy the connector to the my strimzi cluster.

This is my docker File:
[code]

SO I run this docker file and push the image to the internal gitlab registry.

This is my connector deployment yaml file:
[code]
I use the follwing command to deploy the connector:
`kubectl apply -f my-cluster-connect.yaml -n rucvan`

[2020-02-25 19:16] oscerd commented on #95
I'll try to reproduce

[2020-02-25 19:17] ruchirvaninasdaq commented on #95
Thank you!!

[2020-02-25 19:20] ruchirvaninasdaq commented on #95
Strimzi documentation, if it's useful: https://strimzi.io/docs/master/#kafka-connect-str

[2020-02-25 19:23] oscerd commented on #95
We suggest this guide https://github.com/apache/camel-kafka-connector/tree/master/docs/modules/ROOT/pages/try-it-out-on-openshift-with-strimzi.adoc

[2020-02-25 19:32] ruchirvaninasdaq commented on #95
So, I see the difference in the deployment of the `my-cluster-connect`. As I dont used OpenShift, I dont know how its `start-build` command (`oc start-build my-connect-cluster-connect --from-dir=./core/target/camel-kafka-connector-0.0.1-SNAPSHOT-package/share/java --follow`) works compare to my `kubectl apply -f my-cluster-connect.yaml -n rucvan`. Do you have any idea how it could be different?

[2020-02-25 20:45] ruchirvaninasdaq commented on #95
@oscerd : Were you able to re-generate the error?

[2020-02-25 20:46] oscerd commented on #95
I'll have a look tomorrow or this week

[2020-02-25 22:36] ruchirvaninasdaq commented on #95
Ok thanks

[2020-02-25 23:39] valdar commented on #95
Hello @ruchirvaninasdaq, are you 100% sure that when you have built the project with `mvn clean package` the `core/pom.xml` was containing this dependency:
[code]
please note that `<scope>provided</scope>` has been removed.

Can you post the list of the content of the directory `camel-kafka-connector\core\target\camel-kafka-connector-0.0.1-SNAPSHOT-package\share\java` after the build?

[2020-02-26 16:27] ruchirvaninasdaq commented on #95
Hello @valdar : The pom file here (https://github.com/apache/camel-kafka-connector/blob/e507ea76de231c371b9a9f7ce90f1f4b90024914/core/pom.xml#L82) has tag `<scope>provided</scope>`. I will try removing and rebuild again and update you with results.

Thanks

[2020-02-26 16:40] valdar commented on #95
I know that on master it has that scope, we should probably be more precise in the documentation.

The fact is that we are also, slowly, producing one Kafka connector for each camel-component pre-packaged with all the needed dependencies and pre-configured to be simpler to use, see https://github.com/apache/camel-kafka-connector/issues/15.

So in the near future, all of this will not be needed any

[2020-02-26 17:06] ruchirvaninasdaq commented on #95
These jars are in the folder:
[code]

[2020-02-26 17:08] ruchirvaninasdaq commented on #95
@valdar : I am still getting this error:
[code]

[2020-02-26 17:19] oscerd commented on #95
You need to add camel-api jar.

[2020-02-26 17:21] ruchirvaninasdaq commented on #95
Is there a maven repo for that?

[2020-02-26 17:21] oscerd commented on #95
https://search.maven.org/artifact/org.apache.camel/camel-api/3.0.1/jar

[2020-02-26 17:21] ruchirvaninasdaq commented on #95
and I just noticed that I have this in my plugins
```rw-rw-rw- 1 root root   373351 Feb 26 16:36 camel-api-3.0.1.jar```

[2020-02-26 17:22] oscerd commented on #95
The class are all there, so your classpath is clearly not complete.

[2020-02-26 17:26] oscerd commented on #95
By the way is probably something related to difference between openshift and kubernetes approach.

[2020-02-26 17:29] valdar commented on #95
@ruchirvaninasdaq I think now you have the correct jars, but for some reason, they are not picked up in the Kafka connect classpath.

I see that the Strimzi doc mention this as a recipe to make a custom image for kafka connectors:
[code]
I see 2 differences with your Dockerfile:
- USER 1001 (i.e. some permissions problems?)
- and that probably you end up with a different directory layout? (i.e. it

[2020-02-26 17:40] ruchirvaninasdaq commented on #95
@valdar & @oscerd : Just to verify that I have all the right plugins files within my connect pod. I logged into it and verify.

[code]

[2020-02-26 17:45] orpiske commented on #95
I few things I think _may_ be relevant ... last time I built an image I had some problems with this.

1. I had to put the connector package `camel-kafka-connector-0.0.1-SNAPSHOT.jar` in a separate directory than the rest of the dependencies. Otherwise, it would slow down the startup and Kafka would complain about it. That would be one of the directories set as the `plugin.path` in the connect prop

[2020-02-26 18:00] ruchirvaninasdaq commented on #95
Thanks @orpiske . I will try these 2 steps and post results after that.

[2020-02-26 18:35] ruchirvaninasdaq commented on #95
@oscerd @valdar @orpiske.

Adding the connectors jars to the `path of the kafka libraries` solved the issue.

Thank you!!

[2020-02-26 18:36] oscerd commented on #95
We need to document this. Thanks @ruchirvaninasdaq

[2020-02-26 18:37] oscerd opened #96 "Document how to run camel-kafka-connector in a docker image"
Lets take some information from #95

[2020-02-26 18:38] ruchirvaninasdaq commented on #95
Do you want me create document around deployment on strimzi with kubereates? I have all the example files.

[2020-02-26 18:48] oscerd commented on #95
You're welcome to work on that, you can take a look at the docs we have and start with that as a base document. Thanks.

[2020-02-26 19:32] valdar commented on #95
I think we can leave this open untill we fix the documentation.

[2020-02-26 19:34] ruchirvaninasdaq commented on #95
oscerd open the new issue: https://github.com/apache/camel-kafka-connector/issues/96

[2020-02-26 20:32] ruchirvaninasdaq opened #97 "S3 source connector delete files from source bucket"
I am using the aws-s3 source connector.

Using this property file:
https://github.com/apache/camel-kafka-connector/blob/master/examples/CamelAWSS3SourceConnector.properties

My messages are been successfully written to Kafka topic, but it deletes the files form s3 bucket. How can I move the processed files to different bucket rather than it gets deleted?

Is there any property that I can use?

If

[2020-02-26 20:34] #95 closed

[2020-02-26 23:17] valdar commented on #97
I fear that at the moment that is not a supported scenario, I think that is not supported by the `camel-aws-s3` component itself.

It would be a good enhancement proposal.

[2020-02-26 23:19] oscerd commented on #97
Yes, we can add an enhancement to the main camel jira

[2020-02-26 23:53] ruchirvaninasdaq commented on #97
Hello @valdar & @oscerd ,  I was looking at the aws camel s3 module and found that there is property in onCommit method? Should we extend that in this module? So at least it wont delete the files and I can try implementing the move functionality in aws s3 module later.

https://github.com/apache/camel/blob/299f0191582df2a8fd376288c5ac8a9c57807adb/components/camel-aws-s3/src/main/java/org/apache/ca

[2020-02-27 06:51] oscerd commented on #97
Yes, I'll raise an enhancement later

[2020-02-27 07:09] oscerd commented on #97
https://issues.apache.org/jira/browse/CAMEL-14618

[2020-03-09 23:52] valdar commented on #15
Thanks to https://github.com/apache/camel-kafka-connector/pull/102 we have in place the structure and dependency generation of a Kafka connector for each component.

The missing bits, apart from polishing and inevitable issues, is to generate the 4 classes needed for each connector to configure and work properly.

[2020-03-11 17:47] ruchirvaninasdaq opened #104 "Not able to add resource file"
Hello,

I am trying to create the AvroSeralizer for the S3 object. I have to add schema files in the resource folder.
https://github.com/apache/camel-kafka-connector/tree/master/core/src/main

But after the jar is built, I am not able to read the resource folder, Is there anything you have to change in pom.xml? so it can include the schema file at run time.

Thanks

[2020-03-11 18:55] #104 closed

[2020-03-11 19:00] oscerd commented on #104
What have you done?

[2020-03-11 19:48] ruchirvaninasdaq commented on #104
Created the classes to get schema, but still not able to read to resource folder.

[2020-03-12 00:51] valdar commented on #104
@ruchirvaninasdaq could you share a project with what you have added to better understand what you would like to achieve and try to help the best we can?

[2020-03-13 10:58] oscerd opened #105 "Upgrade to Kafka 2.4.1"

[2020-03-13 13:42] #105 closed

[2020-04-03 10:29] mabulgu opened #117 "Kafka/Strimzi Connect - Camel example, where to put it?"
Hi,

I've been thinking of adding an example of Kafka Connect Component for Strimzi and I see that there is already a doc created here: https://github.com/apache/camel-kafka-connector/blob/master/docs/modules/ROOT/pages/try-it-out-on-openshift-with-strimzi.adoc

As I had a look at the examples they seem to be just properties that connect component uses. So should we create folders per example in t

[2020-04-03 15:19] valdar commented on #117
Hi,

that is a good question, I think that at the moment we can have `strimzi/` subfolder under `examples`, we can always move stuff from there elsewhere in the future if needed. What do you think @oscerd @orpiske @omarsmak ?

[2020-04-03 15:21] orpiske commented on #117
@valdar I like the idea of having a separate folder for strimzi. IMHO, it gives us some flexibility about the examples we want to have, documenting and everything else.

[2020-04-03 15:38] valdar opened #118 "ERROR - Plugin class loader for connector: was not found."
Tests logs have this error:

[code]

it seems to

(see https://github.com/confluentinc/kafka-connect-jdbc/issues/766)

it seems not to be an issue for the tests themselves, still better to investigate.

[2020-04-03 15:38] valdar commented on #118
@orpiske any idea on this one?

[2020-04-03 15:41] orpiske commented on #118
@valdar I think that makes sense and it goes in line with the warnings I saw when building the containers for this. It doesn't seem to affect the test, but it would be better and safer not to have it. I will have time next week and will take a look at how we can get rid of it.

[2020-04-03 15:47] orpiske commented on #118
@valdar it might be a tricky one to solve, though. I think we will need to find a way to isolate the [embedded runner](https://github.com/apache/camel-kafka-connector/blob/master/tests/src/test/java/org/apache/camel/kafkaconnector/services/kafkaconnect/KafkaConnectRunnerService.java) from the rest of the test code so that the runner itself is not on the same class loader. I don't really know how t

[2020-04-03 15:59] oscerd commented on #117
+1 for a strimzi folder

[2020-04-03 17:12] valdar commented on #118
@orpiske tnx!

[2020-04-04 17:19] mabulgu commented on #117
Thanks for the suggestions. So as far as I understand a strimzi folder should be created in examples folder and any examples/instructions about it should be added there?

If I understood right, and if it is all ok for you I can add this example. As I mentioned before there is already a doc that is a kind of example but, it can be extended and transformed in an example/demo format that we have in [

[2020-04-06 10:43] orpiske commented on #117
IMHO, yes. That's how we should organize it.

Cool, looking forward to it!

[2020-04-06 21:00] valdar opened #120 "Unable to initialize REST resources in tests"
Tests logs contains:
[code]

[2020-04-06 21:03] valdar commented on #120
Talking to @orpiske this is somehow related to #118 in the sense that using closer to real embedded Kafka connect embedded environment might solve both. An enhancement was already logged to do so in #105

The idea is to see if using `org.apache.kafka.connect.util.clusters.EmbeddedConnectCluster` solves both issues and then evaluate from there how to integrate it in the broader integration test fac

[2020-04-11 11:33] Nayananga commented on #76
Hi, may I take this task?

[2020-04-11 11:40] oscerd commented on #76
Sure

[2020-04-16 09:48] oscerd opened #127 "Define how to package the connectors"
We should do a zip for each connector, we can take as example this https://repo1.maven.org/maven2/io/debezium/debezium-connector-postgres/1.1.0.Final/debezium-connector-postgres-1.1.0.Final-plugin.tar.gz

Lets collect ideas here.

ref: https://issues.redhat.com/browse/DBZ-1656

[2020-04-16 09:57] omarsmak commented on #127
+1. I think each connector should independent as much as possible

[2020-04-16 18:41] gunnarmorling commented on #127
👍  In Debezium, we create both, *.zip and *.tar.gz, so people can choose whichever they prefer. They are self-contained and can be extracted into the KC plug-in path.

[2020-04-16 20:08] valdar opened #128 "Generate documentation to be integrated with Antora and camel website"
See the initial work done by @zregvart:
https://github.com/apache/camel-kafka-connector/commits?author=zregvart

[2020-04-16 20:18] orpiske commented on #127
+1 for creating separate zip and tar.gz files.

I think it would be great if we could package them in a way that we can just drop the connector code into the plugin path and the connector dependencies in whatever is loaded into the KC classpath. I'm thinking about making it easier - for the user - to avoid potential class path issues and that annoying DelegatingClassLoader error.

[2020-04-17 07:28] oscerd commented on #97
For your information @ruchirvaninasdaq , this has been implemented in Camel 3.3.0, once we upgrade this would be available through the moveAfterRead option

[2020-04-17 11:32] jpechane commented on #127
@orpiske +1
In fact it would be doable even now just with Maven assembly plug-in as all deps could be downloaded automatically.

The only issue I see now is that the dependencies are not exactly correct.

We have an example here - https://github.com/debezium/debezium-examples/tree/master/camel-kafka-connect it is a demo of Debezium to CoAP server. The connector distro is build using https://github

[2020-04-17 14:22] ruchirvaninasdaq commented on #97
Thanks, for the update. Please let me know when the kafka-connector moves to camel 3.3.0. I have implemented for now but native support would be nice to have.
Thanks

[2020-04-19 16:47] #15 closed

[2020-04-19 16:48] oscerd opened #130 "Release 0.1.0"
We need to setup zip and tar.gz packaging and cut a first release.

[2020-04-20 07:26] oscerd commented on #130
The javadoc and surefire configuration are now ok for releasing

[2020-04-20 11:33] oscerd commented on #127
The elasticsearch stuff is part of the camel component, it cannot be excluded directly, if you exclude elasticsearch, you'll need to declare it explicitly, with the exact same version used by the component.

[2020-04-20 11:36] oscerd commented on #127
ah, no, it's in all connectors. This must be fixed.

[2020-04-20 13:44] oscerd commented on #127
camel-elasticsearch-rest is not there anymore.

[2020-04-20 19:44] #127 closed

[2020-04-21 09:40] orpiske opened #132 "Test coverage: springboot autoconfigurations vs kafka-connect configuration format"
We need to ensure test coverage for different types of configuration formats. There are minor - intentional - differences between the configuration formats used by SpringBoot autoconfiguration [1] (ie.: `camel.component.aws-s3.secret-key` vs. Kafka Connect configuration [2] format `camel.component.aws-s3.secretKey`).

1. https://camel.apache.org/components/latest/aws-kinesis-component.html
2. http

[2020-04-21 15:21] oscerd opened #134 "Documentation: Add instructions on how to use the packaged connectors in Kafka Connect"

[2020-04-21 17:08] oscerd opened #136 "Create a documentation index and reflect it on the website"
We can collect possible index here and then create the index in the docs. So it will be more clear where to look for something.

[2020-04-21 17:40] #134 closed

[2020-04-22 08:16] oscerd commented on #136
[[CamelKafkaConnector-index]]
= Apache Camel Kafka Connector

* xref:about.adoc[What is it?]
* xref:getting-started.adoc[Getting started]
** xref:try-it-out-locally.adoc[Try it locally]
** xref:try-it-out-on-openshift-with-strimzi.adoc[Try it on OpenShift cluster]
** xref:getting-started-with-packages.adoc[Packages documentation]

For beginning.

[2020-04-22 08:16] #136 closed

[2020-04-22 17:03] #24 closed

[2020-04-22 17:05] valdar commented on #120
fixed with #138

[2020-04-22 17:06] valdar commented on #118
fixed with #138

[2020-04-22 17:06] #118 closed

[2020-04-22 17:08] #120 closed

[2020-04-23 15:04] oscerd commented on #128
This is already done.

[2020-04-23 15:04] #128 closed

[2020-04-23 15:05] oscerd opened #141 "Generate a catalog of supported connectors"

[2020-04-23 15:08] oscerd opened #142 "Generate a table with supported connectors"
Since connectors are not real components, we may need to generate a model and borrowing information from the camel catalog.

[2020-04-24 14:48] zregvart commented on #142
One option would be to utilize Asciidoc files, we can leverage page attributes and [`indexTable`](https://gitlab.com/djencks/asciidoctor-antora-indexer) macro, I think that would result in one `.adoc` file per connector. Another option could be to use data support in Hugo and generate a document or documents based on the JSON file from the catalog.

[2020-04-24 15:31] valdar commented on #130
Apache Camel-kafka-connector 0.1.0 release is on vote until Saturday the 25th 2020:

Staging repository:
https://repository.apache.org/content/repositories/orgapachecamel-1205

Tag:
https://gitbox.apache.org/repos/asf?p=camel-kafka-connector.git;a=tag;h=b4d186fcc9c23e483fc27d713ee7cd318827db03

[2020-04-24 19:55] valdar opened #143 "Ordering of endpoint path options is not taken in account"
If a component has more than one path option like `org.apache.camel.kafkaconnector.cql.CamelCqlSinkConnector`. The order is not taken into account, so for a configuration property like:
[code]
the correct constructed url should look like: `cql:localhost:34719:ckc_ks?otherOptions=..` but tha is not garanted, could happen that it ended up being `cql:34719:localhost:ckc_ks?otherOptions=...` leting th

[2020-04-24 19:58] valdar opened #144 "Take in to account endpoint path options order into connector code generation"
Once #143 is fixed, we need to be sure that it is also used/taken into account during connector code generation.

[2020-04-24 20:12] valdar opened #145 "Create and ad hoc connector for syslog"
Since `syslog` camel component is not really a component and is not listed in the camel-catalog but is a collection of dataformat and netty codec, its Kafka connector needs to be manually created.

I think there are just a few components like this one (the most notable one being `camel-hl7`), so it is not worth to generally handling them in the automatic Kafka connector generation.

[2020-04-24 20:19] valdar opened #146 "camel-kafka-connector-generator-maven-plugin: prevent the ovewrite of exixting classes unless they are @Generated annotated"
See https://github.com/apache/camel-kafka-connector/blob/master/tooling/camel-kafka-connector-generator-maven-plugin/src/main/java/org/apache/camel/kafkaconnector/maven/utils/MavenUtils.java#L267

[2020-04-24 20:20] valdar opened #147 "camel-kafka-connector-generator-maven-plugin: write plugin documentation"
See: https://github.com/apache/camel-kafka-connector/blob/master/tooling/camel-kafka-connector-generator-maven-plugin/README.adoc#L3

[2020-04-24 20:22] valdar opened #148 "camel-kafka-connector-generator-maven-plugin: implement a component exclusion mechanism"
See: https://github.com/apache/camel-kafka-connector/blob/master/tooling/camel-kafka-connector-generator-maven-plugin/src/main/java/org/apache/camel/kafkaconnector/maven/GenerateCamelKafkaConnectorsMojo.java#L103

[2020-04-24 20:24] valdar opened #149 "camel-kafka-connector-generator-maven-plugin: optionally delete submodules not in catalog"
This needs an exclusion mechanism as well.

See: https://github.com/apache/camel-kafka-connector/blob/master/tooling/camel-kafka-connector-generator-maven-plugin/src/main/java/org/apache/camel/kafkaconnector/maven/GenerateCamelKafkaConnectorsMojo.java#L170

[2020-04-24 20:30] valdar opened #150 "Feature discussion: if and how to handle detaformat inclusion in generated connectors"
There is this [//TODO](https://github.com/apache/camel-kafka-connector/blob/master/tooling/camel-kafka-connector-generator-maven-plugin/src/main/java/org/apache/camel/kafkaconnector/maven/GenerateCamelKafkaConnectorsMojo.java#L112) in the code ad a reminder to reason over if there is a way to include `dataformats` dependencies into the generated connectors and how.

[2020-04-26 06:47] valdar commented on #130
0.1.0 Release vote passed, the release has been performed.
Artifacts should be on apache maven and on maven central.

[2020-04-26 06:47] #130 closed

[2020-04-26 07:09] valdar commented on #17
Source camel Kafka connectors do not set `sourcePartition` and `sourceOffset`.

A way to easily do that in each connector should be implemented in the `core` module. Each connector can then implement his own specific way.

Another approach that can be explored is to provide such a generic mechanism in camel itself since resuming execution from a "saved" point is a feature of broader interest than

[2020-04-27 14:08] orpiske opened #156 "Checkstyle missing unused imports?"
Should the check style verification report unused imports? It seems it [missed a few](https://github.com/apache/camel-kafka-connector/blob/fb7a3673a6cf2a107cbebbf9cb6ac24408a2b04f/tests/src/test/java/org/apache/camel/kafkaconnector/ConnectorPropertyFactory.java#L21) of those on my [last PR](https://github.com/apache/camel-kafka-connector/pull/155) . So ... reporting this as a possible bug.

[2020-04-28 10:35] oscerd opened #158 "Provided dependencies management"
There are cases in which a component declare a provided dependency, like for example camel-sjms2 for geronimo specs, those deps are needed if you unpack your connector in the plugin.path location, this sound similar for ActiveMQConnectionFactory, which we use in some examples but comes from Activemq jars.

[2020-04-28 10:36] oscerd opened #159 "Camel components secret options are showed in logs"
If you set an option like for example an AWS secret key in one of the connector configuration it will be showed up in the log in clear.

[2020-04-28 12:33] oscerd commented on #158
Looking at it better with @valdar
We are declaring activemq-client as test dependency in the parent/pom, so in the connector using the activemq-client, we have the dep as test and it's not included (with all the transitive deps) in the packages generated during the build

[2020-04-28 21:11] valdar commented on #159
Do we have some facility at Camel level to deal with this? I suspect that we must search for such an option in Kafka connect framework.

[2020-04-28 21:42] #156 closed

[2020-04-28 21:42] #158 closed

[2020-04-28 21:51] valdar opened #162 "Verify that sha512 files are correctly published during next release"
See https://infra.apache.org/release-distribution#sigs-and-sums and this commit: https://github.com/apache/camel-kafka-connector/commit/94246b414e755925086141e3743170b37123b7f3

[2020-04-28 21:54] valdar opened #163 "Produce a download/release page"
Produce a release page on the line of https://camel.apache.org/download/ part is manually created, a part is generated.

[2020-04-28 21:56] valdar opened #164 "Autogenerate release page for a given release"
Autogenerate as much content as possible see: https://camel.apache.org/releases/release-3.2.0/

Is related to #163

[2020-04-28 22:03] valdar opened #165 "Produce an assembly artifact containing all the released artifacts"
see: https://github.com/apache/camel/blob/master/apache-camel/pom.xml

[2020-04-28 22:15] valdar opened #166 "Add tests to camel-kafka-connector-generator-maven-plugin"
Using some maven plugin test project add tests to https://github.com/apache/camel-kafka-connector/tree/master/tooling/camel-kafka-connector-generator-maven-plugin

[2020-04-29 04:46] davsclaus commented on #159
Yeah see how we do something like that in camel-main or the santize uri method

org.apache.camel.util.URISupport#sanitizeUri
org.apache.camel.main.BaseMainSupport#SENSITIVE_KEYS

[2020-04-29 09:50] oscerd opened #167 "Autogenerate documentation for sink and source connectors"

[2020-04-29 10:16] #167 closed

[2020-04-29 13:13] oscerd opened #169 "Add an index for connectors in docs"

[2020-04-29 13:30] #169 closed

[2020-04-29 16:57] hguerrero opened #175 "make the topics property consistent between source and sink connectors"
Currently, the property is called `topics` for sink and `camel.source.kafka.topic` for source connectors. It's not intuitive for people starting to use the connectors.

[2020-04-30 07:39] orpiske opened #178 "Automate bootstrap for non-containerized deployment?"
Looking at the [AWS-to-JMS](https://github.com/orpiske/camel-kafka-connector-examples/tree/master/aws-s3-to-jms) example it seems to me that the bootstrap steps are going to be similar most of the time.

1. Download the connector package
2. (Optional) Download the dependencies
3. Create the configuration file
4. Put the files on the Kafka Connect runtime install directory.

I know this is handled

[2020-04-30 14:24] oscerd opened #182 "Connectors doc: Show up only the priority in the table column"
Actually we are printing

ConfigDef.Importance.MEDIUM

MEDIUM it's enough.

[2020-05-01 22:19] valdar commented on #178
In which form would you plan to ship that?

[2020-05-02 09:16] orpiske commented on #178
Thanks.

I was thinking about a CLI utility, in a module within the project. The usage would look like this:

```camel-kafka-connector bootstrap --connector sjms2 --target-dir /path/to/kafka/connect```

It would have 2 additional arguments:

[code]

We already have the list of configurations in the connector config files ([example](https://github.com/apache/camel-kafka-connector/blob/master/connec

[2020-05-02 10:16] lburgazzoli commented on #178
looks looks we may need a start.spring.io alike solution but for camel

[2020-05-02 13:55] valdar commented on #178
@orpiske For the configuration part actually I was planning to add an autogenerated example configuration listing only the required options (the camel catalog should provide that information). We can potentially convey that information using the Kafka connect config priority field (i.e. only the properties with priority = HIGH are the mandatory ones).

Probably we would need to specify the version

[2020-05-02 14:06] valdar opened #183 "Move `target.type` inside normal config mechanism of SMTs"
If possible, move the configuration here https://github.com/apache/camel-kafka-connector/blob/master/core/src/main/java/org/apache/camel/kafkaconnector/transforms/CamelTypeConverterTransform.java#L87 in a SMT config see as a reference: https://github.com/apache/kafka/blob/trunk/connect/transforms/src/main/java/org/apache/kafka/connect/transforms/Cast.java#L109-L115

[2020-05-02 14:06] valdar commented on #183
cc: @omarsmak

[2020-05-03 09:55] Nayananga commented on #76
Hi when I was following the guide in [here](https://camel.apache.org/camel-kafka-connector/latest/try-it-out-locally.html) I used

command to build the project. Then I encountered this error

I was able to solve this by using

is this a possible issue to create a new Github issue?

[2020-05-03 10:24] oscerd commented on #76
I think it's because you're on Windows, or at least I guess. Use ./mvnw.cmd in your case

[2020-05-03 10:35] Nayananga commented on #76
No this happened inside a docker container (ubuntu 18.04). I'll try using ```./mvnw.cmd```
Thanks :)

[2020-05-03 17:06] Nayananga commented on #76
Hi, @oscerd I found that almost every connector.properties file has

and

what are these stands for? thanks

[2020-05-03 17:10] oscerd commented on #76
Sink stands for a camel producer endpoint uri, while source stands for a camel consumer endpoint uri

[2020-05-03 17:11] oscerd commented on #76
To use the camel-kafka-connector you need the basic camel knowledge

[2020-05-04 05:49] lburgazzoli commented on #178
I think I misinterpreted the subject reading the issue on my mobile as points 1,2,3 looks very similar to what you do with start.spring.io or similar tools.

[2020-05-04 07:40] orpiske commented on #178
I think that's a good idea. I think reusing the priority would make it possible to use it for the bootstrapping part as well.

I think we need that too. I think we could use the GAV. IIRC, camel-k CLI already uses the GAV, so overall usage throughout the projects would be consistent.

[2020-05-04 10:17] oscerd opened #186 "Avoid Thread.sleep in test, use Awaitility FTW"

[2020-05-04 18:11] #132 closed

[2020-05-05 08:06] sjwoodman opened #188 "Cannot apply transforms to Telegram Source Connector"
I am trying to connect Telegram to Kafka using the Telegram Source Connector. It works but the messages put onto the Kafka topic are the `toString()` representation of the Telegram message, i.e. `IncomingMessage{messageId=20, date=2020-05-05T07:53:42Z,...}, text='test 13',...}`. These are hard to parse from another application perspective and so I would like to transform them before they are put o

[2020-05-05 08:54] orpiske opened #189 "Allow remote testing functionality w/ the embedded connect runtime"
Recently we switched to the same [embedded Kafka connect runtime](https://github.com/apache/camel-kafka-connector/blob/master/tests/src/test/java/org/apache/camel/kafkaconnector/services/kafka/EmbeddedKafkaService.java#L40) that is used by [Kafka itself](https://github.com/apache/kafka/blob/2.5/connect/runtime/src/test/java/org/apache/kafka/connect/util/clusters/EmbeddedConnectCluster.java) for th

[2020-05-05 13:23] #182 closed

[2020-05-05 13:47] oscerd commented on #163
@zregvart can you help on this?

[2020-05-05 13:56] zregvart commented on #163
There's documentation on how to [create a release note](https://github.com/apache/camel-website/#adding-new-release-note). The layout for the downloads page is [here](https://github.com/apache/camel-website/blob/master/layouts/download/download.html).

[2020-05-05 14:02] oscerd commented on #163
Yes, but that seems to be for camel only

[2020-05-05 14:05] zregvart commented on #163
A release note can be done for sub-projects and the layout can be extended to include those as separate entities. For example we currently filter on `rc` parameter indicating a release candidate, `project` parameter can be added to filter by projects.

[2020-05-05 16:14] sjwoodman commented on #188
I solved the problem and it is now working. :-) There were two problems

1. the `target.type` field needs to be qualified as `transforms.xxx.target.type`
2. I was looking in the wrong place to see any errors. Errors were not showing up in the KafkaConnect pod because the call to the Connect API was returning an error. The errors show up in the `status` section of the CR and can be viewed with `kub

[2020-05-05 16:14] #188 closed

[2020-05-05 16:25] orpiske opened #191 "Use the deliverable artifact in the plugin.path during testing"
The `plugin.path` configured in the connect runtime uses either the path of the [packaged jar](https://github.com/apache/camel-kafka-connector/blob/2b46335a9d28bbf09ca37507d409b0db9322b616/tests/src/test/java/org/apache/camel/kafkaconnector/PluginPathHelper.java#L45) or the [compiled classes](https://github.com/apache/camel-kafka-connector/blob/2b46335a9d28bbf09ca37507d409b0db9322b616/tests/src/te

[2020-05-05 16:25] orpiske commented on #191
c/c: @valdar

The risk we were discussing today.

[2020-05-05 19:42] valdar commented on #183
actually this was done in commit: f15b53b9beef270736c25a633decb51cc4dbec9b

[2020-05-05 19:42] #183 closed

[2020-05-05 20:54] #143 closed

[2020-05-05 20:54] #144 closed

[2020-05-06 09:38] valdar opened #194 "Support both marshal and unmarshal in source and sinks"
Right now a camel `dataformat` can be configured to `unmarshal` in a source connector and `marshal` in a sink connector. There are usecases where a `marshal` needs to be performed in a source connector and and `unmarshal` needs to be done in a sink connector (i.e. transforming from pojo to json and the other way around).

to do so would be good to support both `marshal` and `unmarshal` in both sin

[2020-05-06 10:50] #165 closed

[2020-05-07 07:43] oscerd commented on #186
It's not really straighforward to do. We need probably to rethink the tests. I'll leave this open.

[2020-05-07 08:30] orpiske commented on #186
Is there any particular test you think it's problematic?

[2020-05-07 08:38] oscerd commented on #186
The CamelSourceTaskTest in particular, wherever thread.sleep is used.

[2020-05-07 08:43] orpiske commented on #186
+1.

There's a few on CamelSourceAWSKinesisITCase too. Although they are still using an approach similar to the one [suggest by amazon](https://docs.aws.amazon.com/general/latest/gr/api-retries.html), I also think they could be improved.

[2020-05-07 12:03] #175 closed

[2020-05-07 12:04] oscerd opened #197 "Support multiple topics for connector configuration"

[2020-05-08 06:45] #142 closed

[2020-05-08 14:58] oscerd opened #199 "Switch to Camel 3.2.0"
or Camel 3.3.0, the RC for 3.3.0 will be this weekend.

[2020-05-09 20:13] valdar opened #202 "UnitOfWork.done() needs to be called on Polled exchanges"
See: https://github.com/apache/camel/blob/master/core/camel-api/src/main/java/org/apache/camel/PollingConsumer.java#L19-L30

[2020-05-10 10:08] fvaleri commented on #186
There is a proposed refactoring of `CamelSourceTaskTest` here:
https://github.com/apache/camel-kafka-connector/pull/201

I'm not using Awaitility, but a shared method called `getTaskWithFixedNumberOfRecords`. All properties from `CamelSourceConnectorConfig` used inside it are tested in isolated methods, so I think it's fine to use them when testing source task behaviors that do not involve them.

[2020-05-10 10:20] fvaleri opened #203 "Add connector dependencies in distribution package"
I see that most connectors out there include dependencies in the distribution package. With these it would be easier to automate deploy (just download and unzip).

For example, to deploy the SJMS2 connector, I also need to grab:
[code]

[2020-05-10 10:23] oscerd commented on #203
This is already fixed on master. It was related to activemq client scope

[2020-05-10 10:23] #203 closed

[2020-05-10 21:00] #186 closed

[2020-05-10 21:04] valdar commented on #186
I preferred to get rid of sleep(...) as in #204. From a long run on my machine, they seem stable enough now.

@fvaleri @orpiske @oscerd feel free to improve it in any way you see fit.

[2020-05-11 12:53] #199 closed

[2020-05-14 09:33] orpiske opened #211 "Improve integration test support when component dependencies are present"
In a scenario where you are testing Camel component A and your test depends on Camel component B is necessary to include Camel component B as a provided dependency on the test pom.

This makes testing more complicated, pollutes the pom and makes it harder to manage test dependencies.

[2020-05-14 09:34] orpiske commented on #211
Based on a discussion with @valdar

[2020-05-14 10:06] abouchama opened #212 "Camel-MongoDB Kafka connector: example with sink connector"
Is it possible to have an example with sink connector (e.g; CamelMongodbSinkConnector) ?

[2020-05-15 16:47] ruchirvaninasdaq commented on #97
@oscerd : What are the timelines for moving to camel 3.3.0? Thank you!!

[2020-05-15 17:41] oscerd commented on #97
We should release 0.2.0 during the weekend based on 3.2.0.. after that we should be able to release 0.3.0 based on 3.3.0, probably end of next of week or in a couple of weeks.

[2020-05-15 17:43] ruchirvaninasdaq commented on #97
Thank you so much for the update!!

You are an amazing team!!

[2020-05-16 14:24] orpiske commented on #212
For the record: I have a TC in progress for this, but there are some things I need to clarify w/ @valdar and @oscerd before sending a PR. Apparently, there's some things that the code needs to to do to have Camel correctly instantiate the connection bean.

[2020-05-16 15:43] valdar commented on #211
It is mildly related to #191

[2020-05-16 15:45] valdar commented on #211
Easy and useful mitigation would be to have each connector tests under a submodule of the `tests` project, so one can better control the tests classpath by having only the dependencies needed by a specific connector.

[2020-05-16 15:50] valdar opened #215 "Possible problems in CamelSinkAWSSQSITCase tests"
While refactoring tests to accommodate syslog test I properly implemented the `initializeConnectorBlocking` function and started to have random failures from `CamelSinkAWSSQSITCase`. For the moment I changed it to use `initializeConnector`.

Logically there should be no differences in the test outcome using one method or the other, but in case of `initializeConnectorBlocking` there is.

[2020-05-16 15:50] valdar commented on #215
cc: @orpiske

[2020-05-16 16:11] orpiske commented on #215
@valdar thanks, I'll look into this one.

[2020-05-17 08:09] #145 closed

[2020-05-17 12:41] oscerd opened #217 "Bump to Camel 3.3.0"
After release 0.2.0, which will go under vote soon.

[2020-05-18 10:00] orpiske commented on #211
+1. I think it would also make it easier to look at the tests logs. Right now, if we run all the tests at once, we end up with large log which is not always easy to read.

[2020-05-18 16:59] valdar commented on #162
They were not published during `0.2.0` release. These piece of work from INFRA is needed: https://issues.apache.org/jira/browse/INFRA-14923

[2020-05-18 17:00] valdar commented on #77
This is kind of being done as part of #145

[2020-05-18 17:00] #77 closed

[2020-05-18 17:38] valdar opened #219 "Updater the readme to autogenerated componnectors"
both https://github.com/apache/camel-kafka-connector/blob/master/docs/modules/ROOT/pages/try-it-out-locally.adoc and https://github.com/apache/camel-kafka-connector/blob/master/docs/modules/ROOT/pages/try-it-out-on-openshift-with-strimzi.adoc

[2020-05-18 17:39] valdar opened #220 "Autogenerate and example config file for each connector"
The aforementioned example property file can be included in the packaged version of each connector and in the connector documentation as well.

[2020-05-18 17:42] valdar opened #221 "Wrong signature of autogenerated method `public static ConfigDef conf(Map<String, String> parsedConfig)` of each `Camel*ConnectorConfig`"
It should be just `public static ConfigDef conf()`

[2020-05-19 14:31] oscerd opened #223 "CamelSinkTask headers must be cleaned before sending them ahead"
https://github.com/apache/camel-kafka-connector/blob/master/core/src/main/java/org/apache/camel/kafkaconnector/CamelSinkTask.java#L117

Actually we are sending the header with the prefix set for distinguishing between camel headers and kafka headers, but we need to remove the prefix before going ahead.

[2020-05-19 14:33] oscerd opened #224 "CamelSinkTask Properties need to be cleaned up before going ahead"
https://github.com/apache/camel-kafka-connector/blob/master/core/src/main/java/org/apache/camel/kafkaconnector/CamelSinkTask.java#L120

similar to #223 but for Properties

[2020-05-19 20:46] valdar opened #225 "Investigate why syslog documentation result in a missing link"
and basically why we were forced to do this: https://github.com/apache/camel-kafka-connector/commit/a2bcbb85d49beb930cb40f248857820b33450ef2

to check that it is fixed run `master` in https://builds.apache.org/job/Camel.website/

[2020-05-19 20:50] valdar opened #226 "Connectors doc generation shuld be moved from `core` to `connectors` module"
This https://github.com/apache/camel-kafka-connector/blob/master/core/pom.xml#L179-L191 should be moved from `core` to `connectors` module to ensure that it runs after connectors autogeneration.

To do so we must ensure that the plugin runs just one time and not once per connector see how it is done in the autogen plugin: https://github.com/apache/camel-kafka-connector/blob/master/tooling/camel-ka

[2020-05-20 07:36] #221 closed

[2020-05-20 09:10] oscerd opened #228 "Docs generation needs to be moved out of code autogeneration and run only once"
It must be moved out of the update mojo and living on his own.

[2020-05-20 09:56] #225 closed

[2020-05-20 10:59] #226 closed

[2020-05-20 15:15] #217 closed

[2020-05-20 16:27] #223 closed

[2020-05-20 20:37] valdar commented on #97
In `master` this has been fixed by #231. @ruchirvaninasdaq feel free to reopen if it will not be solved once 0.3.0 is released.

[2020-05-20 20:37] #97 closed

[2020-05-20 20:40] valdar opened #233 "Explore the possibilty of autogenerating some tests for each conenctor"
I am not sure they will add much test coverage but it could be feasible to automatically generate some tests for each connector.

The generated test would not actually start the endpoints but just instantiate the connector in a Kafka connect embed environment to check that at least dependencies and basic properties are fine.

[2020-05-21 07:06] #224 closed

[2020-05-24 22:41] #220 closed

[2020-05-25 09:38] valdar commented on #162
It seems that https://issues.apache.org/jira/browse/INFRA-14923 is now resolved, so next release 0.3.0 should be the one to verify this :crossed_fingers:.

[2020-05-25 10:26] valdar opened #241 "Use camel-depencencies to import versions of common libraries like Jakson, qpid, log4j etc."
Since right now we align these types of dependencies manually, probably is worth exploring if we can minimize that using `camel-dependencies` bom.

[2020-05-25 15:43] #241 closed

[2020-05-27 08:00] orpiske opened #245 "NullPointerException during shutdown when using Salesforce component"
This is related to this issue I reported for Camel: https://issues.apache.org/jira/browse/CAMEL-15063

Basically, during shutdown, Camel may throw an NPE within the Salesforce component. This happened w/ 3.3, but looking at 3.4 (master) it seems we are vulnerable of this issue.

I will send a proposed PR for Camel for this.

[2020-05-28 06:02] xixiwuwu opened #248 "pls"
I'm interested in this project. Please provide more examples, like sink sql, sink hbase.
thanks:)

[2020-05-28 06:04] oscerd commented on #248
Thanks we are already working on this. You can find more example at https://github.com/apache/camel-kafka-connector-examples

[2020-05-28 06:04] #248 closed

[2020-05-28 06:07] xixiwuwu commented on #248
I confuse how configure camel kafka connector register bean like spring jdbc datasource

[2020-05-28 13:22] orpiske commented on #245
The proposed fix on Camel was accepted. We can close this once we move to 3.4: https://github.com/apache/camel/pull/3867

[2020-05-28 14:09] oscerd opened #249 "Upgrade to Kafka 2.5.0"

[2020-05-28 14:11] oscerd opened #250 "Camel AWS2-S3: Add the same converters and transforms we have for AWS-S3 connector"

[2020-05-28 17:08] saranyaeu2987 opened #251 "Caused by: java.lang.NoClassDefFoundError: Could not initialize class org.apache.camel.kafkaconnector.CamelSinkConnectorConfig"
I am trying to run camel-kafka-connector in my minikube and Strimzi but getting
Caused by: java.lang.NoClassDefFoundError: Could not initialize class org.apache.camel.kafkaconnector.CamelSinkConnectorConfig

Here is my image Docker file

[code]

Here is my plugins folder contains the following jars
<img width="1602" alt="Screen Shot 2020-05-27 at 10 25 32 PM" src="https://user-images.githubusercon

[2020-05-28 17:26] oscerd commented on #251
Can you please show your configuration file?

[2020-05-28 17:30] saranyaeu2987 commented on #251
Here is my kafkaconnect Strimzi deployment yaml file

[code]

Here is my KafkaConnector deployment file

[code]

[2020-05-28 20:16] valdar commented on #251
@saranyaeu2987 can you please try with this dockerfile:
[code]

[2020-05-28 21:26] saranyaeu2987 commented on #251
Worked. Thanks a lot!!

[2020-05-29 09:20] oscerd commented on #251
The simple language is not resolved in the sink.url

[2020-05-29 13:25] saranyaeu2987 commented on #251
@valdar @oscerd

I want my CamelSinkConnector(s3) to consume in batches of 1000 messages or for interval of 10seconds.
How can I set this property in yaml file ?

[2020-05-29 13:31] oscerd commented on #251
The S3 sink connector doens't provide a batch size option because it's mapped on the camel producer options actually. The producer doesn't work as a batch job.

[2020-05-29 13:34] saranyaeu2987 commented on #251
So, this property **CamelBatchSize** in https://camel.apache.org/manual/latest/batch-consumer.html
will not be applicable to s3sink connector?

[2020-05-29 13:39] oscerd commented on #251
Yes, because you're mixing up the concepts: a consumer in Camel wii be used when you're using a Source connector, so you'll have the consumer options in that case.
For example if you use the source connector you can set the

camel.source.endpoint.maxMessagesPerPoll

And define how much messages will be part of the batch consumed.

On the sink side you will be using the producer option.

Source opt

[2020-05-29 13:43] saranyaeu2987 commented on #251
Got it.
I wanted to add variable date in camel.sink.url. is there a way to add it.
without variable part, the file in S3 is getting overwritten.

Here is my yaml file for your reference
[code]

[2020-05-29 13:52] oscerd commented on #251
I don't think it's possible with simple language. So I guess you'll need to add something dynamic there.

[2020-05-29 15:46] saranyaeu2987 commented on #251
@oscerd
I see both ${date:now:yyyyMMdd} and exchangeId in this document (https://camel.apache.org/components/latest/languages/simple-language.html)

Why is it's not possible in simple language? Pardon me if I again mixup concepts

[2020-05-29 15:48] oscerd commented on #251
It's not possible because you're declaring this stuff in a static file, simple language should be used in a real Camel route. The kafka configuration for connector is not dynamic, it's static.

[2020-05-29 16:32] oscerd opened #252 "In case of Sink we need to use toD instead of to"
https://github.com/apache/camel-kafka-connector/blob/master/core/src/main/java/org/apache/camel/kafkaconnector/utils/CamelMainSupport.java#L108

Actually changing to toD, make it possible to declare uriParam by using simple language.

[2020-05-29 21:38] oscerd commented on #251
We are working on enabling the dynamic resolver with #252

[2020-05-30 00:09] saranyaeu2987 commented on #251
@oscerd
Thanks a lot. Rebuild jar with that line of change in my local and new files are created as expected!!!

Any plans to enable batch push mode in S3 sink ?

[2020-05-30 07:18] oscerd commented on #251
It's not supported on the sink side. The camel producer is not designed for batch.

[2020-06-08 13:28] alessandromonguzzi opened #259 "Camel-elasticsearch-rest-kafka-connector throws java.lang.NoClassDefFoundError: org/apache/logging/log4j/LogManager"
Download camel-elasticsearch-rest-kafka-connector from https://repo1.maven.org/maven2/org/apache/camel/kafkaconnector/camel-elasticsearch-rest-kafka-connector/0.2.0/camel-elasticsearch-rest-kafka-connector-0.2.0-package.zip
The log4j2 dependencies are missing and they cause NoClassDefFoundError when the connector is used.

To reproduce it with Strimzi follow these steps:
1. Start Kafka broker clus

[2020-06-08 14:18] orpiske opened #260 "AWS S3: bucket name not resolved when using URL configuration"
The bucket name does not seem to be resolved when using only the URL to set the source.

Here's a snippet from a configuration file:

[code]

Then, during startup:

[code]

To reproduce the problem run:

`mvn -DskipIntegrationTests=false -Dmaven.test.failure.ignore=true -Dmaven.test.error.ignore=true -Dit.test=CamelSourceAWSS3ITCase\#testBasicSendReceiveUsingUrl clean test`

[2020-06-08 15:45] oscerd commented on #260
I get

Caused by: org.apache.camel.ResolveEndpointFailedException: Failed to resolve endpoint: aws-s3://ckc-s3?accessKey=accesskey&configuration=%23class%3Aorg.apache.camel.kafkaconnector.source.aws.s3.TestS3Configuration&protocol=http&region=US_EAST_1&secretKey=xxxxxx due to: There are 1 parameters that couldn't be set on the endpoint. Check the uri if the parameters are spelt correctly and that

[2020-06-08 17:15] oscerd opened #261 "Add download links to the connectors list page"

[2020-06-08 18:39] orpiske commented on #260
You are right. There is one more step that I forgot to mention:
1. Comment the protocol parameter on [this line](https://github.com/apache/camel-kafka-connector/blob/f3e0ad9536cff4163198989e119495cb5a256dc6/tests/src/test/java/org/apache/camel/kafkaconnector/source/aws/s3/CamelSourceAWSS3ITCase.java#L167).

I found this while working on a separate PR and commented it after I noticed that it was ca

[2020-06-08 19:27] valdar commented on #260
@orpiske can you post the complete config file please?

[2020-06-08 19:48] orpiske commented on #260
Here's the config generated by the test:

[code]

[2020-06-09 07:58] orpiske opened #263 "Camel HDFS: does not work due to dependencies conflicts"
It seems that the HDFS Connector cannot be loaded due to conflicts between the dependencies used by the component and the ones available on the connect runtime.

Without manipulating the classpath, loading the dependencies fail because a dependency carried by either one of them does not seem to contain the getProperties on the Application class (which comes from `javax.ws.rs:javax.ws.rs-api`). Man

[2020-06-09 13:36] rgannu opened #264 "Add CamelAMQP source and sink example properties"
I was struggling for a day to determine how to transfer the data from kafka to amqp 1.0 broker end point using the camel-amqp-kafka-connector. At the end I was able to do that with the attached sink configuration.
Could you please add this as part of the examples directory ?
Also, please add the corresponding the AMQP source configuration.

examples/CamelAmqpSinkConnector.properties
[code]

[2020-06-09 13:39] oscerd commented on #264
Thanks a lot, Can you open a Pull Request on https://github.com/apache/camel-kafka-connector-examples ?

[2020-06-09 13:56] valdar commented on #263
As @oscerd suggested I think we must handle this at camel component level and align dependencies there if it makes sense.

[2020-06-09 14:26] valdar commented on #259
Hello, thanks for the detailed report.

Can you pleas add `org.slf4j:log4j-over-slf4j:jar:1.7.30` jar (i.e. https://repo1.maven.org/maven2/org/slf4j/log4j-over-slf4j/1.7.30/log4j-over-slf4j-1.7.30.jar) to `connectors/camel-elasticsearch-rest-kafka-connector/` before running the s2i build and see if it makes any difference?

[2020-06-09 14:34] oscerd commented on #263
I guess we need a JIRA for this, because it won't be easy, especially in Karaf.

[2020-06-09 14:36] orpiske commented on #263
I'll open one there.

[2020-06-09 14:42] orpiske commented on #263
Done: https://issues.apache.org/jira/browse/CAMEL-15169

[2020-06-09 14:47] rgannu commented on #264
Created also a pull request in the camel-kafka-connector-examples: https://github.com/apache/camel-kafka-connector-examples/pull/8

[2020-06-09 14:53] #264 closed

[2020-06-09 14:53] oscerd commented on #264
Thanks a lot!

[2020-06-09 15:39] #261 closed

[2020-06-09 23:07] saranyaeu2987 opened #267 "Question: How to provide aws role:arn value to authenticate S3"
Hi,
I am using strimzi kafka connect to push data into S3 using camel-s3-sink-connector.
I wanted to use IAM role authentication instead of access key and secret.

How should I need to provide AWS role:arn in my yaml file when **camel.component.aws-s3.useIAMCredentials: true**??

Sample deployment file (reference: https://developers.redhat.com/blog/2020/02/14/using-secrets-in-apache-kafka-connect-

[2020-06-09 23:20] valdar commented on #267
If is the bucket s3 arn I think you can place it where `testse1232` is in the example config you provided.

[2020-06-10 00:01] saranyaeu2987 commented on #267
@valdar
Its is an IAM role arn which has full access to S3 bucket policy
arn:aws:iam::*******:role/stg-abc-s3-ae4c7ad7.

Can I give IAM arn in front of bucket name ?

[2020-06-10 09:36] valdar commented on #267
As far as I know, it is not possible to authenticate just using an arn role. There are 2 options:

1. Provide `access-key`, `secret-key` and `useIAMCredentials: false`.
2. `useIAMCredentials: true`, in this case, the connector should configure itself from the EC2 environment in which it runs.

[2020-06-11 08:49] alessandromonguzzi commented on #259
Hi, I retested with the log4j-over-slf4j jar above and the issue is no more reproduced.

[2020-06-11 10:36] valdar commented on #259
Ok good to know! Then I will go on with including that jar in the dependencies. Thanks a lot for the issue and the time to follow this through.

[2020-06-11 14:11] rgannu opened #269 "Camel type converter is not able to handle null payload"
Camel type converter gives the following exception when it encounters null in the payload.
I am using the camel-file-sink-connector to dump the kafka message.
The kafka message comes from the postgresql database using Debezium source connector.
---
A database DELETE operation causes Debezium to generate two Kafka records:
- A record that contains "op": "d", the before row data, and some other fiel

[2020-06-11 14:13] oscerd commented on #269
For this kind of stuff, you could write your own converter, the camel converter for File is not developed for dealing with Debezium. Camel-Kafka-connector is built upon Camel, but Camel has its own mechanism.

[2020-06-11 15:58] balasapient opened #270 "Azure blob sink does not put file in azure"
I am trying to use the azure blob sink connector to read a kafka topic and put the messages as file in azure blob storage. I am using the following config file and the files are not getting created.

Please find the trace logs here [connect.log](https://github.com/apache/camel-kafka-connector/files/4765904/connect.log)
[code]

[2020-06-11 22:47] valdar commented on #251
@saranyaeu2987 I am closing this one for the moment since work is tracked in https://github.com/apache/camel-kafka-connector/issues/252 . Feel free to reopen this one or open another issue if something still needs to be clarified.

[2020-06-11 22:48] #251 closed

[2020-06-11 22:49] valdar commented on #267
@saranyaeu2987 I am closing this one for now. Feel free to reopen this one or open another issue if something still needs to be clarified.

[2020-06-11 22:49] #267 closed

[2020-06-11 23:07] valdar commented on #260
Ok, after some investigation on why this is failing only if ran alone. I figured out that tests where not that isolated in regards to deleting topics in between tests.

The fix for this specific problem is just setting the S3 configuration object at the `component` level instead of doing it at the `endpoint` level see: https://github.com/apache/camel-kafka-connector/pull/272

[2020-06-12 08:54] orpiske commented on #260
Cool, thanks great! Thanks @valdar and sorry for the false negative!

[2020-06-13 05:14] ksingh7 commented on #251
@saranyaeu2987  Did you managed to dump kafka data onto S3 in batches. With your examples, i manged to get data moving from Kafka topic on to S3, however for every new Kafka message, its creating a object inside S3 bucket, which is highly inefficient.

So i am wondering if you managed to fix this using some camel.sink properties.  Any help on this is much appreciated.

![image](https://user-images

[2020-06-13 05:18] saranyaeu2987 commented on #251
I know it's inefficient. I checked with camel team and they mentioned that
feature is not available.

 Let me know if you find suitable solution.

On Sat, Jun 13, 2020, 12:14 AM karan singh <notifications@github.com> wrote:

[2020-06-13 05:27] oscerd commented on #251
It's how the component has been designed

[2020-06-13 05:30] saranyaeu2987 commented on #251
@oscard
Any plan to add it as a new feature request?

On Sat, Jun 13, 2020, 12:27 AM Andrea Cosentino <notifications@github.com>
wrote:

[2020-06-13 05:37] oscerd commented on #251
I don't see how it would be useful. In camel, when you send a message to s3 through a producer it will be written as s3 object directly. In S3 there is no append operation. So I really don't see why changing the behavior. Also batch operation in what sense? Writing multiple lines on a same file? Or write multiple file in one shot? There is no batch support in S3 sdk v1 as far as I know.

[2020-06-13 05:46] saranyaeu2987 commented on #251
@oscard
Looking for option to reduce number of files generated in s3 like grouping
all messages for a timeframe (say 5 seconds) before writing  and generate
one s3 file for that timeframe.
When we add a hive schema on top of s3 location, query performance reduces
with large number is small files.

One more question, is there a way to autocreate a folder in s3 using simple
(yymmdd) given in camel.s

[2020-06-13 05:56] oscerd commented on #251
There is no plan for this at the moment. Also the aws S3 component is old, so we won't introduce new stuff there. It's easier on aws2-s3.

For the second question, no. There is no folder concept in S3 and we didn't focus on it

[2020-06-13 06:04] saranyaeu2987 commented on #251
@oscerd
1. Does aws2-s3 also doesn't batch feature?
2. Is simple supported in aws2-s3 sink connectors?
3.Can aws2-s3 be used instead is aws-s3 for my above example.
4. Any doc on differences between them ?

[2020-06-13 06:08] oscerd commented on #251
1. No
2. Once we merge the dynamic PR, all the connectors will support simple
3. It should work
4. The only difference is the sdk version 2 vs 1. Features are the same.

[2020-06-13 13:58] ksingh7 commented on #251
@oscerd  First of all thanks for building this connector, I am happy that it works \o/

I like to share a use case of Kafka Messages ===Batching===> S3  (inspired by RHT Open Hybrid Edge Computing project )

Suppose we wanted to ingest live sensor data from a fleet of thousands of IoT devices (ex : connected smart cars, industrial sensors etc) into Kafka. We wanted to persist data for long term pr

[2020-06-15 06:12] oscerd commented on #251
Directly in S3 AWS SDK, it's not possible to do this. In the Camel component this is not something we could do directly, because S3 doesn't support appending to an S3 object.

[2020-06-15 06:14] oscerd commented on #251
I'll have a look to Kinesis Firehose in combination to S3.

[2020-06-15 22:57] #260 closed

[2020-06-15 23:04] #215 closed

[2020-06-16 15:50] oscerd opened #274 "Being able to inject an aggregator in a sink connector"
I don't know if this would be feasible or not, but we could be able to inject an aggregator just before the .to in CamelMainSupport. In this way we could implement an AggregationStrategy and collect data before sending them to the sink external system. Just food for thoughts

@valdar

[2020-06-16 20:34] #259 closed

[2020-06-17 10:33] valdar commented on #162
Unfortunately, this wasn't enough :disappointed: conversation is continuing inhttps://issues.apache.org/jira/browse/MINSTALL-138 and https://issues.apache.org/jira/browse/MRESOLVER-56

[2020-06-17 11:34] orpiske commented on #263
For the integration tests, I managed to work-around this problem with a couple of exclusion hacks: https://github.com/orpiske/camel-kafka-connector/blob/hdfs-test/tests/itests-hdfs/pom.xml#L45

Nonetheless, the package might still have the problem and only work adequately once we get 3.4.0 with @oscerd patches.

[2020-06-17 11:40] oscerd commented on #263
Have you tried with 3.4.0-Snapshot

[2020-06-17 12:11] orpiske commented on #263
Not yet, but I will do it soon and report back.

[2020-06-17 15:30] oscerd opened #279 "Define the excluded Components list"
After #278 has been merged, we need to set a list of excluded components

[2020-06-17 16:35] oscerd commented on #148
Filter must stay

[2020-06-17 17:55] #148 closed

[2020-06-17 18:03] orpiske commented on #263
So, I tried with and without the excludes and both failed. In both cases, the problem seems to be caused by:

`Caused by: java.lang.ClassNotFoundException: org.eclipse.jetty.util.component.AttributeContainerMap`.

[2020-06-17 23:58] saranyaeu2987 opened #282 "Question: Does Camel looks for IAM roles from Env variables"
This is a followup of https://github.com/apache/camel-kafka-connector/issues/267.

@valdar @oscerd

We configured EKS k8s pod with serviceaccount with IAM role for S3 authentication (https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html) which will create 2 ENV variables inside pod
[code]
When I try to run Camel Sink connector, **I get Access Denie

[2020-06-18 05:11] oscerd commented on #282
It's not supported. If you want to use IAM credentials you need to create your own EKS client instance and set it as config option. Useiamcredebtials is not listed in the documentation of this connector

[2020-06-18 13:47] saranyaeu2987 commented on #282
@oscerd
Where do you look for IAM credentials in a EC2 instance? Are Env variables in credentials provider chain?

[2020-06-18 13:57] oscerd commented on #282
That's related to the underline instance. It's the IAM role with you created the ec2 instance. No the env variables are not taken into account. With the Aws2 components you can inject your own client instance and it will look to env variables if you don't provide a credential provider

[2020-06-18 14:04] valdar commented on #282
@saranyaeu2987 there are more info here: https://github.com/aws/aws-sdk-java-v2/issues/1470 but you need sdk version >= `2.10.11`, so you need to use `camel-aws2-*-kafka-connector` versions...

[2020-06-18 14:20] saranyaeu2987 commented on #282
@valdar
Thanks for prompt response.
https://repo1.maven.org/maven2/org/apache/camel/kafkaconnector/camel-aws2-s3-kafka-connector/0.2.0/ has only 0.2.0 version.
Where can I find camel-aws2-2.10.11-kafka-connector jar/binaries ?

[2020-06-18 14:24] geota commented on #282
@valdar is correct. This should be as easy as Camel using the correct SDK version that has support for the AWS_WEB_IDENTITY_TOKEN_FILE env var. This should just be crawled in the DefaultCredentialProvider chain that the SDK executes to find credentials.

[2020-06-18 14:28] oscerd commented on #282
For the env variables for secret and access key, the standard client instance should check them out of the box

[2020-06-18 14:34] geota commented on #282
@oscerd we are trying to get EKS role based credentials working. To be clear, this is the official AWS supported way of providing role base credentials to Kubernetes pods. Our company does not allow access key/secret keys to avoid credential management overhead (securing, cycling, invalidating etc) and enforces all AWS access to use roles.

AWS added a new way to source credentials in their SDKs t

[2020-06-18 14:39] oscerd commented on #282
Anyway, it should possible when instancing your own client. Using the correct version

[2020-06-18 14:43] saranyaeu2987 commented on #282
@oscerd @valdar
Does Camel repo have camel-aws2-0.2.0-kafka-connector.jar ? does it support aws-sdk >= 2.10.11

[2020-06-18 19:10] saranyaeu2987 commented on #282
@valdar
I am not very successful in resolving access issue.

I tried both **camel-aws2-s3-kafka-connector-0.2.0.jar** and **camel-aws-s3-kafka-connector-0.2.0.jar** both gave me access issue.

Below are list of plugins used.
<img width="1248" alt="Screen Shot 2020-06-18 at 2 07 33 PM" src="https://user-images.githubusercontent.com/19850718/85061979-568f3980-b16d-11ea-8dbc-f93f858c6b89.png">

I am

[2020-06-18 19:56] oscerd commented on #282
Only the Aws2 connectors are based on sdk v2. The version used on 0.2.0 kafka connector of sdk v2 is 2.11.5

[2020-06-18 20:15] saranyaeu2987 commented on #282
@oscerd
I tried 2 images having camel aws2 jars and both gave the same following error
**Image 1  with following plugins**

![Screen Shot 2020-06-18 at 3 00 38 PM](https://user-images.githubusercontent.com/19850718/85067411-40d24200-b176-11ea-8820-1f99757a1504.png)

**Image 2  with following plugins**
![Screen Shot 2020-06-18 at 3 13 32 PM](https://user-images.githubusercontent.com/19850718/850675

[2020-06-18 20:27] oscerd commented on #282
The scheme for aws2-s3 is aws2-s3, so it is camel.component.aws2-s3...

[2020-06-18 20:31] saranyaeu2987 commented on #282
@oscerd
Can you please give me maven repo link?
There is are similar component folders in https://repo1.maven.org/maven2/org/apache/camel/ and have hard time in finding dependent jars

[2020-06-18 21:35] oscerd commented on #282
You have all the information and download links here
https://camel.apache.org/camel-kafka-connector/latest/connectors.html

[2020-06-18 21:43] saranyaeu2987 commented on #282
@oscerd @valdar

Yes, thats where I am getting all jars from

I still getting access denied issues after using aws2-s3. TBH clueless

[2020-06-18 21:53] oscerd commented on #282
Please report your configuration, what you're setting, how is your client instance?

[2020-06-18 21:55] oscerd commented on #282
And you don't have to replace any jar in your plugin. Simply download the Aws2 s3 zipped connector and unzip it in your plugin path. Don't mix up dependencies.

[2020-06-18 22:27] saranyaeu2987 commented on #282
Thats what I did in last run.

**Configurations**
1. K8S on EKS cluster. Pod instance config
![Screen Shot 2020-06-18 at 5 24 30 PM](https://user-images.githubusercontent.com/19850718/85077900-f0181480-b188-11ea-9a6a-f40e02bf99fb.png)

2. Yaml file
[code]
3. Env variables property set in pod

[code]

4. (K8s Pod Configuration)
Service Account which has access to bucket

[code]

[2020-06-19 05:56] oscerd commented on #282
If you use the useIAMCredential parameter, the client won't check for env variables. The documentation is clear on this: "Set whether the S3 client should expect to load credentials on an EC2 instance or to expect static credentials to be passed in."

You need to provide your own client instance, like explained here: https://docs.aws.amazon.com/sdk-for-java/v2/developer-guide/credentials.html

`
R

[2020-06-19 06:32] saranyaeu2987 commented on #282
@oscerd
1. If I dont provide
`  camel.component.aws2-s3.useIAMCredentials: true`
Camel expects static for value for camel.component.aws-s3.accessKey AND camel.component.aws-s3.secretKey right ? What value should I need to provide them?

2. Also,  camel.sink.endpoint.amazonS3Client is a reference to a com.amazonaws.services.s3.AmazonS3 in the registry. I didnt understand why we need to set this con

[2020-06-19 06:41] oscerd commented on #282
1. useIamCredentials works by using the underline EC2 credentials used to create the ec2 instance, if you don't use that you need to provide static credentials.

2. You need to create an instance of the client and pass it to the configuration like we did for example here: https://github.com/apache/camel-kafka-connector/blob/master/examples/CamelAmqpSourceConnector.properties#L27 with the #class no

[2020-06-19 13:08] oscerd opened #283 "Upgrade to Camel 3.4.0 LTS version"

[2020-06-19 15:18] saranyaeu2987 commented on #282
@oscerd

Do you mean something like below ?

[code]

and  in kafkaconnector.yaml

[code]

[2020-06-19 15:25] oscerd commented on #282
yes, something like that

[2020-06-19 15:31] saranyaeu2987 commented on #282
@oscerd
I get this error now. If my S3Client class and yaml file right ?

**org.apache.camel.ResolveEndpointFailedException: Failed to resolve endpoint: aws2-s3://heb-stg-emd-store-raw-ora.pemd?keyName=s3-connect/20200619/20200619-152832018 due to: useIAMCredentials is set to false, AmazonS3Client or accessKey and secretKey must be specified**

Here is the kafkaconnector.yaml file

apiVersion: kaf

[2020-06-19 15:36] oscerd commented on #282
I do have to try. I'll have a look next week, maybe.

[2020-06-19 21:54] saranyaeu2987 commented on #282
@oscerd @valdar

Is the above error is because `camel-aws2-s3` uses only StaticCredentialsProvider (accesskey and secret) and not WebIdentityTokenFileCredentialsProvider in case of no useIAMCredentials ?

https://github.com/apache/camel/blob/39cbd7f6866cb041d77f6fddc3c7c0721e4d0926/components/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/client/AWS2S3ClientFactory.java#L40

Is thi

[2020-06-19 21:58] oscerd commented on #282
It's not a bug, not all the credential provider can be supported in the component out of the box. We have to choose and btw it's something else. You need to instantiate the client and from the error it's clear that the client is not in the registry.

[2020-06-19 21:59] oscerd commented on #282
Any client instantiated should work. So it's definitely something in the way you are defining the client and configuring it.

[2020-06-19 22:06] saranyaeu2987 commented on #282
--> ok, How to check if that my custom S3 client is in registry or not ?

This is how I have added - I have created a separate jar with one class **HEBS3Client** with following definition
[code]

with config
`camel.sink.endpoint.amazonS3Client:org.apache.camel.kafkaconnector.CustomS3Client`

and added jar in docker container which have other camel files.

[2020-06-22 12:53] orpiske opened #288 "Enable testRetrieveFromCassandraWithCustomStrategy on CamelSourceCassandraITCase"
The [testRetrieveFromCassandraWithCustomStrategy](
https://github.com/apache/camel-kafka-connector/blob/5090422c4faa6cfe2f506a5a53d14a875af5b654/tests/itests-cassandra/src/test/java/org/apache/camel/kafkaconnector/cassandra/source/CamelSourceCassandraITCase.java#L117) is currently disabled because of [CAMEL-15219](https://issues.apache.org/jira/browse/CAMEL-15219). This issue is now fixed on Camel

[2020-06-22 16:52] oscerd opened #290 "Aggregator support for completionTimeout too"
Actually we are closing the aggregation only based on completionSize, but we can add an option for completionTimeout too.

[2020-06-22 17:31] #274 closed

[2020-06-23 04:46] oscerd opened #291 "Add Aggregate integration test"

[2020-06-23 17:23] #283 closed

[2020-06-23 17:23] oscerd commented on #263
Updated to 3.4.0 and merged, I see that error, so we need to have a look

[2020-06-23 19:32] orpiske commented on #263
Should I go ahead and disable them while we investigate?

[2020-06-23 19:38] oscerd commented on #263
Maybe disable it for the moment

[2020-06-24 12:31] oscerd commented on #212
This should be done https://github.com/apache/camel-kafka-connector/pull/295/commits/3db491eccbfb6eb2db27e4f4c2e97cf3f0c549e3

[2020-06-24 12:31] #212 closed

[2020-06-24 16:10] #252 closed

[2020-06-24 16:35] orpiske opened #297 "Outdated camel-dependencies version?"
Hey @oscerd / @valdar, I noticed that the code is using [camel-dependencies:3.3.0 ](https://github.com/apache/camel-kafka-connector/blob/286dc141ab84911f19319a1e0a865137c7fb3927/pom.xml#L26).

I am not sure if this is intentional or not, but since we have upgraded to Camel 3.4, I was wondering if it should use the 3.4.0 one. What do you think?

[2020-06-24 16:37] oscerd commented on #297
I'm on it, building everything now :-)

[2020-06-24 16:38] orpiske commented on #297
@oscerd ahhh, awesome, thanks!

[2020-06-24 16:38] oscerd commented on #297
This is something I keep on forgetting even in other subprojects. I'm sorry.

[2020-06-24 18:00] #297 closed

[2020-06-24 20:55] saranyaeu2987 opened #299 "Nullpointer exception at org.apache.camel.component.aws2.s3.AWS2S3Producer.processSingleOp"
My kafkaconnect stopped after encountering Null pointer exception in middle of message consumption.
Any guidance on what could caused this issue. Attached full log for reference??
[container (8).log](https://github.com/apache/camel-kafka-connector/files/4827868/container.8.log)

[code]

The below error causes k8s pod to restart and causing duplicate messages in S3

[2020-06-24 21:05] oscerd commented on #299
It seems an empty body

[2020-06-24 22:27] saranyaeu2987 commented on #299
@oscerd
Do you mean empty message in a topic? Can a producer send an empty message to a topic?

[2020-06-25 04:10] oscerd commented on #299
It seems you have a mixed classpath or something like that.
https://github.com/apache/camel/blob/camel-3.2.0/components/camel-aws2-s3/src/main/java/org/apache/camel/component/aws2/s3/AWS2S3Producer.java#L303

At line 303 I see just this. Also don't use tasksMax equal to 10, this will create 10 routes, distributed mode for this connector is actually not supported, so leave it at 1.

[2020-06-25 04:13] saranyaeu2987 commented on #299
Sink Connector  is running slow. It took 40 min to consume 5k message if
tasksmax=10. Extremely slow if tasksmax =1.

On Wed, Jun 24, 2020, 11:10 PM Andrea Cosentino <notifications@github.com>
wrote:

[2020-06-25 04:16] saranyaeu2987 commented on #299
Messages are simple json size < 1kb. Any suggestions how to speed up connector with tasksmax=1 ?

[2020-06-25 04:18] oscerd commented on #299
The connector is always based on the component, an optimization could be done in the component, but you've to deal with S3 anyway. This project is still under active development, so there is always space for improvements and you're welcome to contribute.

[2020-06-25 04:30] saranyaeu2987 commented on #299
By component do you mean aws2-s3 component. ?
Do you have any component which support distributed mode? I would like to
take a look for reference

On Wed, Jun 24, 2020, 11:18 PM Andrea Cosentino <notifications@github.com>
wrote:

[2020-06-25 04:33] oscerd commented on #299
AWS2-S3 component, yes.

Distributed mode is currently not supported. We are still looking at it.

[2020-06-25 16:44] #290 closed

[2020-06-25 16:48] oscerd opened #302 "Add a release notes page in docs"

[2020-06-25 16:48] oscerd opened #303 "Add an aggregation page in docs"

[2020-06-25 21:33] #249 closed

[2020-06-30 05:45] oscerd commented on #270
@balasapient did you find a fix? Can you please add an example here https://github.com/apache/camel-kafka-connector-examples ?

[2020-06-30 06:02] balasapient commented on #270
@oscerd I ended up using CamelAzurestorageblobSinkConnector, I will add an example for it.

[2020-06-30 07:36] orpiske commented on #263
I sent a PR that fixes the test execution, so we should be fine with regards to the dependencies conflicts. However I am not entirely sure if HDFS is working on some circumstances (specifically within kubernetes/openshift - I am investigating and I'll open a separate ticket if that's the case).

[2020-06-30 08:22] orpiske opened #310 "CAMEL-15063 work-around may be removed"
Since we have moved to 3.4, I think we can remove this workaround for the aforementioned issue: https://github.com/apache/camel-kafka-connector/blob/master/connectors/camel-salesforce-kafka-connector/src/main/java/org/apache/camel/component/salesforce/SalesforceComponentCKC.java#L22

[2020-06-30 12:06] akhileshacc opened #311 "In S3 source connector, how to fetch only new files ?"
I am using S3 source connector tp fetch files from S3. It works fine and gets back all records.
But on adding new files, it again gives all reacords.

Here is my configuration
[code]

How do i set this configuration ?

[2020-06-30 12:10] oscerd commented on #311
You need to set the deleteAfterRead to true and the file will be deleted once consumed.

[2020-06-30 12:34] oscerd commented on #311
Explained.

[2020-06-30 12:34] #311 closed

[2020-06-30 12:35] oscerd commented on #310
@orpiske can you open a PR for this? Thanks.

[2020-06-30 13:07] orpiske commented on #310
@oscerd absolutely. I can take care of this. I'll send a PR tomorrow/after tomorrow after I finish the remaining HDFS checks :)

[2020-06-30 16:33] akhileshacc commented on #311
What if I don't want to remove content from s3 ?

[2020-06-30 16:37] oscerd commented on #311
You can use the aws2-s3 component and use the moveAfterRead option

[2020-06-30 17:03] oscerd commented on #311
I'll add an example in camel-kafka-connector-examples repository

[2020-07-01 05:09] akhileshacc commented on #311
Thanks for the help. Using moveAfterRead expects a destination bucket. What if i don't want to use new bucket.
Is it possible currently ?

[2020-07-01 05:13] oscerd commented on #311
No, it's not. The connector is generated starting from the camel component, so you need to move the file somewhere else, actually only a different bucket is supported.

[2020-07-01 05:58] akhileshacc commented on #311
Do we plan to add this functionality down the line ?

[2020-07-01 06:01] oscerd commented on #311
No, we don't. It doesn't make sense. If you use Camel, you can add an idempotent repository to the consumer, so you would be able to consume each file just one time and at the same time we cannot change the Camel component behavior for a particular use case. Moving stuff to a different bucket it's already a good tradeoff.

[2020-07-01 06:04] akhileshacc commented on #311
Got it thanks.

What do you mean by this ?

[2020-07-01 06:07] oscerd commented on #311
In Apache Camel you can use https://camel.apache.org/components/latest/eips/idempotentConsumer-eip.html

So if you really need to avoid a situation where you have to move the files on a different bucket, you can avoid using the camel-aws-s3 connector and pass your application to a pure camel route, by using the camel-aws-s3 component in combination with the camel-kafka component.

[2020-07-01 10:55] #263 closed

[2020-07-01 11:49] akhileshacc commented on #311
Sure, trying it out.

A question regarding idempotent.
Will messages coming from s3 to kafka be filtered after they reach kafka-connect ?
If yes then won't we be having traffic overhead as files data will continue to move only not get added to topic ?

or this mechanism filters file list and sends only new one ?

[2020-07-01 11:59] oscerd commented on #311
No, they will be filtered before reaching kafka. If you use the idempotentRepository don't forget to set the deleteAfterRead=false, so the file won't be deleted

[2020-07-01 19:44] orpiske commented on #310
Quick status update: I have the PR ready and I am planning to send it tomorrow morning if it passes the Salesforce tests on CI.

[2020-07-02 08:42] #310 closed

[2020-07-02 11:56] akhileshacc opened #313 "How to break messages when ingesting into kafka"
I wanted to break messages before sending to kafka endpoint.
Is it possible to do with processors ?

I am trying to send S3 files data to kafka using s3 and kafka components.
[code]

How do i break messages before sending to kafka ?

[2020-07-02 11:58] oscerd commented on #313
Hello.

1. What do you mean with break messages?
2. This is the issue tracker for camel-kafka-connector, but you're using camel. You should ask on the camel users mailing list or dev mailing list: https://camel.apache.org/community/mailing-list/ and ask there.

[2020-07-02 12:00] akhileshacc commented on #313
1. If text file has 10mb data, can i pick 10 records with 1mb of data and then store it.
2. Sure will do so.

[2020-07-02 12:09] oscerd commented on #313
You can implement a processor. Each S3ObjectInputStream can be read and you can read the data for example 1 Mb

[2020-07-02 12:12] oscerd commented on #313
By the way, it's better to discuss this on the mailing list to avoid confusion.

[2020-07-02 12:12] #313 closed

[2020-07-03 04:28] akhileshacc commented on #313
Thanks for the help.

[2020-07-03 09:22] akhileshacc opened #314 "From S3 to kafka, when using Idempotent filter, Do we still fetch S3 file content ?"
Hi,

I am using camel's aws and kafka components.

[code]

I have added 1 text file in S3.  It works well and adds file content to kafka only once.
But I see these logs, seems like S3 object is constantly fetched, and only filtered before adding to kafka.

Am i correct in understanding this behaviour ?

If yes, Is there a work around so the file is not fetched.

Logs

If you check text file `Camel

[2020-07-03 09:25] oscerd commented on #314
Again, this is not the right place for asking this. Ask on the users mailing list of Camel. This is the camel-kafka-connector subproject and it uses a different approach. Wait for response on the ML, users or devs may be busy like you.

[2020-07-03 09:25] #314 closed

[2020-07-03 09:26] akhileshacc commented on #314
Sure thanks.

[2020-07-03 09:28] oscerd commented on #314
Anyway, it's normal. If you don't want the file to be polled each time you can deleteAfterRead.
That's the normal behavior, the file is fetched and then checked.

[2020-07-07 08:15] tstuber opened #315 "How install camel-jira-kafka-connector"
Hi guys

I am struggling with camel-jira-kafka-connector. My goal is use it as a source connector for new comments. I followed the provided documentation and took the configuration base from the projects [example](https://github.com/apache/camel-kafka-connector/blob/master/connectors/camel-jira-kafka-connector/src/main/docs/examples/CamelJiraSourceConnector.properties).

However, I always run into

[2020-07-07 08:18] oscerd commented on #315
Did you unzip the zip package in your kafka connect  plugin path?

[2020-07-07 08:54] tstuber commented on #315
Yes, it unpacked.

[2020-07-07 08:58] oscerd commented on #315
Let me try

[2020-07-07 09:04] oscerd commented on #315
For me this is working fine.

`[2020-07-07 11:03:21,543] INFO WorkerSourceTask{id=CamelJiraSourceConnector-0} Committing offsets (org.apache.kafka.connect.runtime.WorkerSourceTask:416)
[2020-07-07 11:03:21,543] INFO WorkerSourceTask{id=CamelJiraSourceConnector-0} flushing 0 outstanding messages for offset commit (org.apache.kafka.connect.runtime.WorkerSourceTask:433)
[2020-07-07 11:03:21,543] ERRO

[2020-07-07 10:51] tstuber commented on #315
I had unpacked plugins as well as the `camel-kafka-connector` project in `/home/user/connectors`.
[code]

[2020-07-07 12:36] oscerd commented on #315
In Camel when you set something at component level you share that among all the endpoints the component will create, while setting something on the endpoint means it will be set only on that specific endpoint. Some of the components in Camel have both the parameters at component and endpoint level. So you should specify only at component or endpoint level.

Also you don't need camel-kafka-connecto

[2020-07-07 12:36] #315 closed

[2020-07-07 14:12] tstuber commented on #315
Thanks a lot @oscerd

[2020-07-13 16:40] oscerd opened #318 "Create a Kinesis Firehose Connector example"
In the https://github.com/apache/camel-kafka-connector-examples repository

[2020-07-14 18:40] scholzj opened #319 "CamelAwssqsSinkConnector does not work when specifying AWS credentials in camel.sink.endpoint"
I tried to configure CamelAwssqsSinkConnector connector with my Kafka Connect. To pass the AWS credentials, I first used the `camel.sink.endpoint.accessKey`, `camel.sink.endpoint.secretKey` and `camel.sink.endpoint.region`. But that resulted into following error: `The request signature we calculated does not match the signature you provided.`. Following is the exact error in the Connect log.

[cod

[2020-07-14 18:43] scholzj opened #320 "CamelAwssqsSinkConnector is leaking AWS credentials into Kafka Connect log"
While using the CamelAwssqsSinkConnector, it seems that it is quite easy to find the AWS credentials in the Connect log. One of the examples is the error mentioned in #319 ... but also after I switched to using the following options `camel.component.aws-sqs.access-key`, `camel.component.aws-sqs.secret-key`, `camel.component.aws-sqs.region` ... it for example prints the credentials directly into th

[2020-07-14 18:49] oscerd commented on #320
The problem is related to the slash in the key.. we should use RAW(key)... In the endpoint definition. I'll have a look

[2020-07-14 18:53] scholzj commented on #320
Just FYI ... these are the Amazon example keys, not my real keys ;-) ... the actual key contained `+`. So I guess the problem might be the same.

[2020-07-15 05:26] oscerd commented on #320
duplicate of #159

[2020-07-15 05:26] #320 closed

[2020-07-15 05:26] oscerd commented on #319
We need to find a way to specify RAW for these particular options.

[2020-07-15 11:44] valdar opened #321 "Add the connector class to use in the documentation of each connector"

[2020-07-16 08:54] orpiske commented on #245
@oscerd @valdar I think we can close this one since we moved to 3.4.0.

[2020-07-16 08:55] orpiske commented on #211
@valdar @oscerd I think we can close this since we split the tests in modules. What do you think?

[2020-07-16 09:05] #245 closed

[2020-07-16 09:05] #211 closed

[2020-07-16 15:15] oscerd opened #322 "Upgrade to Camel 3.4.2 once released"

[2020-07-17 15:29] rgannu opened #323 "How to set Map property via the kafka connector configuration"
This is definitely not a bug but I do not know how to set map via properties/json in the kafka sink connector configuration.
https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-rabbitmq-kafka-sink-connector.html

Can you please explain how to set the `camel.sink.endpoint.clientProperties` ?
The error says I need to set as a Bean. In that case can you please explain how to do ?

[2020-07-20 15:50] nidhijwt opened #324 "The committed block count cannot exceed the maximum limit of 50,000 blocks."
**Overview**

I am using CamelAzurestorageblobSinkConnector to sink to Archive data on my Kafka topics.

**The problem**

Data that I am sending, goes in Appendblob to Azure blob. What it does is, it creates another block in end every time and adds the block to an azure append blob. Azure gives a maximum limit of 50,000 blocks. Thus after 50,000 records data gets blob gets filled up and this happe

[2020-07-20 16:04] oscerd commented on #324
I think this is more related on how the component azure blob works, @omarsmak can you add some hint on this?

[2020-07-21 06:39] oscerd commented on #324
By the way you could also use an aggregationStrategy for this, I'm preparing some documentation on how to do that and it will be available in the next release.

[2020-07-21 07:55] omarsmak commented on #324
@nidhijwt the issue here as I understood, is the amount of records being sent, for example for every kafka record, it will be an equivalent azure append record which may hit the 50,000 limit pretty fast, especially if you have noise records which not meant to be inserted (you can ignore these with SMTs). However, the way I see it, you will need somehow to aggregate these records and insert them as

[2020-07-21 08:54] valdar opened #325 "BigDecimal values are not handled correctly in Headers serialization and deserialization"
The header value is left as `BigDecimal` while the schema is `org.apache.kafka.connect.data.Decimal:BYTES`. When decoded it is handled as `byte` while the actual value stored is a `BigDecimal`.

[2020-07-21 12:13] nidhijwt commented on #324
Thanks for your reply.

Is the only thing pending is documentation or code is also not complete? I can see there are 2 aggregationStrategys present in code already StringAggregator and SimpleAggregator. I want to use them but couldn't find the way. I am using Camel connector with Kafka and in distributed mode with following properties

`{
    "name": "CamelAzure-storage",
    "config": {
        "

[2020-07-21 13:00] oscerd commented on #324
Try by adding

[code]

https://github.com/apache/camel-kafka-connector/blob/master/core/src/test/java/org/apache/camel/kafkaconnector/utils/SampleAggregator.java

This will concatenate the record with a space in between.

You'll need to build the master and use the generated connector. This is not released yet.

[2020-07-22 04:52] #325 closed

[2020-07-22 11:44] #322 closed

[2020-07-22 13:03] nidhijwt commented on #324
@oscerd Thanks for your answer,

I built the latest code as suggested but this is not helping in aggregating data. Even with this, it is writing 1 record per block. Looks like inserting a collection is not supported with Azure blob.

[2020-07-22 13:04] oscerd commented on #324
You're doing something wrong.

[2020-07-22 13:27] oscerd commented on #324
It cannot be possible, if data are sent continuosly you should at least see more concatenated record in the block, not 1 record. So I don't know how you build and what you did, but I don't think you're using the latest version, also, please use the correct properties and not the camel.sink.url with the whole endpoint. You need to use the other approach of separated options provided, to make the ca

[2020-07-22 13:29] omarsmak commented on #324
@oscerd shouldn't be this class [`org.apache.camel.kafkaconnector.aggregator.StringAggregator` ](https://github.com/apache/camel-kafka-connector/blob/master/core/src/main/java/org/apache/camel/kafkaconnector/aggregator/StringAggregator.java)?

[2020-07-22 13:31] oscerd commented on #324
Yes, my bad. Anyway I believe in this case avoiding using camel.sink.url will help. But the correct aggregator it's the one reported by @omarsmak
and that's really bad no errors were showed

[2020-07-22 13:36] oscerd opened #329 "Add an archetype to be able to extend the existing connectors with converters/aggregators/transformations/pojo etc."

[2020-07-22 15:17] #329 closed

[2020-07-23 08:28] nidhijwt commented on #324
Thanks, guys,

Another error in the above configuration I see is "camel._bean_.aggregate" it should be "camel._beans_.aggregate".

I did above as per suggestions but it is still not working. Then I checked logs and there I found following

[code]
The configuration I am using is

[code]
Observation: It does not say _Property not auto-configured:_ for _camel.beans.aggregate_

[2020-07-23 08:43] oscerd commented on #324
Can you try by adding a dynamic name to the file? In this way it will go in append. I still by the way don't get if this problem is of azure blob or ckc..

[2020-07-23 09:05] nidhijwt commented on #324
The Blob type I am using in Azure is AppendBlob so it does the append operation. One thing that Azure does not support in blobs is updating of blobs

![image](https://user-images.githubusercontent.com/28916834/88269198-36fdaa80-ccf1-11ea-86d3-b6ee3c5ce44c.png)

that is why I need to send a collection of records which I believe is implemented below

![image](https://user-images.githubusercontent.co

[2020-07-23 09:11] oscerd commented on #324
I don't know a way to reproduce this, so I cannot really say nothing. The way to aggregate stuff and send a list of record is through the aggregation. There are actually no other ways to collect records. I still believe there is something wrong anyway. You should see at least 1000 record aggregated with that configuration

[2020-07-23 09:29] omarsmak commented on #324
@nidhijwt to narrow down on the problem, can you please try to use a[ logger sink](https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-log-kafka-sink-connector.html) instead of the azure sink (or any other sink that could help you to troubleshoot the issue further) to see if the data indeed are aggregated?

[2020-07-23 09:40] oscerd commented on #324
ah, the option you're using for camel.beans.aggregate is wrong. It should be
"camel.beans.aggregate": "#class:org.apache.camel.kafkaconnector.aggregator.StringAggregator",

[2020-07-23 12:02] #303 closed

[2020-07-24 12:47] oscerd opened #333 "Add documentation for archetype"

[2020-07-24 13:20] #333 closed

[2020-07-27 04:29] nidhijwt commented on #324
Yes, Aggregation worked. Thanks

When is the next release planned?

[2020-07-27 04:37] oscerd commented on #324
We'll start the release cut this week.

[2020-07-28 04:28] nidhijwt commented on #324
Ok, thanks.

[2020-07-28 12:42] rbaumgar opened #338 "aws2S3connector connected to minio ClassCastException"
try to use CamelAws2s3SourceConnector to connect to another S3 provider (minio)

when I try to upload a simple text file to my s2 bucket -> error
file is deleted from the bucket.

KafkaConnector
--------------

kind: KafkaConnector
metadata:
  name: aws2-s3-source-connector
  labels:
    strimzi.io/cluster: my-connect-cluster
spec:
  class: org.apache.camel.kafkaconnector.aws2s3.CamelAws2s3SourceC

[2020-07-28 12:49] oscerd commented on #338
You don't need a special converter for the value, please have a look at the following example:
https://github.com/apache/camel-kafka-connector-examples/blob/master/aws2-s3/aws2-s3-minio-source/config/CamelAWS2S3SourceConnector.properties

[2020-07-28 12:49] oscerd commented on #338
Let us know

[2020-07-28 12:55] oscerd commented on #338
From camel 3.5.0 we'll have also a specific camel-minio component anyway

[2020-07-28 12:57] rbaumgar commented on #338
Andrea,
thx! works like a charm. I did not found this example...

[2020-07-28 12:57] #338 closed

[2020-07-28 12:58] oscerd commented on #338
Glad to help, please report anything you'll find. We really need feedback at this stage

[2020-07-29 07:19] #324 closed

[2020-07-29 07:55] rbaumgar opened #339 "aws2S3connector: moveAfterRead true bucket not created"
aws2S3connector
If I set moveAfterRead=true and camel.source.endpoint.destinationBucket=camel-backup and camel-backup does not exist -> error!
even camel.source.endpoint.autoCreateBucket=true (default)!

[2020-07-29 07:59] oscerd commented on #339
The option if for the bucketName in the component the auto reaction of destination bucket for that specific operation is not supported. I'll add this on Camel. Can you create a jira issue about this on https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-15339?filter=allopenissues

[2020-07-29 07:59] oscerd commented on #339
It must exist for the moment

[2020-07-29 08:27] rbaumgar opened #340 "aws2S3connector: camel.source.endpoint.runLoggingLevel=TRACE no trace log"
aws2S3connector
If I set camel.source.endpoint.runLoggingLevel=TRACE (default) I do NOT find any trace records in the log.

log

2020-07-29 08:25:01,869 INFO WorkerSourceTask{id=aws2-s3-source-connector-0} flushing 0 outstanding messages for offset commit (org.apache.kafka.connect.runtime.WorkerSourceTask) [SourceTaskOffsetCommitter-1]
2020-07-29 08:25:08,747 INFO Exchange[Body: Hello from Camel K

[2020-07-29 08:31] rbaumgar commented on #339
https://issues.apache.org/jira/browse/CAMEL-15347

[2020-07-29 14:08] valdar commented on #340
I think you also need to set the Kafka connect log level to TRACE. The `camel.source.endpoint.runLoggingLevel` option should be read as "what is the level you want the complete logs of each message to be generated at?" (default is they are not generated).

If you try to set that at INFO you will see a detailed log of each message handled by the connector.

I agree that the name of the property is

[2020-07-29 15:14] #194 closed

[2020-07-29 16:19] R-Lam opened #342 "Camel-Elasticsearch Connector not working on OpenShift"
I'm trying to use the camel elasticsearch connector with my Kafka cluster on OpenShift but on my Connect instance I'm getting this warnings for the 'exchange' class not found and then failed to start the CamelSinkConnector class.

Here's the log:

[code]
As I mention, after some time has passed, this comes out:
[code]

I'm working with this dockerfile:
[code]

And this is the config of the Connect

[2020-07-29 16:23] orpiske commented on #342
Can you list what's inside the `/opt/kafka/plugins/` directory, please?

[2020-07-29 16:35] oscerd commented on #342
The configuration class is wrong
you need to set this class here: https://github.com/apache/camel-kafka-connector/blob/master/connectors/camel-elasticsearch-rest-kafka-connector/src/main/java/org/apache/camel/kafkaconnector/elasticsearchrest/CamelElasticsearchrestSinkConnector.java

Setting the generic class won't work.

[2020-07-29 17:22] R-Lam commented on #342
Here's the list of plugins on `/opt/kafka/plugins`:
![image](https://user-images.githubusercontent.com/25209945/88831272-5af73b00-d18c-11ea-929f-78eb4df4def9.png)

And here's the result of `connector-plugins`:
[code]

Yes, I already tried with the class mentioned in the example folder, but is still missing:
[code]

[2020-07-29 17:27] oscerd commented on #342
The connector needs to be in his own directory. So you should have opt/kafka/plugins/camel-elasticsearch-rest-connector/ dir. Inside it you should have the content of the package

[2020-07-29 17:59] R-Lam commented on #342
Working!!
My mistake to copy only the jar files and not the entire folder...

Thank you both @oscerd @orpiske !!

[2020-07-29 17:59] #342 closed

[2020-07-30 06:22] oscerd commented on #339
Fixed, it will be available in camel 3.5.0. I'll close this once we update to that.

[2020-07-30 09:06] oscerd opened #344 "Add a compatibility matrix related to camel version in docs"

[2020-07-31 07:17] rbaumgar commented on #340
I have now updated my KafkaConnctS2I with
  logging:
    loggers:
      logger.name: TRACE
    type: inline
But it does not help! Still no trace available...

[2020-08-03 08:25] valdar commented on #340
So if you set `camel.source.endpoint.runLoggingLevel=INFO` do you see some logs for each record handled by the connector?

[2020-08-03 08:28] valdar commented on #117
@mabulgu did you have any chance to complete this?

[2020-08-03 10:00] mabulgu commented on #117
Hi @valdar . Already started it but did not have a chance to continue recently. Will try to create the PR soon if it is ok for you..

[2020-08-03 10:31] #344 closed

[2020-08-04 11:09] rbaumgar commented on #340
No. Neither with camel.source.endpoint.runLoggingLevel=INFO nor with TRACE.

[2020-08-04 15:57] oscerd commented on #279
I'd like to revive the discussion. There are number of aws components that don't make sense as connector. For example kms,iam,eks,ecs etc. Also some others.
I'd like to limit the number of connectors to be able to speed up the release process and release often

@valdar @orpiske can you share your pov

[2020-08-04 16:26] orpiske commented on #279
+1. I think this is a good idea and I agree with you that it can simplify release, maintenance and possibly even reduce any risk of extra work due to CVEs in dependencies. All in all, a welcome change, IMHO.

It would be good - more as a safe proof for the future - to document our thought process in removing them. My thinking is that we might need to refer to that should the need arise.

Lastly, w

[2020-08-04 16:43] oscerd opened #359 "Add a Nats connector examples in camel-kafka-connector-examples repo"

[2020-08-04 16:59] oscerd opened #360 "Add a doc page related to camel vs camel-kafka-connector and when to use one or the other"

[2020-08-04 18:17] mgenereu opened #361 "Exception on endpoint being treated as a polling consumer before createPollingConsumer is called."
I'm getting an exception on this line in the code.  Best I can tell, it's trying to get the endpoint from the Camel Context before the endpoint has been upgraded to a PollingConsumer on the line afterwards.  `direct` doesn't have these parameters.

https://github.com/apache/camel-kafka-connector/blob/4a73d046f0bbb8c2265bddc315689a7fb39f3871/core/src/main/java/org/apache/camel/kafkaconnector/CamelS

[2020-08-04 18:24] oscerd commented on #361
What is the configuration of the connector? What connector are you using?

[2020-08-04 19:03] mgenereu commented on #361
I built a JAR with this:
[code]
Then I create a container `fdd` with this (fat jar is in connectors):
[code]
Then I run the container:
[code]
Then I add the connector to Kafka Connect via the UI:
[code]

[2020-08-04 19:04] mgenereu commented on #361
Here's the whole error message as well:
[code]
Thanks for taking a glance!

[2020-08-05 10:16] oscerd opened #362 "Make the camel-kafka-connector archetype use the parent POM"

[2020-08-05 14:01] valdar commented on #361
@mgenereu you can have a look at how things are handled here: https://github.com/apache/camel-kafka-connector/tree/master/tests/itests-salesforce in the salesforce integration test, might be @orpiske can give you more insight in what has been done there.

[2020-08-05 14:06] mgenereu commented on #361
Thank you. I'll take another look at that project. In the meantime I've switched over to regular Camel Main and everything is working fine. Obviously my above example is missing some configuration, but it shouldn't fail where it is failing.

[2020-08-05 14:19] orpiske commented on #361
@mgenereu feel free to get in touch if you need any insight about those tests. Also, if you could provide both the whole log as well as the contents of the connector (ie.: what jars are bundled with the package). I'd love to take a look at it and see if there's something we could add to our tests to cover the scenario are trying on.

[2020-08-05 16:13] #362 closed

[2020-08-05 16:24] mgenereu commented on #361
I think it has to more about how I'm creating the project or jar than any specific connector.  I get the same error with the `camel-timer-kafka-connector` instead of the `camel-salesforce-kafka-connector`.

[2020-08-05 16:26] oscerd commented on #361
@mgenereu can you share a reproduce on github with all the stuff you're doing? So we could try to dig a bit.

[2020-08-05 16:35] mgenereu commented on #361
Will do! Thanks!

[2020-08-05 19:08] mgenereu commented on #361
Created: https://github.com/mgenereu/apache-camel-kafka-source-connector-test
Referenced @hguerrero as he might be interested as well.

[2020-08-05 19:14] mgenereu commented on #361
@andmarios might also be interested how this unfolds since https://github.com/lensesio/fast-data-dev may be different than https://github.com/strimzi/strimzi-kafka-operator .

[2020-08-06 09:47] oscerd commented on #359
Done.

[2020-08-06 09:47] #359 closed

[2020-08-06 10:34] oscerd commented on #279
Let me start by removing these:

camel-aws2-ec2
camel-aws2-ecs
camel-aws2-eks
camel-aws2-iam
camel-aws2-kms
camel-aws2-mq
camel-aws2-msk
camel-aws-ec2
camel-aws-ecs
camel-aws-eks
camel-aws-iam
camel-aws-kms
camel-aws-mq
camel-aws-msk

This components have only the producer side and are used to create, delete, list and describe stuff in AWS services- Lambda is similar, but you have the opportunity

[2020-08-07 10:20] davsclaus commented on #319
Okay so camel.component are component specific options and they have no problems with uri encoding (usually passwords etc are more problematic with uri encoding due to using special chars).

So for camel.endpoint as they become part of endpoint uri, you need to specify `RAW(xxx)` syntax.
Maybe you can try testing this?

[code]

There is a JIRA ticket at Camel to see if we can come up with a smarte

[2020-08-07 11:03] lburgazzoli commented on #319
in camel 3.4 we also have #property:xyz right as possible solution right ?

[2020-08-07 11:15] davsclaus commented on #319
@lburgazzoli ah yeah that would work too

[2020-08-07 11:16] oscerd commented on #319
We need to add documentation about this

[2020-08-07 11:27] davsclaus commented on #319
Here is a PR with a a bit of rushed fix, would be good to give that a test too. And maybe improve it.
https://github.com/apache/camel-kafka-connector/pull/366

But it shows how we can find out about secret options and auto RAW their values.

[2020-08-07 14:47] mgenereu commented on #361
@oscerd, was the repository to your satisfaction?

[2020-08-07 14:57] oscerd commented on #361
Yes, thanks. I'll try to have a look, but I won't be around for a while. Maybe @valdar and @orpiske could help. Or I'll take a look when I'll come back

[2020-08-07 16:05] mgenereu commented on #361
No rush.  Just wanted to set you up for success.  Thank you!

[2020-08-07 16:18] orpiske commented on #361
Just to ACK that I am also keeping an eye on this one and will try to take a look at it at the first opportunity.

[2020-08-07 20:19] valdar opened #367 "flaky syslog integration test"
see https://github.com/apache/camel-kafka-connector/runs/958385239?check_suite_focus=true

[2020-08-07 21:09] valdar commented on #361
@mgenereu it seems to have worked decently well here, you have a PR with the modification to your reproducer: https://github.com/mgenereu/apache-camel-kafka-source-connector-test/pull/1

PS: I am about to start PTO so my response time might be slower than usual till September.

[2020-08-07 21:14] mgenereu commented on #361
@valdar .  Enjoy your PTO. Thank you for looking at it.

[2020-08-10 05:47] davsclaus commented on #323
Oh yeah that is a good question that we could look at making easier to configure.

So you can use

[code]

style to define the map bean with the name xxx

So it should be something like

[code]

[2020-08-10 05:50] davsclaus commented on #323
Also we should update the docs about this.

The camel kafka connector runs via camel-main that has a set of options (however many of listed currently would not be so relevant for camel kafka connector) - but its a place in the docs where we should document the camel.beans style
https://camel.apache.org/components/latest/others/main.html

[2020-08-10 05:52] davsclaus commented on #323
Created a ticket
https://issues.apache.org/jira/browse/CAMEL-15389

[2020-08-10 12:58] rgannu commented on #323
Hi @davsclaus Can you please let me know in the meantime how I can set the properties headers map in the "clientPropertiesBean" in  the kafka connect configuration ?

[2020-08-12 11:44] orpiske commented on #367
I am also seeing this one fail from time to time on Github. Never on my desktop, but rather frequently on GH.

[2020-08-13 17:38] ruchirvaninasdaq commented on #97
@valdar @oscerd :  Is there an any documentation comparing camel aws vs aws2? What are the difference and benefits of moving to newer version (Aws2)?

[2020-08-13 17:41] oscerd commented on #97
More or less Aws2 connectors are equal to aws ones. The difference is in the aws sdk. V2 vs v1. Some of them have some more feature like for example moveAfterRead in Aws2-s3. Basically they are equals in terms of features

[2020-08-13 17:54] ruchirvaninasdaq commented on #97
Is there any recommended example of doing message validation (where I can pass class to validate) before putting to the kafka topic?

Currently, I am doing it in aws-camel-s3. Which doesn't seem to be right place. I want to manage that within Kafka-connector project.

[2020-08-13 17:58] oscerd commented on #97
Can you post what you are currently doing for validation?

[2020-08-13 18:05] ruchirvaninasdaq commented on #97
In S3Enpoint.java class:

createExchange(ExchangePattern pattern, S3Object s3Object)
`public Exchange createExchange(ExchangePattern pattern, S3Object s3Object) {
        LOG.trace("Getting object with key [{}] from bucket [{}]...", s3Object.getKey(), s3Object.getBucketName());

        ObjectMetadata objectMetadata = s3Object.getObjectMetadata();

        LOG.trace("Got object [{}]", s3Object);

[2020-08-13 18:10] oscerd commented on #97
So you're using a customized component. There is actually no mechanism for validating the message before ingesting in kafka topic

[2020-08-13 18:12] ruchirvaninasdaq commented on #97
Yeah, as if the messages fails in serialization, it stucks in s3-bucket and keep re-trying. Is there a dead-queue concept in s3 connector?

[2020-08-13 18:21] oscerd commented on #97
Currently no.

[2020-08-13 18:22] ruchirvaninasdaq commented on #97
Ok thanks!!

[2020-08-14 16:17] #361 closed

[2020-08-17 07:01] orpiske commented on #367
Using the burn in script, I managed to reproduce this after some time.

[code]

[2020-08-17 11:53] orpiske opened #376 "Unclean startup causes an NPE on shutdown"
If the connector fails to start for any reason, it throws a NPE during shutdown because it tries to de-reference a null pointer.

[code]

I'll send a PR for this.

[2020-08-17 12:59] orpiske opened #378 "Documentation: SJMS2 connector is incompatible with activemq-all"
Activemq All (`org.apache.activemq:activemq-all:jar:5.16.0`) contains some Camel classes that conflict with the version of  Camel packaged in 0.4.0 (and probably future versions as well):

[code]

When trying to boot a connector using this jar, it causes the following error:
[code]

Maybe we need to document this as a known incompatibility in the SJMS2 component.

[2020-08-17 13:15] oscerd commented on #378
We could exclude activemq-camel from activemq-all

[2020-08-17 13:15] oscerd commented on #378
I'll do that.

[2020-08-18 10:19] oscerd opened #379 "Bump to Camel 3.4.3"

[2020-08-18 13:54] orpiske opened #381 "Discussion: troubleshooting documentation?"
Do you think we should have a troubleshooting documentation/page with some of the common errors and problems that people face when they use the connectors? Some things I have in mind that we could add some notes about:

- Installing the connectors in a directory structure that is incompatible with Kafka Connect
- Missing or incorrect converters
- Missing dependencies
- Known incompatibilities
- Kn

[2020-08-18 14:11] oscerd commented on #381
+1

[2020-08-18 16:26] #379 closed

[2020-08-19 07:21] orpiske commented on #376
Merged. Closing.

[2020-08-19 07:21] #376 closed

[2020-08-20 11:34] harwee opened #387 "aws2-S3-connector: (gzip/zip) compression with sink"
I am using  aws2-S3 connector with aggregation. Is there a way to compress the final object that is put into the S3 bucket?

[2020-08-20 13:41] orpiske commented on #291
I'm on it ...

[2020-08-20 15:14] orpiske commented on #387
I think you probably need to write a custom aggregator for it.

[2020-08-24 06:50] #381 closed

[2020-08-24 14:32] #291 closed

[2020-08-24 14:33] oscerd commented on #319
This should have been fixed through #366

[2020-08-24 14:33] #319 closed

[2020-08-25 04:46] oscerd opened #389 "Improve documentation TOC"

[2020-08-26 10:06] oscerd commented on #387
Just for your information I created an example using the zipAggregationStrategy https://github.com/apache/camel-kafka-connector-examples/tree/master/aws2-s3/aws2-s3-sink-with-zip-aggregation

[2020-08-26 10:06] #387 closed

[2020-08-27 05:06] aliadnani opened #398 "How to have connector output JSON String?"
Hi, I'm using the Camel Websocket Connecter to send data from a topic to a websocket. The data from the input topic is in **Json/JsonSchema** format.

The connector works for sending data to the websocket, but the data is in the format of `Struct{key1=val1,key2=val2}`

Is it possible to have the connector emit a JSON string like  `{"key1":"val1","key2": "val2"}` instead?

The task config can be se

[2020-08-27 06:52] orpiske commented on #398
@aliadnani Out of curiosity: what happens if you use `org.apache.kafka.connect.storage.StringConverter` as the value converter?

[2020-08-27 07:40] aliadnani commented on #398
If I use `org.apache.kafka.connect.storage.StringConverter` I get the following for my topic data serialized with **JSON Schema**:

[code]
The double quotes are escaped and I'm guessing the `\u0000\u0000\u0000\u0000\u0001` at the beginning is the [Magic Byte/Schema ID](https://docs.confluent.io/current/schema-registry/serdes-develop/index.html#wire-format) thats encoded with the message.

I think

[2020-08-27 11:35] orpiske commented on #398
...

I think this would do the trick. We do have a few cases where we do this, in the test code base, for example, so I assume it would be a pretty similar scenario.

[2020-08-28 04:39] aliadnani commented on #398
Thank you! It works!

I was wrong that the `JsonSchemaConverter` deserializes the record into a JsonNode object, I found out its actually a [Kafka Connect Struct Object](https://kafka.apache.org/11/javadoc/org/apache/kafka/connect/data/Struct.html).

Anyways, I installed a [transform library](https://github.com/jcustenborder/kafka-connect-transform-common/tree/master/src) and used the [ToJSON SMT]

[2020-08-28 09:05] rgannu commented on #323
Hi @davsclaus
I think you got carried away when I asked about how to configure camel beans.
Fine for me to document via the ticket https://issues.apache.org/jira/browse/CAMEL-15389

Still the initial problem for me exists.
i.e., How I can set a map of headers via the sink connector configuration ?
I had a look into the source code of camel sink connector and I can see that it only processes the he

[2020-08-29 12:29] rogeriob2br commented on #389
In Try it out on Kubernetes, the command to deploy Kafka Conector is incorrect `oc apply` is a Openshift command.

[2020-08-29 12:36] oscerd commented on #389
Thanks for noticing. You're welcome to provide a pr.

[2020-08-29 12:36] rogeriob2br commented on #389
Thanks

[2020-08-29 12:44] rogeriob2br commented on #360
I will test both options, depending on the document, what I find of pros and cons. We will test other alternatives, such as spring kafka, kafka streams, KSQL, Camel K ...

[2020-08-30 08:22] davsclaus commented on #323
Hi @rgannu

That sounds good

[2020-08-31 12:34] oscerd commented on #318
Done.

[2020-08-31 12:34] #318 closed

[2020-08-31 13:45] mschuch opened #402 "Add an example of FHIR connector's usage"
Hi i wanted to try the kafka fhir source connector with the following property file:
[code]
Now i am stuck which of the properties if have to use, how I can test it with the open fhir test server.
Which of the properties are mandatory? I think the endpoint should look like:

`fhir//:apiName/methodName?[options] `

I am just lost and need an example how that can work. Thank you.

[2020-08-31 13:48] oscerd commented on #402
I'll try to create an example for this

[2020-08-31 13:53] orpiske opened #403 "Possible incompatibility with camel-azure-storage-queue"
I am writing a IT for the camel-azure-storage-queue connector and it seems that there is an incompatibility with the Netty version used on the component (4.1.49) and the one used by Kafka (4.1.45).

This seems to cause the following issue:

[code]

I think it may be possible to work-around this one in test code, but it's likely we'll need to do something for the runtime.

[2020-08-31 19:49] orpiske commented on #288
Closing this one. It was enabled with #337.

[2020-08-31 19:49] #288 closed

[2020-09-01 07:14] #321 closed

[2020-09-01 15:27] #299 closed

[2020-09-01 15:28] oscerd opened #407 "Introduce Error Handling Options possibilities"
We can reuse the error handling coming from Camel, like we are doing for aggregation with Options and Parameters

[2020-09-01 15:29] oscerd commented on #407
We could for example, set redeliveries, for example
Or define a custom Error Handler or do nothing.

[2020-09-02 06:35] oscerd commented on #378
Actually I don't see activemq-all in the connector jars.

[2020-09-02 06:43] orpiske commented on #378
It's not on our connector jars, but users can download it separately. I created this issue in a situation like that: a user deployed one of the project connectors (I think camel-sjms2 one) and when tried to run, the code would throw this exception.

In terms of packaging, I think we are fine.

[2020-09-02 06:44] oscerd commented on #378
Ok, so I believe we can stress this in the connector documentation, let me add a note :-)

[2020-09-02 06:45] orpiske commented on #378
Cool!  I had added a note here: https://github.com/apache/camel-kafka-connector/blob/master/docs/modules/ROOT/pages/troubleshooting.adoc#known-incompatibilities.

Maybe we need to elaborate more because users might end up seeing that after they already have a problem.

[2020-09-02 09:38] oscerd commented on #270
@balasapient any news about adding the example?

[2020-09-02 09:41] orpiske opened #409 "camel-azure-storage-queue-kafka-connector: Unknown parameter 'accountName'"
When trying to run the `camel-azure-storage-queue-kafka-connector` setting the properties directly (ie.: not via the URL), the code seems to fail to do so and fails with:

```org.apache.camel.ResolveEndpointFailedException: Failed to resolve endpoint: azure-storage-queue://test-queue23?accountName=devstoreaccount1 due to: Failed to resolve endpoint: azure-storage-queue://test-queue23?accountName=d

[2020-09-02 09:47] oscerd commented on #409
cc @omarsmak

[2020-09-02 10:03] omarsmak commented on #409
Sorry @orpiske, the docs were not clear in some parts, the correct url should be like this :
`azure-storage-queue:/accountName/queueName?options`. If you get it working, please don't hesitate to correct the docs as I am currently in vacation :)

[2020-09-02 10:13] codexetreme opened #410 "IMPROVEMENT REQUEST: Add a transformer mode to the connectors to make lightweight edits to the messages while they are being produced/consumed"
Hello,
In our recent use case, we have to move messages from an AWS SQS Queue to a Kafka topic. This is a perfect use case where we can leverage the power of the Camel Connectors. More specifically the `aws2-sqs` connector.

According to the docs, the connector adds the SQS messageId as a header to the Kafka record. and inserts the record as-is into the specified Kafka topic.

[A link the document

[2020-09-02 10:18] oscerd commented on #410
Basically what I meant was just providing a specific transformer for this case in the connector. A general solution seems to be a bit too much complex. But you're welcome to try.

[2020-09-02 10:21] codexetreme commented on #410
I can try out the specific transformer for this case. You are probably right about the general solution being complex

[2020-09-02 10:33] orpiske commented on #409
Thanks @oscerd and @omarsmak.

TBH, I think the problem is on the way we are auto-generating this URL. To explain a bit further: I have 2 scenarios on the test. In one of them, the URL is setup manually (ie.: using `camel.sink.url`) and it works (the URL used is pretty much the same as the one you showed). On the other scenario, where I set everything via properties (ie.: `camel.sink.path.accountN

[2020-09-02 11:17] oscerd commented on #197
This already works for sink connector. It's needed for source connector.

[2020-09-02 11:22] codexetreme commented on #410
I tried creating an archetype for this, from the archetype page. I cannot seem to find the correct archetype params for this

what I tried:

`mvn archetype:generate  -DarchetypeGroupId=org.apache.camel.kafkaconnector.archetypes  -DarchetypeArtifactId=camel-aws2-sqs  -DarchetypeVersion=0.4.0`

what I got:
`......`
Downloading from central: https://repo.maven.apache.org/maven2/org/apache/camel/kafka

[2020-09-02 11:28] oscerd commented on #410
Please read how to use the archetype: https://camel.apache.org/camel-kafka-connector/latest/archetypes.html

It's all explained. You need to provide the archetype reported there and then following the instructions. In the project created you'll need to create the transformer.

If you want to create the transformer in the actual codebase you need to modify the connector under connectors folder.

Wh

[2020-09-02 11:29] oscerd commented on #410
There is only one archetype to use.

[2020-09-02 12:27] #197 closed

[2020-09-02 13:27] Thylossus opened #414 "High CPU Usage with RabbitMQ Connector (polling interface implemented incorrectly?)"
Hi,

I'm using the [Camel Rabbit MQ Connector](https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-rabbitmq-kafka-source-connector.html) as a source connector for my Kafka cluster. Kafka connect is running in a Docker container built with the following Dockerfile

[code]

When running this configuration and adding a RabbitMQ connector with the following configuration

[code]

th

[2020-09-02 13:36] oscerd commented on #414
This is because we created a tiny layer based on camel. That's how a camel consumer should work in plain camel. There is space for improvements but I don't think it's implemented incorrectly.. the aim of this project is leveraging the camel components and the engine we already have.

[2020-09-02 13:45] oscerd commented on #414
By the way I'll try to reproduce and check.

[2020-09-02 13:55] oscerd commented on #414
Thanks for reporting.

[2020-09-02 15:45] rgannu commented on #323
Created ticket: https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-15496

[2020-09-02 15:50] oscerd commented on #323
I do not think that is something rleated to camel plain, there wasn't any need of adding an issue in the JIRA for this, this issue was enough.

[2020-09-02 15:55] oscerd commented on #323
Ok, now I'm getting what you're doing. You need to modify the camel component to have new options added to the connector. Also since this is new stuff, this would be done only on camel 3.6.0. Anyway, that commit is just a modification of properties, the under the hood component won't do anything related to those options.

[2020-09-02 15:58] oscerd commented on #323
Also, at the next build, the connector configuration will be overriden.

[2020-09-02 17:44] #378 closed

[2020-09-03 04:39] oscerd commented on #414
I tested the connector yesterday for about 40 minutes with this configuration

`
name=CamelRabbitmqSourceConnector
connector.class=org.apache.camel.kafkaconnector.rabbitmq.CamelRabbitmqSourceConnector
key.converter=org.apache.kafka.connect.storage.StringConverter
value.converter=org.apache.kafka.connect.storage.StringConverter

camel.source.maxPollDuration=10000

topics=test26

camel.component.rab

[2020-09-03 07:43] Thylossus commented on #414
Hi,

thank you very much for looking into the issue. I've prepared a docker-compose file to reproduce my issue: https://github.com/Thylossus/docker-kafka-camel-rabbitmq-connector-cpu-usage-scenario. I did not have the time yesterday to do so.

When I start all container and setup the RabbitMQ connector, the CPU usage almost immediately increases significantly. I use top in Irix mode to check the r

[2020-09-03 08:05] orpiske commented on #409
So, continuing the investigation on this one, it seems to me that this is the cause for the wrong URI:

- [azure-storage-queue.json](
https://github.com/apache/camel/blob/master/components/camel-azure-storage-queue/src/generated/resources/org/apache/camel/component/azure/storage/queue/azure-storage-queue.json#L17 ) from master (3.5)
- [azure-storage-queue.json](
https://github.com/apache/camel/blo

[2020-09-03 08:07] orpiske commented on #409
For the record, I think the format of the syntax in that json file should be `azure-storage-queue:/accountName/queueName`.

[2020-09-03 08:08] oscerd commented on #409
Can you open an upstream issue?

[2020-09-03 08:10] orpiske commented on #409
Absolutely. Just collecting the last bit of information here and I'll open one for this.

[2020-09-03 08:22] orpiske commented on #409
@oscerd done :)

- this one is for the camel-azure-storage-queue: https://issues.apache.org/jira/browse/CAMEL-15499
- this one is for the camel-azure-storage-blob, which seems to suffer from the same problem, but I haven't validated it: https://issues.apache.org/jira/browse/CAMEL-15500

[2020-09-03 08:25] Thylossus commented on #414
I've updated the example with an exposed JMX port. Now one can also connect to the Kafka Connect process via VisualVM or other JMX tools.

In the idle state (no RabbitMQ events), Visual VM reports ~80% cpu usage:

![grafik](https://user-images.githubusercontent.com/6013423/92090475-c0fc6100-edcf-11ea-8c26-6bbe6057c96a.png)

[2020-09-03 08:32] oscerd commented on #414
Thanks for this. I forgot to say that I was testing on kafka 2.4.0

[2020-09-03 08:33] oscerd commented on #414
We'll a look. @orpiske do you want to try to reproduce?

[2020-09-03 08:38] orpiske commented on #414
Yes I do! I will take a look at that.

[2020-09-03 08:47] Thylossus commented on #414
I've just tested Kafka version 2.4.0 in the Connect Docker container and still got the same results.

Thank you both for investigating this 👍

[2020-09-03 09:43] davsclaus commented on #202
I dont see this as a bug and think it can be closed

[2020-09-03 09:44] oscerd commented on #202
Thanks for the help @davsclaus

[2020-09-03 09:45] #202 closed

[2020-09-03 10:30] oscerd commented on #414
After ten minutes of running I'm still

[code]

[2020-09-03 10:32] oscerd commented on #414
I just modified the cpu_quota here:

[code]

[2020-09-03 10:32] orpiske commented on #414
@oscerd I managed to reproduce it.

[2020-09-03 10:33] oscerd commented on #414
Me too. But with a little modification to conf it seems better

[2020-09-03 11:28] oscerd commented on #414
After one hour

[code]

[2020-09-03 12:08] Thylossus commented on #414
@oscerd Did you get your results with or without the `cpu_quota` setting? I just ran the setup on a Linux machine and, again, got high CPU usage:

[code]

[2020-09-03 12:09] orpiske commented on #414
As soon as I add the connector - from running the setup script - there's a big spike in both the GC activity as well as the CPU usage. I'm checking if the same thing happens under different settings / connectors / etc.

![Screenshot from 2020-09-03 13-33-31](https://user-images.githubusercontent.com/1851560/92109979-3d9c3900-edea-11ea-8544-4f0087c3a0c8.png)

[2020-09-03 12:11] Thylossus commented on #414
When I set `cpu_quota` to `25000` as @oscerd did, the CPU usage is, indeed, not at > 80% anymore, but this is rather a workaround, isn't it? What's you opinion?

[2020-09-03 12:18] oscerd commented on #414
I don't think it's a workaround at all, because basically this happens only in a container  context.. I mean if you run the same configuration in standalone kafka connect you won't get the same resource consumption. It's something we need to investigate for sure by the way.

[2020-09-03 12:46] orpiske commented on #414
Another thing I noticed: the reproducer has the tasks.max set to 10. This is not yet supported. After I decreased it to 1, the CPU usage on my case decreased significantly.

[2020-09-03 13:03] valdar commented on #410
@codexetreme try with: ```mvn archetype:generate  -DarchetypeGroupId=org.apache.camel.kafkaconnector.archetypes  -DarchetypeArtifactId=camel-kafka-connector-extensible-archetype  -DarchetypeVersion=0.4.0```

then answer the usual maven questions then you should have the skeleton project created.

[2020-09-03 13:04] Thylossus commented on #414
Have you had a look at the load on the individual cores of your system? Setting `tasks.max` to 1 will, indeed, reduce the overall system load as only one worker respectively one thread is spawned, but this worker will utilize "its core" to 100%. So if you have a system with two CPU cores, the CPU usage will be at 50% (or 100% in top with Irix mode)

[2020-09-03 13:07] orpiske commented on #414
I did not look individually to a specific core, but the load did decrease by a factor of 10 (ie.: from ~31% previously to 3% after that). Good catch.

[2020-09-03 13:17] Thylossus commented on #414
Thank you both for spending so much time with investigating this issue 👍 I've configured our deployment so that the docker container's quota is fixed to 0.75 CPU cores and it works fine:

[code]

I run the connector with `task.max = 1` and while this still uses the quota completely, we can handle this load on our server without impacting other applications too much. This is a great progress compar

[2020-09-03 13:37] oscerd commented on #414
Let's leave this open

[2020-09-03 16:46] oscerd opened #419 "Archetype: Add a parameter to the archetype generator to be able to specify what connector we want to extend"

[2020-09-04 06:45] #419 closed

[2020-09-04 10:04] oscerd opened #423 "Investigate using Kamelet concepts in Camel-Kafka-connector"

[2020-09-04 15:52] codexetreme commented on #410
Thanks, I will try out this command as well.

There a couple questions I have, I took a look at the aws2-s3 connector,
there is a bit of code there for a transformer, however, I don't quite
understand the flow, and when and how the transformer actually gets called.

So, I have a few questions,

1. I create a class that implements from
`org.apache.kafka.connect.transforms.Transformation`. but post

[2020-09-04 15:54] oscerd opened #424 "Create a Google calendar example"

[2020-09-04 16:01] oscerd commented on #410
Hello,

1. Basically you'll need to build the connector and you'll get a new package.zip
- in the connector configuration you want to use

[code]

for example. In this way you'll use the transformation you implemented in the extended connector.

2. You can do a unit test like this class: CamelTypeConverterTransformTest in camel-kafka-connector repo

[2020-09-04 16:05] oscerd commented on #410
Once the transformations class work and you're happy with the result, you could add that class to the aws2-sqs connector in the camel-kafka-connector repository.

[2020-09-04 16:08] codexetreme commented on #410
I see, this makes the whole scenario a lot more clear. Let me experiment with this over the weekend, in case I hit any snags I will ask you for more details. One more question I have is, right now the headers that are being sent are not a part of the connector , I assume they are being autogenerated sent from somewhere upstream from the code. How do I set the header in the connector code?

If you

[2020-09-04 16:21] oscerd commented on #410
If you are using the source connector the headers will be generated from the camel component consumer under the hood, so you don't have to set any header.

[2020-09-04 16:22] oscerd commented on #410
It's possibile I don't get what you're asking well anyway. So what is the use case for you to set an header in the connector? What do you want to set?

[2020-09-04 16:34] codexetreme commented on #410
So, right now , as per my understanding, and experiments, when the source connector runs, it inserts the sqs message ID as the header for the Kafka record. Leaving the key of the record null.

My requirement is that , I want to basically parse the data from the sqs message, and depending on the data in the message, I want to set a key for the Kafka record.

If that is not possible, I want then per

[2020-09-04 18:54] orpiske commented on #414
Today I did play a bit with this and I think we may have some room to improve the CamelSourceTask.

I adjusted the code a little bit and managed to reduce both the CPU usage (from ~9% to ~0.4% on this computer), GC allocations and heap usage (from ~350Mb to ~290Mb) while idle.

Before:
<img width="1393" alt="before" src="https://user-images.githubusercontent.com/1851560/92276029-8b02ce00-eef0-11ea

[2020-09-04 19:06] oscerd commented on #414
And thanks a lot!

[2020-09-07 06:00] oscerd commented on #410
For each connector we apply a mapping of the Camel headers and properties. So you should able to get the message Id, by looking at the record.headers and check for the following name "CamelHeader.CamelAwsSqsMessageId" and then set it as key record if you want.

[2020-09-07 09:21] oscerd opened #429 "Create an NSQ example"
in the camel-kafka-connector-examples repo

[2020-09-07 09:55] #141 closed

[2020-09-07 09:59] apupier opened #430 "Provide a catalog of potential configuration properties specific to Camel Kafka Connector"
additionally to Camel main catalog https://github.com/apache/camel/blob/camel-3.5.0/catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/main/camel-main-configuration-metadata.json , there are specific Camel Kafka Connector configuration properties, for instance `camel.source.*` and `camel.sink.*` (are there others?)

providing a catalog would allow to have completion and hover p

[2020-09-07 10:51] omarsmak commented on #409
I see it fixed, isn't @orpiske @oscerd ? Thanks for the PRs :)

[2020-09-07 13:24] codexetreme commented on #410
hello,

I worked that out over the weekend, and now, I have the key from the SQS Message as required. Our use case is currently satisfied now. I can send a PR, but it is quite a custom functionality where we parse the SQS message and make our key.

I can send a PR where the transformer simply sets the CamelHeader.CamelAwsSqsMessageId as the key of the message. Let me know you want to proceed.

[2020-09-07 13:33] oscerd commented on #410
Yes, it would be nice to have the transformer for setting the key, thanks.

[2020-09-07 13:39] codexetreme commented on #410
cool let me open a PR

[2020-09-07 13:54] codexetreme commented on #410
opened PR #431 please check

[2020-09-07 14:43] oscerd commented on #429
Done.

[2020-09-07 14:43] #429 closed

[2020-09-08 09:58] QiAnXinCodeSafe opened #436 "Unreleased Resource: Database"
https://github.com/apache/camel-kafka-connector/blob/c26a551672e9c67216900dc4debbe041f512057a/tests/itests-jdbc/src/test/java/org/apache/camel/kafkaconnector/jdbc/client/DatabaseClient.java#L45

The program can potentially fail to release a database resource.

[2020-09-08 10:02] oscerd commented on #436
Thx

[2020-09-08 10:04] oscerd commented on #436
It's just a test

[2020-09-08 11:10] #436 closed

[2020-09-09 04:47] #410 closed

[2020-09-09 04:48] oscerd commented on #339
We updated to 3.5.0 and this will be available in 0.5.0

[2020-09-09 04:48] #339 closed

[2020-09-09 16:00] oscerd commented on #279
I think we need to remove also
- camel-mock
- camel-ref
- camel-robotframework (for testing)

I'll remove this and then I'll continue the investigation

[2020-09-09 16:16] oscerd opened #439 "Define a default naming for converters, transforms and aggregation packages"
We need to list what we currently have in our codebase and move our converters, transforms and aggregation in a default named package.

In this way, we could search for a specific package and automatically generated/lists the available converters, transforms and AggregationStrategies defined for each converters (if any).

In this way we should be able to add more information for end users.

My pro

[2020-09-09 16:19] oscerd opened #440 "Being able of generating only source or sink connector"
There are cases in which only source or sink connector makes sense.

For example, for all the kubernetes connectors, it makes sense to have a source connector consuming events for a particular resource and send it to your kafka cluster, while it doesn't makes sense to have a sink connector creating kubernetes resources in your cluster (you can set an operation like describePod, listPods and so on,

[2020-09-10 05:27] Thylossus commented on #414
Thank you for looking into it! The PR looks good. Looking forward to version 0.5.0 :)

[2020-09-10 06:44] orpiske commented on #439
+1. I think this looks straight to the point and consistent. My only comment would be regarding `transforms`. Wouldn't it be more precise to use `transformers`?

[2020-09-10 06:45] oscerd commented on #439
Yeah, it makes sense, I'll merge the PR and then rework on package naming.

[2020-09-10 06:48] orpiske commented on #430
Looks interesting! I think we would also need to provide the catalog for the Kafka, right? Otherwise it would only complete the Camel-specific ones, but not the Kafka Connect ones we also need to use.

[2020-09-10 07:00] oscerd commented on #430
In reality from the camel side we are just reusing the original Camel catalog and add the sink and source prefixes. So I don't know how much it makes sense to repackage another catalog just for adding the same set of information with prefixes in the name.

[2020-09-10 07:00] apupier commented on #430
i would expect kafka tooling not Camel specific to provide it. But if it does not exists, we can also work on that.

[2020-09-10 07:05] apupier commented on #430
that would be easier.

For instance, from where `maxPollDuration` should be taken from?
https://github.com/apache/camel-kafka-connector/blob/15f7fb1f40f92ed66f1cbbfd62bc6521079afd41/examples/CamelAWSS3SourceConnector.properties#L25
i don't find it in the Camel main catalog

isn't all properties here Camel Kafka Connector specific? https://github.com/apache/camel-kafka-connector/blob/81edd4b9a424fe

[2020-09-10 07:17] oscerd commented on #430
There is a mixture of kafka-connect specific option, camel options and camel component/endpoint options.

The camel component/endpoint options are exactly the same of the camel main catalog plus prefixes. The maxPollDuration is a specific option of a polling consumer and it's named in that way in ckc. The options in sink and source connector (generic classes) are not generated, so what you see in

[2020-09-10 07:33] omarsmak commented on #279
I think as well, camel-kafka doesn't make sense to be there since the whole thing is running based on kafka.

[2020-09-10 07:39] omarsmak commented on #279
As well, camel-debezium components I think in my opinion they don't need to be there as well since Debezium is originally a Kafka Connect connector.

[2020-09-10 07:49] apupier commented on #430
Can you precise which prefixes and points to an example?
Based on examples I found, it sounds like exactly the same than normal catalog, so writing the same than for Properties file for Camel main, for instance [camel.component.aws-kinesis.configuration.access-key=<youraccesskey>](https://github.com/apache/camel-kafka-connector/blob/15f7fb1f40f92ed66f1cbbfd62bc6521079afd41/examples/CamelAWSKinesis

[2020-09-10 07:57] oscerd commented on #430
https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-activemq-kafka-sink-connector.html

All the camel.sink.* stuff or camel.source.* stuff are camel catalog options renamed with sink or source in the name

For the second point, no, they don't need to be renamed. It was just to explain the only options not generated from catalog

[2020-09-10 08:14] apupier commented on #430
ok, just discovered for other options of camel.sink.* and camel.source.* (apart from camel.sink.url and camel.sink.url).
It means that the potential properties depends on the value of the connector.class that has been provided? How to do the mapping between the connector.class value and the corresponding component in the normal Camel Catalog entry which is grouped by component id? Can camel.sink.u

[2020-09-10 09:15] oscerd commented on #279
Removing
- camel-kafka
- camel-debezium-*
- camel-dataset
- camel-dataset-test

[2020-09-11 06:27] oscerd commented on #439
Done

[2020-09-11 06:27] #439 closed

[2020-09-11 12:13] oscerd opened #451 "Release 0.4.4"
We need to be in sync with Camel LTS

[2020-09-11 16:43] oscerd opened #454 "Support topics.regex"
https://kafka.apache.org/documentation/#topics.regex

[2020-09-14 07:29] oscerd opened #456 "Create Minio connector examples"

[2020-09-14 07:29] oscerd opened #457 "Create Arangodb examples"
on the ckc-examples repo

[2020-09-14 07:29] oscerd commented on #456
On the ckc-examples repo

[2020-09-14 07:35] apupier commented on #430
I think the catalog will be useful for several cases:
- properties specific to Camel Kafka Connector, the ones that are in CamelSourceConnectorConfig and CamelSinkConnectorConfig. Can be leveraged then in Camel Language Server  [FUSETOOLS2-626](https://issues.redhat.com/browse/FUSETOOLS2-626)
- provide the mapping between the connector.class and the Camel Connector id to be able to know which Came

[2020-09-14 09:51] #454 closed

[2020-09-15 07:16] oscerd opened #462 "Add integration test for archetype"

[2020-09-15 10:05] oscerd commented on #456
Done.

[2020-09-15 10:05] #456 closed

[2020-09-15 12:44] valdar commented on #430
@apupier sorry to jump this late in the conversation.

To summarize to see if I have understood correctly, you are proposing to create a new camel catalog specific for camel-kafka-connector containing all the information you mentioned?

As has been said that would be more or less a mapping of the original camel catalog with some prefixes for now... at the moment the other info you are listing (con

[2020-09-15 12:52] apupier commented on #430
not exactly, i'm proposing to create the Catalog for everything that is not coming from the original Camel catalog.
Currently, we cannot provide anything for Camel Kafka Connector (apart from harcoding it but I really don't think that itis a good idea to follow this path). Even for the part that can be "mapped from the original camel catalog", there is missing information in the Properties file to

[2020-09-15 13:17] oscerd commented on #430
Personally I think repackaging a catalog could be an important improvement, but not critical currently. We have a lot of more crucial features to do. So we can leave this open and re-start the discussion once we have free cycle for this.

[2020-09-15 13:44] orpiske opened #463 "Camel-telegram wrongly parse chatId from headers"
This is related to: https://issues.apache.org/jira/browse/CAMEL-15534

It may not affect Camel directly, but it does seem to cause some problems for the connector. Adding it here for future verification.

[2020-09-16 09:23] oscerd opened #465 "Examples instructions for Openshift too"
We are actually providing instructions only for standalone, but leveraging Strimzi we could add also Openshift and Kubernetes

[2020-09-18 10:17] oscerd commented on #279
Removing

- camel-digitalocean

[2020-09-22 06:01] oscerd commented on #279
Removing

- browse component
- class component

[2020-09-23 16:11] oscerd commented on #279
Removed bean connector

[2020-09-23 20:06] oscerd commented on #279
Removing

- bean-validator component
- jing component

[2020-09-28 06:00] oscerd commented on #463
Fixed in 3.6.0 of Camel. Once we switch we should be ok.

[2020-09-28 06:01] oscerd opened #486 "Create an Infinispan example"
in the examples repo

[2020-09-28 06:03] oscerd opened #487 "Beans aggregation size and timeout"
In Camel 3.6.0 the beans declaration for camel has been improved. In our case declaring a parameter named camel.beans.aggregation will make camel-main looking for an aggregation bean in the registry which it won't be found. We need to rename the parameters for aggregation size and timeout. I'll work on this on camel-master, so once 3.6.0 will be released we'll have the fix for free

[2020-09-28 21:02] janstey commented on #430
@oscerd @valdar would it be a big job to create this catalog that @apupier is requesting? I think we will need tooling for CKC sooner than later :-)

[2020-09-29 04:46] oscerd commented on #430
It's for sure some work.

[2020-09-30 16:21] oscerd opened #490 "MongoDB Kafka Connector: In the docs add Json as base value converter"

[2020-09-30 17:46] #490 closed

[2020-10-01 10:22] oscerd opened #492 "Add an ASF deploy GH Action like other camel projects"

[2020-10-01 20:24] #492 closed

[2020-10-02 04:45] oscerd commented on #414
I think we can close this one.

[2020-10-02 04:45] #414 closed

[2020-10-02 04:45] oscerd commented on #409
Fixed. It will be in 3.6.x

[2020-10-02 04:46] #270 closed

[2020-10-02 04:46] #282 closed

[2020-10-02 08:12] lburgazzoli opened #497 "[camel-main-support] Use camel's built-in support for configuring data formats trough properties"
Configuring dataformat is done via a [custom logic](https://github.com/apache/camel-kafka-connector/blob/f66a9211d6a31deae9e5d26a944f7262ceb872cc/core/src/main/java/org/apache/camel/kafkaconnector/utils/CamelMainSupport.java#L108) but Camel has built in support for configuring data formats from properties using Camel Main so this code:

[code]

can be replaced by:

[code]

NOTE: requires camel 3.6

[2020-10-02 08:13] lburgazzoli commented on #497
/cc @valdar

[2020-10-02 08:22] lburgazzoli opened #498 "[camel-main-support] Reordering props should not be required anymore"
Back in the early days, it was required to re-order the properties to have `#class:` be resolved before trying to perform bean binding but it should not be required any more thus [this](https://github.com/apache/camel-kafka-connector/blob/f66a9211d6a31deae9e5d26a944f7262ceb872cc/core/src/main/java/org/apache/camel/kafkaconnector/utils/CamelMainSupport.java#L79-L86) can be removed

[2020-10-02 08:32] lburgazzoli opened #499 "[camel-main-support] Use BaseMainSupport instead of Main"
Since I think there's no reason to support command line arguments or stopping the main instance after some time or number of messages, we can replace `Main` with `BaseMainSupport` which could simplify the life cycle handling as there's no more need for `CamelContextStarter` and `CamelMainFinishedListener`

[2020-10-02 08:39] lburgazzoli opened #500 "[task helper] use EndpointUriFactory to generate endpoint URIs"
As today camel-kafka-conenctor [uses](
https://github.com/apache/camel-kafka-connector/blob/f66a9211d6a31deae9e5d26a944f7262ceb872cc/core/src/main/java/org/apache/camel/kafkaconnector/utils/TaskHelper.java#L42-L70) the `RuntimeCamelCatalog` to assemble URIs out from a set of properties but an engine to compute them without the need to the catalogue has been merged in Camel 3.6.x/master.

See [Runt

[2020-10-02 17:10] oscerd commented on #486
Done in the examples repo

[2020-10-02 17:10] #486 closed

[2020-10-02 17:12] oscerd commented on #398
This can be close

[2020-10-02 17:12] #398 closed

[2020-10-05 09:30] oscerd opened #508 "Generator a JSON metadata file for each connector"
Like we have for components/dataformats/language in camel.

This is a subtask for #430

[2020-10-05 10:08] #498 closed

[2020-10-05 14:13] oscerd opened #509 "Create examples with dataformat in camel-kafka-connector-examples repo"

[2020-10-06 05:32] oscerd commented on #508
First spike of the structure:

[code]

[2020-10-06 05:43] davsclaus commented on #508
Yay great to see this.

btw the groupId is likely wrong

[2020-10-06 05:44] oscerd commented on #508
Yeah, it is from Camel

[2020-10-06 06:12] oscerd commented on #508
Now we have in src/generated splitted json for sink and source connector of the following structure

[code]

[2020-10-06 07:14] #508 closed

[2020-10-06 11:22] orpiske opened #513 "Document build steps w/ mvnd"
Document how to build camel kafka connector using mvnd for quicker builds.

[2020-10-06 12:28] oscerd opened #514 "Copy all Json connectors metadata into a camel-kafka-connector-catalog"
Related to #430

[2020-10-06 12:30] oscerd opened #515 "Move model classes CamelKafkaConnectorModel and CamelKafkaConnectorOptionModel in their own module"
Related to #514

So we could re-use them in the catalog API

[2020-10-06 20:03] #515 closed

[2020-10-06 20:21] #514 closed

[2020-10-06 20:23] oscerd commented on #430
I'm working on this. #515 is related too.

We'll provide camel-kafka-connector options and metadata. Kafka-connect options are out of scope and it is coming from a different library. So it won't be part of the catalog.

[2020-10-07 06:04] oscerd opened #523 "Create descriptors for source and sink connector for catalog purpose"
To be able to collect all the connectors, we need to create files similar to component.properties in plain camel.

Since we have an id for each connector of this kind: camel-component + connector-type, we need to create at most two descriptors one for sink (if any) and one for source (if any).

This descriptors will be in src/generated/descriptors

During the catalog generation, we'll need to pars

[2020-10-07 06:51] oscerd opened #524 "Create a source distribution module"
Like we have in other project

https://github.com/apache/camel-k-runtime/blob/master/distribution/pom.xml

[2020-10-07 08:40] #523 closed

[2020-10-07 10:07] #499 closed

[2020-10-07 13:27] oscerd opened #529 "Add a Maven Plugin to collect the connector descriptors for catalog purpose"
Related to #430

[2020-10-07 15:07] #529 closed

[2020-10-07 15:47] orpiske commented on #513
Merged, therefore closing.

[2020-10-07 15:47] #513 closed

[2020-10-07 15:59] oscerd opened #534 "Catalog: Rename the json file to reflect the id and connectors.properties content"
In connectors.properties we have the following:

camel-aws2-s3-source
camel-aws2-s3-sink

while in the connectors folder

camel-aws2-s3-kafka-sink-connector.json
camel-aws2-s3-kafka-source-connector.json

And inside these files the id is:

camel-aws2-s3-sink
camel-aws2-s3-source

so it probably makes sense to rename the json as something like <id>.json, to make the catalog easier to use.

Related

[2020-10-07 16:41] oscerd commented on #430
Once #536 will be merged, we'll have a list of connectors in connectors.properties under catalog JAR in descriptors

[code]

and in the connectors folder we'll have a json file for each source/sink connector of the following structure

[code]

@apupier and @lhein can you provide some information about the way you want to consume these metadata and options? So we can provide an API eventually and l

[2020-10-07 16:50] oscerd opened #537 "Improve Catalog and cleanup"
There is some work to do related to Catalog and all the related generation.

We need to be add some more logging and also improve some operations.

Related to #430

[2020-10-07 17:21] #534 closed

[2020-10-08 10:02] lburgazzoli commented on #23
Wonder if this task should be off-loaded to camel-k as it has some mechanics already and we were talking about decomposing routes in the past already

[2020-10-08 10:18] lburgazzoli commented on #423
I think Kamelets or a very similar concept can also be  used to implement Kafka Connect SMTs which could supersede #22 and #21  by unleashing the full power of the Camel DSL

[2020-10-08 11:13] apupier commented on #430
What I have in mind is:
* declare dependency on the "Camel Kafka Connector Catalog" artifact that provides the catalog
* the Camel Language Server is written Java. The ideal would be a method API that is returning the Catalog as Java model. It can also be a method API returning the json as a string and Camel Language Server defines the Java model in our codebase. Or it can also be that the Camel L

[2020-10-08 11:21] oscerd commented on #430
Do you mean listing all the connectors artifacts as deps in the camel kafka connector catalog?

[2020-10-08 11:42] apupier commented on #430
no.

I imagine having in camel-language-server pom, a dependency on the catalog, something like:
[code]

and then in Camel Language Server code, having an API Method which is returning the loaded Model as a Java Class, something like:

[code]

[2020-10-08 11:53] oscerd commented on #430
ok, I'll expose something like that. Thanks for the clarification.

[2020-10-08 12:00] oscerd opened #542 "Catalog: expose an API for consuming connectors catalog metadata and options"
I imagine having in camel-language-server pom, a dependency on the catalog, something like:
[code]

and then in Camel Language Server code, having an API Method which is returning the loaded Model as a Java Class, something like:

[code]

_Originally posted by @apupier in https://github.com/apache/camel-kafka-connector/issue_comments/705513426_

Related to #430

[2020-10-08 13:27] lburgazzoli opened #544 "source: better handling of headers of type Data"
In the `CamelSourceTask`, if a Camel's header is of type date, it gets propagated as a string to Kafka with something like:

[code]

this approach has some issues:

1. the consumer is not able to know the real type of the header as it is just a string
2. we lose precision as we remove the time of the day

As Kafka support date and time with `org.apache.kafka.connect.data.[Data|Time]`, we should pr

[2020-10-08 15:06] lburgazzoli commented on #544
It turn out that it it much simpler as there is `org.apache.kafka.connect.data.Timestamp` that represent a date.
However we should remove support for `java.sql.Date` and `java.sql.Timestamp`

[2020-10-08 17:26] #544 closed

[2020-10-09 06:10] svkcemk commented on #149
@valdar I wanted to work on this one, I am just starting with camel-kafka-connector would be a good starting point for me !

[2020-10-09 07:02] #542 closed

[2020-10-09 09:22] oscerd opened #558 "Add more convenience method to CamelKafkaConnectorCatalog"
Related to #430

[2020-10-09 09:27] oscerd opened #559 "Add converters, transforms and aggregationStrategies to catalog"
We have these information too.

Related to #430

[2020-10-09 11:34] valdar opened #563 "Better handling of property with no default values using `ConfigDef.NO_DEFAULT_VALUE`"
In connectors autogeneration take in account properties with no default value coming from camel catalog and use `ConfigDef.NO_DEFAULT_VALUE` to express that in kafka connect configuration declaration.

[2020-10-09 17:02] oscerd opened #564 "Create an AWS2-Translate example"
in camel-kafka-connector-examples repo

[2020-10-10 00:49] LeonardoBonacci opened #565 "Create example for camel-resteasy-kafka-source-connector"
Hi all,

Thanks to all contributors: this is a great and promising project!

I'm trying to set-up the camel-resteasy-kafka-source-connector, with the following - largely guessed - connector configuration
[code]
It's just a experiment, but I cannot figure out how to access the connector and no documentation is provided.
My Kafka Connect node is accessible on the default localhost:8083.

Question is

[2020-10-11 16:26] oscerd opened #569 "Improve README"
I think this project is wip, but it is already at a different level, we can try to change the README in a different way.

[2020-10-12 06:30] oscerd commented on #509
Done in the examples repo

[2020-10-12 06:30] #509 closed

[2020-10-12 06:39] oscerd commented on #462
Done

[2020-10-12 06:39] #462 closed

[2020-10-12 07:04] oscerd commented on #564
Probably it doesn't make really sense, it will write only the result in body.

[2020-10-12 07:04] #564 closed

[2020-10-12 07:07] oscerd commented on #279
I think aws*-translate too, should be removed, it just set the translation in the body of the camel exchange

[2020-10-12 08:53] valdar commented on #279
Hello, has commented in the relative PR I feel that `camel-kafka` covers a legitimate usecase (even though there are other options to accomplish the same in the kafka broader ecosystem) that is propagating events between different kafka clusters.

As per the `aws-*` sink only components, creating entities in aws based on some events on a topic seems a reasonable usecase to me. Imagine, for instanc

[2020-10-12 09:06] oscerd commented on #279
I'll add the aws again. For the kafka connector I'm not sure, but it doesn't cost to add it again. So let me do this before 0.6.0

[2020-10-12 12:02] valdar commented on #565
Hi @LeonardoBonacci I am not sure I completely get what you are trying to achieve; do you want to expose a rest endpoint trough a camel-kafka-connector?

How do you run the connector?
You mention a running local Kafka Connect cluster,  how do you run that one as well?

[2020-10-12 12:13] apupier opened #573 "Provide API on Camel Kafka Connector to add/remove connectors dynamically"
This is useful in 2 cases for providing tooling:
* allow users to provide their own connectors to the catalog and leverage the Tooling support
* allow to add easily dynamically connectors for testing purpose for Tests of Camel Tooling

I will provide a Pull request

[2020-10-12 16:25] oscerd commented on #573
Resolved through #574

[2020-10-12 16:25] #573 closed

[2020-10-12 20:19] LeonardoBonacci commented on #565
Hi @valdar exactly that. I want to expose a rest endpoint through a camel-kafka-connector.
The Kafka Connect cluster runs through docker-compose now, but in the future it will run in a Kafka Connect cluster in Kubernetes using Strimzi operators.

[2020-10-13 03:24] cunningt commented on #424
@oscerd Can I take this one?

[2020-10-13 04:04] oscerd commented on #424
Sure

[2020-10-13 07:04] oscerd opened #580 "Slack Connector: Add the slack transformer from itest to the slack connector ootb"

[2020-10-13 08:22] valdar commented on #146
Done in: https://github.com/apache/camel-kafka-connector/pull/576

[2020-10-13 08:22] #146 closed

[2020-10-13 09:31] oscerd opened #581 "Strimzi 0.20: Lets test early with Release candidate"
The first one, is already out. We can do this on camel-master
https://github.com/strimzi/strimzi-kafka-operator/releases/tag/0.20.0-rc1

[2020-10-13 09:49] orpiske commented on #581
@oscerd if you want, I can prepare this.

[2020-10-13 10:00] oscerd commented on #581
Sure, but I'd like to wait for the final release, so maybe we could have a profile for testing with release candidates? Not sure. This would probably require updating to kafka 2.6.0 too

[2020-10-13 10:10] orpiske commented on #581
I'm trying the following:

[2020-10-13 10:11] orpiske commented on #581
I am not sure if the `-Dkafka.version=2.6.0` yet will actually manage to override the version, but the rest should definitely run the tests against Strimzi 0.20 rc1. I am running a build here and will let you know soon.

[2020-10-13 10:12] oscerd commented on #581
Thanks, sounds good. We can do this and if it works we can create a profile to be enabled with a gh action for example.

[2020-10-13 10:13] orpiske commented on #581
That sounds like a good plan +1.

[2020-10-13 13:11] #524 closed

[2020-10-13 20:38] #563 closed

[2020-10-14 07:26] orpiske commented on #581
@oscerd looking at the GH actions, it does not seem to have run. I believe I need to cherry-pick the action into master.

[2020-10-14 07:29] oscerd commented on #581
yes

[2020-10-14 08:38] orpiske commented on #403
I finally had some time to verify this one and it does not seem to happen with the packaged code for 0.5.0. It seems to happen only in the integration test code. Therefore, closing.

[2020-10-14 08:38] #403 closed

[2020-10-14 09:24] oscerd opened #590 "Rename all transformers, converters, aggregationStrategies to reflect the maning convention we have"

[2020-10-14 11:00] #559 closed

[2020-10-14 11:22] orpiske commented on #581
Worked after cherry-picking. Therefore, marking this one as closed.

[2020-10-14 11:22] #581 closed

[2020-10-14 11:58] orpiske commented on #569
Merged a brief rewrite of the project introduction. Therefore, closing.

[2020-10-14 11:58] #569 closed

[2020-10-14 12:32] #590 closed

[2020-10-14 15:19] oscerd commented on #537
I think this can be closed.

[2020-10-14 15:19] #537 closed

[2020-10-14 15:40] oscerd opened #597 "Create example for Couchbase connector"
in camel-kafka-connector-examples repo

[2020-10-14 15:40] oscerd commented on #465
It should be ok. We have a beginning.

[2020-10-14 15:40] #465 closed

[2020-10-14 15:42] #580 closed

[2020-10-14 16:49] orpiske opened #598 "Camel Kafka connector extensible is broken with mvnd"
When trying to build the project with mvnd, the following module fails to build:
- Camel Kafka Connector :: Archetypes :: Camel Kafka connector extensible

[code]

Building it with Maven seems to work, but it would be good to support mvnd as well, since Maven is too slow to build.

[2020-10-14 17:17] orpiske commented on #598
The `package` target works whereas the `install` target doesn't.

```mvnd -DskipIntegrationTests=true clean package```

[2020-10-14 19:05] orpiske commented on #598
Found a work-around and documented.

[2020-10-14 19:05] #598 closed

[2020-10-15 07:09] oscerd opened #600 "Add a file watch connector example"
In the camel-kafka-connector-examples repo

[2020-10-15 07:09] oscerd commented on #597
This one needs some work on the component side in main camel.

[2020-10-16 06:56] orpiske opened #603 "Remove camel-hipchat from camel-master"
Creating this so that we don't forget about this.

Hipchat was removed from Camel. I think we need to do the same for camel-master.

[2020-10-19 10:26] #603 closed

[2020-10-19 10:26] oscerd commented on #603
Done.

[2020-10-19 10:27] oscerd opened #613 "Add a Telegram example"
In camel-kafka-connector-examples repository

[2020-10-19 17:00] oscerd commented on #600
Done.

[2020-10-19 17:00] #600 closed

[2020-10-19 17:12] oscerd opened #615 "Move ConnectRecordValueToMapTransformer of Elastisearch IT test in the connector"
So it will be listed in the catalog and it could be used out of the box.

[2020-10-20 10:27] oscerd opened #617 "Add the required field for connector options in docs and catalog"

[2020-10-20 18:36] #615 closed

[2020-10-21 18:40] #617 closed

[2020-10-22 09:24] #558 closed

[2020-10-22 09:25] oscerd commented on #430
Completed for 0.6.0

[2020-10-22 09:25] #430 closed

[2020-10-22 12:00] oscerd commented on #613
Done.

[2020-10-22 12:00] #613 closed

[2020-10-22 12:01] oscerd opened #628 "Add Braintree examples"
in the camel-kafka-connector-examples repository.
We have multiple endpoints for this, since it is based on Api Component. Lets try to add some simple example.

[2020-10-22 12:11] orpiske opened #629 "Couchbase fails due to incorrect URI format"
When trying Couchbase with the given configuration, the connector fails complaining that the URL format is invalid:

```2020-10-22 14:08:06,300 [SinkConnector-0] ERROR org.apache.camel.processor.errorhandler.DefaultErrorHandler - Failed delivery for (MessageId: E1DBFDB5E174861-0000000000000000 on ExchangeId: E1DBFDB5E174861-0000000000000000). Exhausted after delivery attempt: 1 caught: org.apache.

[2020-10-22 12:18] oscerd commented on #629
I worked on this here https://github.com/apache/camel/commit/46e23d1b7fa324f3a5ad2edf8d53e061262012ff#diff-118ec4ad74df487260d52308cd40005080748272e546997dda6d23d91890ecbe

[2020-10-22 12:19] orpiske commented on #629
@oscerd that was quick! Thanks Andrea.

[2020-10-22 12:23] oscerd commented on #629
I'll move camel-master to 3.7 soon

[2020-10-23 08:33] lburgazzoli commented on #500
Done with https://github.com/apache/camel-kafka-connector/pull/622

[2020-10-23 08:33] #500 closed

[2020-10-23 14:16] oscerd opened #636 "Add Openshift instrunctions for Telegram examples"
In ckc-examples repo

[2020-10-23 14:32] oscerd opened #637 "Add Twittersearch examples"
on ckc-examples repo

[2020-10-23 15:51] cunningt commented on #637
@oscerd Can I take this one?

[2020-10-23 15:55] oscerd commented on #637
Hey @cunningt I'm about to push a little example for the source part.

Do you want to have a look at a twitter timeline example? Should be similar.

[2020-10-23 15:56] oscerd opened #640 "Create a Twitter timeline example"
@cunningt here you are if you want :-)

[2020-10-23 16:27] cunningt commented on #637
Sure!

[2020-10-26 11:14] oscerd opened #641 "Bump to Strimzi 0.20.0 and Kafka 2.6.0"

[2020-10-26 14:35] oscerd commented on #636
Done.

[2020-10-26 14:35] #636 closed

[2020-10-26 16:21] #641 closed

[2020-10-27 01:03] saherahwal opened #644 "is camel-smtp connector ready for production?"
Hi
I have few questions regarding camel-smtp connector.

1. Where are the instructions to setup camel smtp Kafka Connect?

2. What makes it better than implementing our own consumer that uses SMTP client?

3. Is the smtp connector production ready?

[2020-10-27 05:42] oscerd commented on #644
Hello, it's always good to start with hello so: Hello.

1. This is the way you have to test the connector locally: https://camel.apache.org/camel-kafka-connector/latest/try-it-out-locally.html and the options related to the connector are here: https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-smtp-kafka-sink-connector.html for sink and https://camel.apache.org/camel-kafka-conn

[2020-10-27 09:04] apupier opened #645 "Include possible enum values in Catalog"
The Camel kafka Connector Catalog currently doesn't contain information on possible values in case of enumeration.

it would be nice to provide them so that tooling support can be improved by proposing them via completion.

[2020-10-27 10:53] oscerd opened #646 "Provide an archetype with needed bits to use Apicurio Registry stuff"

[2020-10-27 15:51] saherahwal commented on #644
Hello oscerd
Thank you so much for the detailed and very clear answers. Very much appreciated.

Thanks
Saher

[2020-10-27 18:12] oscerd opened #649 "Create a Camel-exec example"
in ckc-examples repo

[2020-10-28 08:22] oscerd commented on #649
Done.

[2020-10-28 08:22] #649 closed

[2020-10-28 23:27] valdar commented on #644
@saherahwal if I may add my 2c to what @oscerd said:

3. see for yourself, if `camel-smtp-kafka-connecto` covers your usecase chances are, since `camel-smtp-kafka-connecto` is based on `camel-smtp`, that would work well in production environment...

[2020-10-29 09:07] #646 closed

[2020-10-29 13:07] oscerd opened #651 "Add Dataformat documentation"

[2020-10-29 17:31] saherahwal commented on #644
Thanks @valdar
Unfortunately it doesn't. Our use case requires dynamic email details (subject, recipients (to, cc, bcc), body, ...etc) based on the Kafka messages coming in. It seems that the connector doesn't allow for dynamic attributes for emails.

These details are currently only placed in the config file for the connector which doesn't work with our use case.

[2020-10-29 17:43] oscerd commented on #644
You can use still use the connector by injecting headers into your kafka record. You just need to set CamelHeader.to=subject@yyy.com and it will be picked up from the connector. You can do this with kafkacar or through a producer programatically

[2020-10-29 17:49] saherahwal commented on #644
Hi @oscerd thanks for your quick response.

Do you have any examples on that? How do you override these config values from within

thanks

[2020-10-29 22:25] valdar commented on #644
@saherahwal if I have understood your use case correctly you don't need to override the values, you need to send kafka events with the correct headers in the topic your sink connector listen from

[2020-10-29 22:57] oscerd commented on #565
Basically it's a camel context behind these connectors. We still need to check this stuff, but as far as you have a consuming side in the component you'll get an autogenerated source connector.

[2020-10-29 22:58] oscerd commented on #565
In terms of aurogeneration and docs there is nothing to update

[2020-11-02 17:50] oscerd opened #660 "Add an extensible connector archetype with dataformat"

[2020-11-02 18:46] #660 closed

[2020-11-02 18:47] oscerd commented on #565
I think the packaged connectors doesn't have all the required bits, at least it seems we are missing something @LeonardoBonacci

[2020-11-03 11:07] oscerd opened #663 "Support Idempotency on source and sink"
We have this feature easily available in Camel, we can try to leverage it on our side.

[2020-11-03 15:46] oscerd opened #664 "Create example for camel-pgevent connector"
In ckc-examples repo

[2020-11-03 21:19] vbbhatia14 opened #665 "Error with Syslog Source Connector"
Hi,

I tried the below and got the error as : hostname can't be null even though I had provided a host. Tried with both localhost and 0.0.0.0 as in doc. Even tested with an external host as well. Maybe it points to a different hostname property.

**My CamelSyslogSourceConnector.properties values below:**

name=CamelSyslogSourceConnector
connector.class=org.apache.camel.kafkaconnector.syslog.CamelS

[2020-11-04 19:27] LeonardoBonacci opened #667 "Add Simple Language support"
To increase general flexibility for all connectors it would be great if it were possible to somehow use the Camel Simple Language (or at least a subset of it).

Reason being: I'm trying to use the sftp-source connector and receive this value in my Kafka Topic: _RemoteFile[testfile.txt]_

Reading the file works, but in the [docs](https://camel.apache.org/camel-kafka-connector/latest/connectors/came

[2020-11-04 19:34] LeonardoBonacci commented on #565
All good. Thanks for answering!
I close this issue for now since there are many more important issues on your backlog ;)

[2020-11-04 19:34] #565 closed

[2020-11-04 19:38] oscerd commented on #667
If you need to use a processor i believe you should use plain camel. This is a first suggestion. The simple language is already supported. In your connector options you can already use stuff like ${body} or headers. Like here for example: https://github.com/apache/camel-kafka-connector-examples/blob/master/aws2-s3/aws2-s3-sink-with-aggregation/config/CamelAWS2S3SinkConnector.properties#L31

If you

[2020-11-04 22:00] LeonardoBonacci commented on #667
It's already available? That sounds great!

Do you have a suggestion on to which sftp configuration property can be used to read the message body?

https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-sftp-kafka-source-connector.html

Cheers!

[2020-11-05 07:07] oscerd commented on #667
I'm working on an example, for this purpose :-)

I'll post it here, probably we'll need to introduce a little transform

[2020-11-05 07:37] oscerd opened #668 "Add SFTP examples"
In ckc-examples repo

[2020-11-05 07:38] oscerd opened #669 "Added Git connector examples"
in ckc-examples repo

[2020-11-05 07:56] oscerd commented on #667
https://github.com/apache/camel-kafka-connector-examples/tree/master/sftp/sftp-source

Here is an example.

[2020-11-05 07:58] oscerd commented on #668
Done for source part. The interesting one.

[2020-11-05 07:58] #668 closed

[2020-11-05 08:06] oscerd opened #670 "Add RemoteFileTransforms to the connector directly"
Developing some example related to SFTP I noticed we need a transform for getting the file content, it would be great to move the transform class in the connector, so we have it there out of the box and listed in the catalog

[2020-11-05 09:13] apupier opened #671 "Provide validation of properties file from the catalog"
The Camel core catalog is providing a validation mechanism. For instance, by checking that parameters used are valid. This validation is used by camel maven plugin and by Camel Language Server.

It would be interesting to provide validation too for properties file.

- [ ] Provide API method taking a properties string text and returning a list of Validation result. The validation result should cont

[2020-11-05 09:19] apupier opened #672 "Provide description for connector in the catalog"
it will allow to provide a description on completion and on hover for connector.class attribute in tooling

For instance, I think that the description should be added in

https://github.com/apache/camel-kafka-connector/blob/e309308497ad5f45499d07025c4d500e3eb1cd18/camel-kafka-connector-catalog/src/generated/resources/connectors/camel-activemq-sink.json#L2-L9

[code]

It means to add a `description

[2020-11-05 10:00] apupier commented on #672
looking to provide a Pull Request

[2020-11-05 12:20] apupier commented on #672
the description is directly picked up from the normal Camel Catalog.

[2020-11-05 12:20] #672 closed

[2020-11-05 12:33] apupier opened #677 "Syslog connector is missing from the catalog"
`org.apache.camel.kafkaconnector.syslog.CamelSyslogSourceConnector` is not part of the catalog.

guess: the class extends CamelNettySourceConnector and not directly CamelSourceConnector or it is because the class is not generated

[2020-11-05 12:39] oscerd commented on #677
The syslog connector is a bit particular. So, no, it's not part of autogenerated catalog.

[2020-11-05 12:44] apupier commented on #677
is it the only one?

any ideas to include "particular" connector in catalog?

[2020-11-05 12:48] oscerd commented on #677
Yes, it is the only one. Particular is related to the fact that basically the component is a dataformat. To make it work as a connector we needed to make it extending the NettySourceConnector. This was done in the early stage of the development while we were testing what could work and what not.

[2020-11-05 12:49] oscerd commented on #677
The only way we have to do this is including it in the catalog by hand.

[2020-11-05 12:52] apupier commented on #671
question: is it relevant to have it in Camel Kafka Connector project? given that the properties files seems to be usually standalone, not inside a Maven or Gradle project. Maybe this would be better to implement it only in Camel Language Server side.

[2020-11-05 13:11] apupier opened #679 "Provide API in Camel Connector Catalog to retrieve Camel Kafka Basic configuration"
Several options are considered as "basic configuration". They are specific to Camel Kafka Connector. Providing them in the catalog will allow to provide tooling for it.

https://camel.apache.org/camel-kafka-connector/latest/basic-configuration.html

[2020-11-05 14:45] apupier commented on #679
starting to look at it.

[2020-11-05 15:36] apupier commented on #671
if part of Catalog, is it possible to reuse some LSP4J API for Range, or perhaps even org.eclipse.lsp4j.Diagnostic?

[2020-11-05 15:37] oscerd commented on #671
I do think it makes sense to have it as part of Camel Language Server

[2020-11-05 16:15] apupier commented on #671
to provide range, it might be useful to reuse the PropertiesParser from Microprofile/Quarkus Language Server https://github.com/eclipse/lsp4mp/blob/master/microprofile.ls/org.eclipse.lsp4mp.ls/src/main/java/org/eclipse/lsp4mp/model/parser/PropertiesParser.java there are discussions to extract it https://coreos.slack.com/archives/CK14U2L4V/p1604591998095300

[2020-11-05 19:56] LeonardoBonacci commented on #667
Works like a charm! Your transform works much better than my improvised one.
Thanks again and I will close this ticket.

[2020-11-05 19:56] #667 closed

[2020-11-09 07:25] oscerd commented on #679
This has been done.

[2020-11-09 07:25] #679 closed

[2020-11-09 10:18] #670 closed

[2020-11-09 17:57] valdar opened #692 "Cache already computed Schemas in PojoToSchemaAndStructTransform"
`org.apache.camel.kafkaconnector.transforms.PojoToSchemaAndStructTransform` generate at runtime Kafka connect Schema + Struct for a given pojo in the record; it dose it each time for every record while Kafka connect Schema can be cached per POJO type.

[2020-11-09 18:01] valdar opened #693 "Review Archetype generation after new dependencies added to core"
Since
[code]
has been added to core, archetypse generation must be revised to see if some tweaks are needed.

[2020-11-09 18:05] valdar commented on #665
@vbbhatia14 what version of the connector did you use?

[2020-11-09 18:12] valdar opened #694 "Add ServiceLoading to prepopulate PojoToSchemaAndStructTransform POJO type -> Shema + struct cache"
Related to https://github.com/apache/camel-kafka-connector/issues/692

When a cache is in place one can think about pre-populate it  using a ServiceLoader like pattern in order to enable registration of precomputed conversions (might be useful for connectors based on components that have a way to autogenerate those).

[2020-11-09 21:19] oscerd opened #695 "Create Google Calendar Stream Source Example"

[2020-11-09 21:19] #695 closed

[2020-11-09 21:20] oscerd commented on #664
Done

[2020-11-09 21:20] #664 closed

[2020-11-09 21:21] oscerd opened #696 "Create Camel Google Mail Stream Source example"
In CKC examples repo

[2020-11-10 08:02] apupier opened #697 "Camel Kafka Connector Catalog throws NPE on Windows"
see https://github.com/camel-tooling/camel-lsp-client-vscode/issues/472

[code]

[2020-11-10 10:37] oscerd commented on #697
This should be fixed.

[2020-11-10 10:37] #697 closed

[2020-11-10 10:37] oscerd commented on #696
Done

[2020-11-10 10:37] #696 closed

[2020-11-10 10:47] #487 closed

[2020-11-10 10:47] #463 closed

[2020-11-10 10:47] #451 closed

[2020-11-10 12:05] #693 closed

[2020-11-10 12:06] #637 closed

[2020-11-10 13:44] #669 closed

[2020-11-11 11:48] orpiske opened #700 "Add test for AWS 2 SNS"
Adding an issue for me. I already have it ready and can merge once we move to 3.7.

[2020-11-11 12:06] oscerd opened #701 "Add RemoteFileTransforms to the FTP connector directly"

[2020-11-11 12:06] oscerd opened #702 "Add RemoteFileTransforms to the FTPS connector directly"

[2020-11-11 15:28] oscerd opened #703 "Add Google Sheets Stream source example"
In ckc-examples repo

[2020-11-12 15:17] #702 closed

[2020-11-13 07:17] #701 closed

[2020-11-13 10:46] vbbhatia14 commented on #665
@valdar I am using 0.6 version.

[2020-11-16 06:37] oscerd commented on #703
Done

[2020-11-16 06:37] #703 closed

[2020-11-16 09:08] orpiske commented on #629
@oscerd I gave it a try with Couchbase and 3.7. The URL formatting via `camel.sink.url` is OK now.

However, when using only properties, our code is still formatting the URL incorrectly.

```2020-11-16 10:07:10,748 [SinkConnector-0] ERROR org.apache.camel.processor.errorhandler.DefaultErrorHandler - Failed delivery for (MessageId: 2073D9C11D9CFB0-0000000000000000 on ExchangeId: 2073D9C11D9CFB0-000

[2020-11-16 09:11] orpiske commented on #629
It does seem that the CKC gets the URL correctly, though:

[code]

[2020-11-16 09:26] oscerd commented on #629
Probably is in the component. I'll have a look

[2020-11-16 10:30] oscerd commented on #629
The only point possible is at CouchBaseEndpoint level, there a constructor raising that exception message.

[2020-11-16 22:41] valdar opened #715 "Create the sink counterpart of the PojoToSchemaAndStructTransform"
Create a transformer for sinks that does the opposite job of `PojoToSchemaAndStructTransform`.

[2020-11-17 05:50] #692 closed

[2020-11-17 22:19] #663 closed

[2020-11-18 18:02] oscerd opened #719 "Idempotency: Support KafkaIdempotentRepository from Camel"
We recently introduced the idempotency with only in memory approach.

We can add an option to specify a different implementation like the kafka one and point to the same instance or to a different one.

[2020-11-18 18:27] oscerd opened #720 "File language and core languages in general are not working"
Also for 0.6.0

camel.sink.endpoint.keyName=${date:now:yyyyMMdd-HHmmssSSS}-${exchangeId}

It won't be substituted anyway. We can workaround the problem by using headers where possible.

@lburgazzoli I think this is coming from the introduction of templating

[2020-11-19 09:46] oscerd commented on #720
This has been resolved in Camel but it will be available in 3.7.0

[2020-11-19 11:24] #720 closed

[2020-11-19 18:18] #719 closed

[2020-11-20 08:29] #409 closed

[2020-11-20 08:29] oscerd opened #727 "Added example for AWS2-STS"
In ckc-examples repo

[2020-11-20 10:54] oscerd commented on #727
Probably it doesn't make sense.

[2020-11-20 10:54] #727 closed

[2020-11-23 07:40] #715 closed

[2020-11-23 13:56] oscerd opened #734 "Support Poll timeout and key cache size as option for kafka idempotent repository"

[2020-11-23 17:44] oscerd commented on #457
Sink example with documentCollection has been added.

[2020-11-25 12:29] oscerd opened #736 "Create Twitter direct message examples"
On ckc-examples repo

[2020-11-25 12:29] oscerd commented on #736
This is already done.

[2020-11-25 12:29] #736 closed

[2020-11-25 12:30] oscerd opened #737 "Create SSH connector examples"
In ckc-examples repo

[2020-11-25 19:43] hguerrero opened #738 "Missing timestamp information"
The connectors like the Timer one, are missing the information regarding Timestamp. So, when trying to use a transformation like InsertField `timestamp.field` it won't work as the information is missing.

Example:

[code]

[2020-11-25 20:03] oscerd commented on #738
If you print the source record coming from a timer there will be a timestamp with CamelHeader.* as prefix

[2020-11-25 20:03] oscerd commented on #738
You need to check the record headers

[2020-11-26 05:41] oscerd commented on #737
Done.

[2020-11-26 05:41] #737 closed

[2020-11-26 10:42] oscerd opened #742 "Move SshTransforms from example/it test class directly in the camel-ssh-kafka-connector"

[2020-11-26 10:43] oscerd opened #743 "Add Integration test for Camel-FTP kafka connector"

[2020-11-26 10:43] oscerd opened #744 "Add integration test for Camel-FTPS kafka connector"

[2020-11-26 10:43] oscerd opened #745 "Add Integration test for Camel-SFTP Kafka Connector"

[2020-11-26 10:45] oscerd opened #746 "Possibly moving Integration tests in a separated repository?"
At some point we may end up having a lot of IT tests that may slow down the build. We may maintain just a subset of IT Tests in that case in main repo and moving the other in a different repo. What's your thought on this @valdar @orpiske ?

[2020-11-26 10:51] orpiske commented on #746
I agree that at this point, they are already taking far too long to run.

However,  I'd possibly keep them in this repo. I think we need to start filtering some slow tests in such a way that they can be enabled at will.

With junit 5 we can annotate the tests with

[code]

Then, we can enable those tests when needed by using `mvn -Denable.tests.slow=true ...`

Keeping them separate makes it a bit

[2020-11-26 12:24] oscerd commented on #746
Sounds good, but we need to track down the slow ones.

[2020-11-26 13:38] orpiske commented on #746
Agreed. I think I have some data about these. I'll try to share today or tomorrow.

[2020-11-26 13:51] #742 closed

[2020-11-26 14:52] valdar commented on #746
+1 on leaving the tests on the same repo and have a way to enable them. I am not sure if a opt in or opt out approach is better though...

[2020-11-26 20:43] #738 closed

[2020-11-27 08:40] orpiske commented on #746
![Screenshot_2020-11-27 camel-kafka-connector #246 Test Results  Jenkins (1)](https://user-images.githubusercontent.com/1851560/100428324-11642180-3094-11eb-9d24-5d92111f784c.png)

This is the duration report from a personal CI I have, which runs the tests in multiple configurations (JDKs, w/ Strimzi, Salesforce tests, etc). AWS ones seems to be very big offenders in terms of test duration.

IMHO,

[2020-11-27 10:15] oscerd commented on #746
+1 for this approach

[2020-11-27 17:05] orpiske commented on #746
Thanks!

Let's see how it goes: https://github.com/apache/camel-kafka-connector/pull/749

[2020-11-29 17:28] fvaleri opened #751 "SJMS2 connector fails with qpid JmsConnectionFactory"
The SJMS2 connector works fine with `org.apache.activemq.ActiveMQConnectionFactory` (OpenWire protocol) and `org.apache.activemq.artemis.jms.client.ActiveMQConnectionFactory` (CORE protocol), but not with `org.apache.qpid.jms.JmsConnectionFactory` (AMQP protocol).

Reproducer:

[code]

Task exception:

[code]

[2020-11-29 17:51] oscerd commented on #751
For amqp you need to use the amqp connector

Here is the sink example https://github.com/apache/camel-kafka-connector-examples/blob/master/amqp/config/CamelAmqpSinkConnector.properties

[2020-11-29 18:00] fvaleri commented on #751
Thanks @oscerd , I added this to remember to look into it. I would expect the qpid JMS library to work, but there is probably some issue with the Camel SJMS2 component.

[2020-11-30 12:26] zregvart opened #754 "Create binary distribution"
With #524 we have the sources distribution as a ZIP file, we should also create a binary distribution containing the ZIP packages of connectors.
We have these already deployed to the Maven Central I think a ZIP file containing connector ZIP packages could convenient for users. This way we can link to a single ZIP file from the website for downloads rather than having a list of all connectors which

[2020-11-30 12:30] oscerd commented on #754
+1

[2020-12-01 07:31] oscerd opened #757 "Added Camel-SQL kafka connector integration test"

[2020-12-01 13:00] #757 closed

[2020-12-01 19:23] #734 closed

[2020-12-02 17:16] #457 closed

[2020-12-03 14:34] zregvart commented on #754
I've spoken with @valdar and it seems that a binary ZIP-of-ZIPs would be 10GB, we should probably check with INFRA if that's okay with them. Perhaps as an alternative we could create a installer-like tool that would download/assemble (as needed) the connector ZIP file from Maven central. Might be a good idea to have such a tool to allow folk to manage the configuration of the connector as well.

[2020-12-04 07:51] jargelo opened #762 "using aws2-s3 source and sink to move files between buckets"
I am trying to use kafka-connect to transfer files from bucketA to bucketB using the aws2-s3 source and sink. The source appears to be working but the sink does not seem to be writing into bucketB. After attaching a console-consumer to the topic I can see the message continuously being readded to the topic, as if the sink is writing into the topic instead of writing it into S3.

After further inve

[2020-12-04 08:12] oscerd commented on #762
I'd try with moveAfterRead option on just source connector. If you are moving it will do what you're looking for without sink connector

[2020-12-04 08:22] oscerd commented on #762
By the way yes. The headers are not removed

[2020-12-04 08:23] oscerd commented on #762
We can add an option for that anyway

[2020-12-04 08:46] jargelo commented on #762
Thanks, I think intuitively it would make sense to use both the source and the sink, so having an option to remove the header would be great. I will try testing the moveAfterRead option later today.

[2020-12-04 14:07] oscerd opened #763 "Add a removeHeaders option on both source and sink"
It could be splitted in to two different option includePattern and excludePattern.

[2020-12-04 18:08] #763 closed

[2020-12-04 18:10] oscerd commented on #762
This should have been fixed through https://github.com/apache/camel-kafka-connector/issues/763 I'll add the exact same example as the one you reported in camel-kafka-connector-examples repository. This will be released with 0.7.0, for the moment you can build the connector yourself and use a 0.7.0-SNAPSHOT

[2020-12-07 06:26] #754 closed

[2020-12-07 12:32] jargelo commented on #762
Awesome thanks so much. The moveAfterRead option does indeed work as well, but this is better. Based on the unit test, is the pattern for excluding  `name-of-http-header-to-exclude-1|name-of-http-header-to-exclude-2|name-of-http-header-to-exclude-3` etc?

[2020-12-07 13:46] apupier commented on #671
created Epic https://issues.redhat.com/browse/FUSETOOLS2-905 to provide the validation at Camel language Server only.

[2020-12-07 13:46] #671 closed

[2020-12-07 23:10] ruchirvaninasdaq opened #766 "Getting some error logs for camel.connector 3.1.0 with strimzi 0.20.0 update"
Hello,

We have updated the kafka cluster to strimzi 0.20.0 version and I am seeing that all my connectors (s3 connectors) started printing this error.

[code]

I am running camel connector version 3.1.0 I have updated the connector to add few more headers for my specific purpose.
It has been working with 0.16, 0.19 strimzi release. The connector is working as expected (processing data and pushing