[2020-12-08 09:44] apupier opened #767 "CamelAmqpSourceConnector example contains wrong camel.sink parameters"
https://github.com/apache/camel-kafka-connector/blob/fbbc3b8e29901672fc6b10c1d97b0b543f1bf667/examples/CamelAmqpSourceConnector.properties#L23-L24

[2020-12-09 05:32] #767 closed

[2020-12-09 06:26] oscerd commented on #762
Yes, It should work with regex too.

[2020-12-09 08:39] apupier commented on #645
start looking at it.

technical help provided by Andrea C.:
`need to have a look at how the defaultValue are set in generic camel-catalog and modify the model we are using in ckc by including them into a default value field.`

[2020-12-09 09:34] apupier commented on #645
default values are already provided:
https://github.com/apache/camel-kafka-connector/blob/314eee947e6f9c979a9c1ddbcd5516c3f51b6539/camel-kafka-connector-catalog/src/main/java/org/apache/camel/kafkaconnector/catalog/CamelKafkaConnectorCatalog.java#L136
https://github.com/apache/camel-kafka-connector/blob/314eee947e6f9c979a9c1ddbcd5516c3f51b6539/camel-kafka-connector-catalog/src/test/java/org/apache

[2020-12-09 09:39] apupier commented on #645
in Core Camel Catalog, the values are provided in a field `enum`, for instance:

https://github.com/apache/camel/blob/cffe3d077020cafee4ae39935c3e4c189a6976b8/catalog/camel-catalog/src/generated/resources/org/apache/camel/catalog/components/activemq.json#L30

[2020-12-09 19:27] jmerljak commented on #424
Any progress on this?

[2020-12-09 19:58] oscerd commented on #424
695 has been done here https://github.com/apache/camel-kafka-connector-examples/tree/master/google-calendar-stream/google-calendar-stream-source

[2020-12-09 20:20] jmerljak commented on #424
I see. Perhaps a note should be added to the closed task.

Anyway, is the example correct? I find the following line suspicious: `camel.source.path.index=ckc`
Shouldn't index be set to something like `events/list`?

[2020-12-09 20:21] oscerd commented on #424
Yes, it's correct, otherwise I wouldn't commit it. Index is just a logical name.

[2020-12-09 20:30] oscerd commented on #424
Index in calendar-stream is just a logical name. Events/list would be in the plain google calendar case

[2020-12-09 20:35] jmerljak commented on #424
Is there any documentation explaining the difference between 'plain' and 'stream' source connectors/components?

[2020-12-09 20:41] oscerd commented on #424
In the components list of camel you can find more informations about the fields and examples. The behavior is the same between component and connector. I'll add some more information if i have time.

[2020-12-10 06:57] oscerd commented on #766
Are you using the camel component version 3.1.0? Or are you using the camel connector from camel-kafka-connector? It's not clear, there is no connectors with version 3.1.0 or 3.6.0, btw the suggestion is to upgrade to the latest version

[2020-12-10 06:58] oscerd commented on #746
I think this is ok through #749

[2020-12-10 06:58] #746 closed

[2020-12-10 09:17] jmerljak commented on #424
I'm still confused. From the documentation it is not clear to me how [stream connector](https://camel.apache.org/camel-kafka-connector/0.6.x/connectors/camel-google-calendar-stream-kafka-source-connector.html) differs from ['plain' one](https://camel.apache.org/camel-kafka-connector/0.6.x/connectors/camel-google-calendar-kafka-source-connector.html), or [stream component](https://camel.apache.org/

[2020-12-10 09:20] oscerd commented on #424
The two components are completely different. With stream component you can only consume events from a calendar like a stream. So you'll receive a set of events on each poll. With the calendar component you can also produce events and that component has been based on the API component from camel.

The documentation seems to be wrong anyway.

[2020-12-10 12:15] oscerd commented on #424
The documentation should be fixed upstream.

[2020-12-10 12:16] oscerd commented on #424
https://camel.apache.org/components/latest/google-calendar-stream-component.html

[2020-12-10 14:35] ruchirvaninasdaq commented on #766
Sorry, For the confusion. I am using connector version `0.0.1-SNAPSHOT` and camel component version `3.1.0`. Do have any idea why are these errors showing up?

[2020-12-10 14:38] oscerd commented on #766
You don't need the camel component if you use the new release

[2020-12-10 14:39] oscerd commented on #766
The connector are now packaged as zip

[2020-12-10 14:40] oscerd commented on #766
By the way use a released version not a snapshot

[2020-12-10 14:40] ruchirvaninasdaq commented on #766
Yeah, I am trying to upgrade, but we need to upgrade strimzi 0.20 sooner, so is there any way I can fix these errors?

[2020-12-10 14:42] ruchirvaninasdaq commented on #766
Yeah, By the time I decided to use the camel-Kafka-connector, there was not stable version, I know repo was saying its not production ready. So its my mistake to use the code. But I want to check with you if you know about this issue. I can try fixing by my own.

[2020-12-10 14:43] oscerd commented on #766
The release 0.6.0/0.6.1 has been tested against strimzi 0.20. So the only way I see is upgrading

[2020-12-10 14:51] ruchirvaninasdaq commented on #766
Thanks for the information.

[2020-12-10 17:12] oscerd commented on #645
Should have been done.

[2020-12-10 17:12] #645 closed

[2020-12-10 17:53] jmerljak commented on #424
Thank you, things are a bit clearer now. :)

[2020-12-10 18:31] KishaKandha commented on #149
Hi @valdar , may I take this task?

[2020-12-12 08:57] KishaKandha commented on #149
Hi @valdar , Do I  need  the basic **camel** knowledge to use the camel-kafka-connector?

[2020-12-12 08:58] valdar commented on #149
To use them, probably not. To contribute to it most probably you do.

[2020-12-13 14:50] KishaKandha commented on #149
Hi @valdar , I would like to request your guidance to resolve this issue. I  just start with reading  camel docs to  get the basic   camel knowledge to use the camel-kafka-connector.Thanks.

[2020-12-14 08:04] oscerd opened #782 "Support Transactions"
For the SQL/JDBC etc. it makes sense to support transactions, this means that we need to set up a transactionManager while using transacted option

[2020-12-14 08:27] oscerd opened #784 "Camel-AWS2-S3 connector: Add out of the box specific Aggregation Strategies"

[2020-12-14 11:47] lburgazzoli commented on #497
Fixed with https://github.com/apache/camel-kafka-connector/pull/556

[2020-12-14 11:47] #497 closed

[2020-12-15 09:16] orpiske opened #786 "Run slow tests on Apache CI"
Hey @oscerd @valdar based on that discussion we had about some testing getting slower and slower, I think we should move some of the tests to the Apache CI. Looking at what we have there today it seems we are only [running the unit tests](https://ci-builds.apache.org/job/Camel/job/Camel-Kafka-Connector%20Daily/job/master/104/testReport/).

Thoughts? Objections?

[2020-12-15 09:19] oscerd commented on #786
+1

[2020-12-15 12:38] orpiske commented on #629
This issue still persists and the connector cannot, yet, work with Couchbase when using the properties.

I took some time to debug the problem and this is the stack trace and where it is messing up with the URL:

[code]

[2020-12-15 19:47] ruchirvaninasdaq commented on #766
Closing the issue, it had to do with the strimzi image. Thanks for help.

https://github.com/strimzi/strimzi-kafka-operator/issues/4105

[2020-12-15 19:47] #766 closed

[2020-12-16 09:04] orpiske commented on #786
So, it looks like the big problem is working around the new pull limits on the Docker hub. I think we may work-around those if we authenticate to the hub and add that token to the CI.

@oscerd @valdar any suggestions on how we could possibly do this?

[2020-12-16 09:05] oscerd commented on #786
We need to ask infra

[2020-12-16 09:20] orpiske commented on #786
@oscerd thanks. I will open a ticket for this.

[2020-12-16 10:21] aka-peter opened #793 "gRPC response"
Is it possible to specify a response for a gRPC Source Connector? As I understand it now the in message will be used as the response message by default.

[2020-12-16 10:44] orpiske commented on #786
https://issues.apache.org/jira/browse/INFRA-21197

[2020-12-17 12:57] orpiske opened #807 "Jetty conflicts in Salesforce connector"
The salesforce connector depends on Jetty 9.4.35.v20201120, but Kafka Connect uses 9.4.24.v20191120. Their ABIs are not compatible and causes problems such as the one below when trying to run the connector.

[code]

We need to exclude `org.eclipse.jetty:jetty-http` on the connector dependencies. This seems to be sufficient for the tests to work, but it's hard to guarantee that it will work 100%.

[2020-12-17 14:10] orpiske commented on #807
Should have been fixed with #808.

[2020-12-17 14:10] #807 closed

[2020-12-22 18:45] danrlyon opened #812 "Date templating not working in version 0.6.0"
The date templating appears to be broken in v0.6.0

### 0.5.0
[code]
produces the files names with the date:
[code]

### 0.6.0
[code]
produces this key name (keeps overwriting the file):
[code]

I'm using the AWS2 S3 Camel Kafka Connector.

[2020-12-22 18:50] oscerd commented on #812
This has been fixed in 0.7.0 under vote

[2020-12-22 18:52] brokenjacobs commented on #812
Do you have a link to the fix? Didn't see anything in the changelog.

[2020-12-22 19:20] oscerd commented on #812
It is a fix coming from camel upstream release 3.7.0, so we are getting it while upgrading.

[2020-12-23 01:06] danrlyon commented on #812
Excellent, thanks for the assistance!

[2020-12-23 01:06] #812 closed

[2020-12-24 17:25] luigidemasi opened #816 "Support camel dataformat configuration for marshaller/unmarshaller"
there are some dataformats that support configuration parameters, but at the moment is just possible to specify the dataformat id in `camel.source.marshal` and `camel.source.unmarshal`

[2020-12-25 07:26] iamrsaravana opened #817 "Reading data from AMQP protocal using Strimzi kafka connector"
I am planning to pull the data from Hono using Strimzi kafka(Version 0.20.0) connector (Camel AMQP source connector). I have followed the below steps to read data from Hono.

I downloaded Camel-amqp-kafka-connector, JMS Jar files from below link:

https://repo.maven.apache.org/maven2/org/apache/camel/kafkaconnector/camel-amqp-kafka-connector/0.7.0/camel-amqp-kafka-connector-0.7.0-package.tar.gz
ht

[2020-12-25 08:56] oscerd commented on #817
What do you see in log?

Il ven 25 dic 2020, 08:26 iamrsaravana <notifications@github.com> ha
scritto:

[2020-12-26 06:04] iamrsaravana commented on #817
Strimzi operator logs say below error message:

2020-12-26 05:54:31 INFO  AbstractConnectOperator:436 - Reconciliation #37(timer) KafkaConnect(kafka/my-connect-cluster): creating/updating connector: camelamqpsourceconnector
2020-12-26 05:54:31 WARN  AbstractConnectOperator:573 - Reconciliation #37(timer) KafkaConnect(kafka/my-connect-cluster): **Error reconciling connector camelamqpsourceconnect**

[2020-12-26 06:35] iamrsaravana commented on #817
for this command **kubectl logs deployment.apps/my-connect-cluster-connect -n kafka**

i am getting below error message:

2020-12-26 06:26:31,979 ERROR Uncaught exception in REST call to /connectors/camelamqpsourceconnector/config (org.apache.kafka.connect.runtime.rest.errors.ConnectExceptionMapper) [qtp1240328647-22]
org.apache.kafka.connect.errors.ConnectException: Failed to find any class that

[2020-12-26 08:58] oscerd commented on #817
It seems you have no connector for amqp installed

[2020-12-26 09:18] iamrsaravana commented on #817
i have installed using these two jar file
https://repo.maven.apache.org/maven2/org/apache/camel/kafkaconnector/camel-amqp-kafka-connector/0.7.0/camel-amqp-kafka-connector-0.7.0-package.tar.gz
https://downloads.apache.org/qpid/jms/0.51.0/apache-qpid-jms-0.51.0-bin.tar.gz

[2020-12-26 09:22] oscerd commented on #817
The connector needs to be unzipped in a single folder, like for example camel-amqp/ it needs to be segregated in a single folder. The error message seems to be related to this.

[2020-12-26 10:24] iamrsaravana commented on #817
after download the tar file from below link

https://repo.maven.apache.org/maven2/org/apache/camel/kafkaconnector/camel-amqp-kafka-connector/0.7.0/camel-amqp-kafka-connector-0.7.0-package.tar.gz

**_unzipped folder does not have any jar file related to AMQP_**

![image](https://user-images.githubusercontent.com/7235459/103149755-79408180-4792-11eb-8c6e-962ee41ee086.png)

I pushed all the jar files

[2020-12-26 10:32] oscerd commented on #817
It must be in a separated folder, not in plugin.

Il sab 26 dic 2020, 11:24 iamrsaravana <notifications@github.com> ha
scritto:

[2020-12-26 12:56] iamrsaravana commented on #817
fixed that issue thanks for your support, i am getting the below error message now:

2020-12-26 12:50:54,474 INFO Creating task camelamqpsourceconnector-0 (org.apache.kafka.connect.runtime.Worker) [StartAndStopExecutor-connect-1-2]
2020-12-26 12:50:54,479 INFO ConnectorConfig values:
        config.action.reload = restart
        connector.class = org.apache.camel.kafkaconnector.amqp.CamelAmqpSour

[2020-12-26 13:37] oscerd commented on #817
The property you're setting through kubectl is not resolved. So the connection factory cannot be instantiated.

[2020-12-26 15:12] iamrsaravana commented on #817
I was referring the below link and gave my inputs

https://github.com/apache/camel-kafka-connector/blob/master/examples/CamelAmqpSourceConnector.properties

Values are in this file as mentioned it below:

name=CamelAmqpSourceConnector
topics=mytopic
tasks.max=1
connector.class=org.apache.camel.kafkaconnector.amqp.CamelAmqpSourceConnector

camel.source.path.destinationType=queue
camel.source.path.d

[2020-12-26 15:17] oscerd commented on #817
I think you need to explicitly add the address of the hono in the amqp:// scheme. Kubetctl won't be resolved in the configuration.

[2020-12-26 23:50] iamrsaravana commented on #817
do you want me to hardcode this value in configuration file instead of experssion?

[2020-12-27 08:56] oscerd commented on #817
Yes, or you have to ask to strimzi how to reference the service

[2020-12-28 06:35] iamrsaravana commented on #817
Thanks for your reply, I Gave direct IP address like below:

**camel.component.amqp.connectionFactory: org.apache.qpid.jms.JmsConnectionFactory
camel.component.amqp.connectionFactory.remoteURI: amqp://10.106.88.243:15671**

I referred the below link for configuration properties, but I am not finding **"camel.component.amqp.connectionFactory.remoteURI"**:

https://camel.apache.org/camel-kafka-conne

[2020-12-28 08:43] oscerd commented on #817
It should be
https://github.com/apache/camel-kafka-connector-examples/blob/master/amqp/config/CamelAmqpSourceConnector.properties#L27
prepend #class

[2020-12-28 09:23] iamrsaravana commented on #817
I gave input in yaml file as you mentioned it below:

 camel.component.amqp.connectionFactory: #class:org.apache.qpid.jms.JmsConnectionFactory
 camel.component.amqp.connectionFactory.remoteURI: amqp://10.106.88.243:15671

Still i am getting below error message:

Spec:
  Class:  org.apache.camel.kafkaconnector.amqp.CamelAmqpSourceConnector
  Config:
    camel.component.amqp.connectionFactory:

[2020-12-28 09:28] oscerd commented on #817
I guess you need to include the string in ' xxx '

[2020-12-28 11:27] iamrsaravana commented on #817
Thanks for quick response.

The below two I have given hono AMQP end point.
camel.source.path.destinationType: topic
camel.source.path.destinationName: mytopic

2020-12-28 11:16:26,047 INFO A JMS MessageConsumer has been closed: JmsConsumerInfo: { ID:30cbf23a-e57b-4507-bc48-044bf3881586:282:1:1, destination = mytopic } (org.apache.qpid.jms.JmsSession) [QpidJMS Connection Executor: ID:30cbf23a-e57b

[2020-12-28 11:31] oscerd commented on #817
Are you pointing a queue or a topic? What's the name of queue/topic? I don't know Hono anyway.

[2020-12-28 11:50] iamrsaravana commented on #817
These two paramters are source side or target side? i am pulling data from Hono(AMQP Queue) and pushing into kafka topic.

These parameter name is confusing us. whether it is source or target?
camel.source.path.destinationType:
camel.source.path.destinationName:

[2020-12-28 11:52] oscerd commented on #817
If you read source, the options are related to source connector. With target do you mean sink? Are we talking about kafka connect framework or do you mean something else?

[2020-12-28 11:54] oscerd commented on #817
I don't think they are confusing. Take a look at documentation.

[2020-12-28 11:55] iamrsaravana commented on #817
These parameter name is confusing us. whether it is source or target?
camel.source.path.destinationType:
camel.source.path.destinationName:

[2020-12-28 11:57] oscerd commented on #817
I already answered. They are not confusing.

[2020-12-28 12:00] iamrsaravana commented on #817
Thanks for confirming it is source.

[2020-12-28 12:23] iamrsaravana commented on #817
Issue is resolved.... Thanks for your support.

This is my final configuation file.

apiVersion: kafka.strimzi.io/v1alpha1
kind: KafkaConnector
metadata:
  name: camelamqpsourceconnector
  labels:
    strimzi.io/cluster: my-connect-cluster-new
spec:
  class: org.apache.camel.kafkaconnector.amqp.CamelAmqpSourceConnector
  tasksMax: 1
  config:
    camel.component.amqp.includeAmqpAnnotations: true

[2020-12-28 12:23] #817 closed

[2020-12-28 12:37] oscerd commented on #817
Would you mind open a PR on the camel-kafka-connector-examples repository with your hono examples and steps? Thanks

[2020-12-28 15:26] apupier opened #821 "Investigate usage of NO_DEFAULT_VALUE instead of null for properties"
All properties without explicit default values are exposed with the `null` identifier.
In Camel Kafka Configef, there is a specific Object when there is no Default Value [org.apache.kafka.common.config.ConfigDef.NO_DEFAULT_VALUE](https://github.com/a0x8o/kafka/blob/b324a6a2bf26e9ee0b5b34252a3b251859c624fe/clients/src/main/java/org/apache/kafka/common/config/ConfigDef.java#L85) .

it sounds better

[2020-12-29 15:29] valdar commented on #821
The problem is that camel has no such distinction, `null` means "there is no default value". So what we decided to do in https://github.com/apache/camel-kafka-connector/issues/563 was to keep null and remove `defaultValue` attribute from json catalog if there is no default value (i.e. if default value is `null`)

[2020-12-29 15:43] apupier commented on #821
The ConfigDefs have null values. Consequently, I think that the table in documentation are generated with null displayed. Also the ConfigDef.hasDefaultValue() method returns true although the property has no default value.

here it is planned that it would display "none": https://github.com/valdar/camel-kafka-connector/commit/c89703d5b19fa45ca30ec24e75fc6e92ed028439#diff-b35efa8afb4067fa0c36710e7c

[2020-12-30 03:24] iamrsaravana commented on #817
Now I am able to send the data from Hono to Strimzi Kafka Connector using Camel AMQP Source Connector.

Follow the below steps to pull data from Hono and send to Strimzi Kafka Connector:

1) Creating Name space:
kubectl create namespace kafka

2) install latest Strimzi operator using the below command:

   kubectl apply -f 'https://strimzi.io/install/latest?namespace=kafka' -n kafka
3) creating Ka

[2020-12-31 00:40] valdar commented on #821
I seem to remember, but I will double check, that properties with `ConfigDef.NO_DEFAULT_VALUE` requires a value to be specified in the config properties... otherwise an error is thrown at connector startup; basically meaning that there is no way to have an "optional no default value properties".

[2020-12-31 11:18] oscerd opened #822 "Investigate Splitting support"

[2021-01-04 08:22] oscerd opened #823 "Add Mongodb examples"
To camel-kafka-connector-examples repo

[2021-01-04 08:22] oscerd opened #824 "Add JDBC examples"
to camel-kafka-connector-examples repo

[2021-01-04 09:01] orpiske commented on #824
Providing these, as taken from the test code for a kick-off. Maybe we can leverage it ...

Base configuration using Postgres, but should work in the same way for other DBs:

[code]

You need to provide a data source. This should setup the JDBC url, username and password. Here's an example from the test code:

[code]

The database insertion is handled by the body of the message and the rows will be

[2021-01-04 09:12] orpiske commented on #823
Sample configuration for the MongoDB sink:

[code]

An important bit for the mongoDB sink is to configure the `camel.beans.mongo` property correctly. In this case, it is setting the bean to be created by calling the method create passing the URL of the mongodb instance (mongodb://localhost:32772). This should be configured accordingly to your setup.

[2021-01-04 14:38] oscerd opened #825 "Add Github examples"
In Camel-Kafka-connector-examples

[2021-01-05 01:46] catchkuo commented on #824
Implement the TestDataSource is necessary?
Can I set the JDBC_CONNECTION_URL include DB account,password  in the properties file? Like normal JDBC or other KAFKA connectors. Because that's mean have to compile again when I want change the DB config.

[2021-01-05 07:51] oscerd commented on #824
I believe you can do like we do in camel-sql connector

https://github.com/apache/camel-kafka-connector-examples/blob/master/sql/sql-sink/config/CamelSqlSinkConnector.properties

[2021-01-05 07:57] catchkuo commented on #824
Thanks. I will try it.

[2021-01-05 11:10] oscerd commented on #824
Here is a little example:
https://github.com/apache/camel-kafka-connector-examples/tree/master/jdbc/jdbc-sink

[2021-01-07 21:19] ruchirvaninasdaq opened #834 "Question: S3 file get moved on failure also"
Hello,

I am using the `aws2-s3-kafka-source-connector` connector (https://github.com/apache/camel-kafka-connector/tree/camel-kafka-connector-0.7.x/connectors/camel-aws2-s3-kafka-connector) with the following configs.

[code]

I have updated the S3objectConverter for my customization for searlizer. Code is as follows:
[code]

This works as expected and the object gets serialize as expected and add

[2021-01-07 21:23] ruchirvaninasdaq commented on #834
Adding Serializer code also if that helps:
[code]

[2021-01-07 21:25] ruchirvaninasdaq commented on #834
I expected this behavior based on this: https://github.com/apache/camel-kafka-connector/blob/dd9ccfa5dc2a0740ef1ed636cf999da41e6bbbcb/connectors/camel-aws2-s3-kafka-connector/src/main/java/org/apache/camel/kafkaconnector/aws2s3/CamelAws2s3SourceConnectorConfig.java#L270

[2021-01-07 21:59] oscerd commented on #834
The failure in serialization happens at kafka level, so it is expected to
find the file in the destination bucket. In terms of pure camel the
exchange is complete. The error should be managed at kafka level. Also you
should use single options and not camel.source.url. just one or the other.
Camel.source.url is not the usual suggested apptoach

Il gio 7 gen 2021, 22:25 Ruchir Vani <notifications@gi

[2021-01-07 22:12] ruchirvaninasdaq commented on #834
Thanks for the feedback. I will update my config.

I have seen that if Kafka-cluster went down it marked as exchange completed. What is a better way to handle the Kafka exception with Kafka connector?

Thanks

[2021-01-08 08:47] orpiske commented on #407
I was thinking about error handling today and I was wondering: what if we allowed configuring the default error handler so that it can send the errors to Kafka's dead letter queue?

[2021-01-08 08:52] oscerd commented on #407
You can do that already. It's already available as kafka connect option. This issue was focused on camehandling

[2021-01-08 09:04] oscerd commented on #407
If you intend to send to dlq through camel at camel context level, it"s not available yet, but I don't think it makes sense.

[2021-01-08 10:30] orpiske commented on #407
So, I think I understand why I was confused*. There is a bug in the way we are handling the DLQ within the Kafka Connect API. I will provide a reproducer + soon.

[2021-01-08 10:41] orpiske opened #835 "Error reporting configuration incorrectly handled"
The sink connector does not respect the [new error reporting](https://kafka.apache.org/26/documentation.html#connect_errantrecordreporter) configuration from Kafka Connect. As of Kafka 2.6, it seems, we should be using the Errant Record Reporter to ensure that failed records are put into the DLQ.

One way to verify this issue is to use and invalid JMS broker address in the [CamelSinkJMSITCase](htt

[2021-01-08 13:43] matt12eagles opened #838 "Add example for using Kerberos auth (maybe in HDFS connector?"
Add example for using Kerberos auth (maybe in HDFS connector)

[2021-01-08 13:45] matt12eagles opened #839 "Support Parquet input file formats using HDFS connector"
Support Parquet input file formats using HDFS connector. Parquet is widely used in the HDFS world, would be awesome to be able to use parquet with the standard compressions (snappy, gzip, none) for this connector. I dont think a great open source HDFS source that supports parquet and kerberos exists, so it would be big for the kafka community.

[2021-01-08 13:45] matt12eagles opened #840 "Support Parquet input Files using HDFS (compressed or not compressed)"
Support Parquet input file formats using HDFS connector. Parquet is widely used in the HDFS world, would be awesome to be able to use parquet with the standard compressions (snappy, gzip, none) for this connector. I dont think a great open source HDFS source that supports parquet and kerberos exists, so it would be big for the kafka community.

[2021-01-08 13:46] oscerd commented on #839
This needs to be done at camel component level

[2021-01-08 13:46] oscerd commented on #840
Duplicate?

[2021-01-08 13:55] orpiske commented on #839
Maybe related issue on Camel, for future reference: https://issues.apache.org/jira/browse/CAMEL-13573

[2021-01-08 14:05] matt12eagles commented on #840
it is! sorry! closing! Got an error when submitting the one.

[2021-01-08 14:05] #840 closed

[2021-01-08 14:31] ruchirvaninasdaq commented on #834
@oscerd : Any recommendations on how to handle Kafka exception with camel kafka connector? Please provide me guidence, I can try implementing on my own. Thanks

[2021-01-08 14:49] oscerd commented on #834
If you want to still have the file in the source bucket you should avoid delete after read and move after read and use the idempotency support introduced in 0.7.. the error is related to broker, so it must be managed at kafka level, but I don't think it is easy to do.. if the cluster went down, but camel already completed the exchange and moved to the destination bucket, there is no way of rollbac

[2021-01-08 15:34] ruchirvaninasdaq commented on #834
[code]
Thank you for the information.
Is this part of connector scop to handle this kind of rollback in the future? Or It's just me who is running into this problem?

[2021-01-08 15:41] oscerd commented on #834
Well, if the error happens during camel routing we need to manage it a bit better with rollback, but for your case this won't change the final situation, if the cluster will go down after the message has been consumed but before reaching the kafka topic, you'll lose the message. This is true even if you handle the error through kafka connect options. We may try to reproduce this scenario, but it's

[2021-01-08 15:49] ruchirvaninasdaq commented on #834
Yeah, I have been running this connector for 7 months, never seen issues but few weeks before we had something wrong with our Kafka cluster and it failed, so I saw this issue.

To regenarate this issue, I added Thread.sleep (100000) in Serializer class. I deleted the cluster and was able to regenerate it.

Please let me know if you have any suggestions/recommendations to handle such errors in the

[2021-01-08 16:46] orpiske commented on #835
Fixed. Should be available on 0.7.1 and 0.8.0.

[2021-01-08 16:46] #835 closed

[2021-01-10 09:16] oscerd opened #842 "Remove changelog gh action"
ASF doesn't allow it anymore. We need to find an official action for it

[2021-01-10 09:46] orpiske commented on #842
Maybe this would do the trick: http://maven.apache.org/plugins/maven-changelog-plugin/

[2021-01-10 10:47] gohanbg opened #843 "[Question] How to process avro message in S3 connector"
Hello,

I have been playing around with Strimzi and camel's kafka connectors, in particular the S3 sink connector.

My setup consists of Strimzi kafka and Confluent schema registry, all running in k8s

The **KafkaConnect** looks like this:
[code]

the **KafkaConnector** looks like this:
[code]

When I run the Connector it starts reading the topic correctly, but just before sending it to S3 it says

[2021-01-11 05:36] oscerd commented on #824
Done.

[2021-01-11 05:36] #824 closed

[2021-01-11 05:37] oscerd opened #844 "Camel-Master: SJMS2 it test is failing"
@orpiske can you have a look? There were some updates on the component on 3.8.0-SNAPSHOT.

Thanks.

[2021-01-11 06:51] oscerd commented on #842
I don't think it's really useful in this case, we need to have a look at gh issues and PR and the maven plugin is not for that.. We need to update the changelog by hand I guess.

[2021-01-11 07:25] orpiske commented on #844
Sure, I'll take a look!

[2021-01-11 14:04] valdar commented on #843
Hello @gohanbg in which format do you have your kafka messages serialized in the topic? looks like in avro since you are using `value.converter: io.confluent.connect.avro.AvroConverter` ? What happen if you try the jsonConverter?

[2021-01-11 14:22] valdar commented on #821
I confirm that properties with `ConfigDef.NO_DEFAULT_VALUE` requires a value to be specified in the actual config properties file.
So I close this, if you have any further suggestion or better idea how to handle this feel free to reopen it and comment @apupier .

[2021-01-11 14:22] #821 closed

[2021-01-11 19:16] gohanbg commented on #843
Hi @valdar

Inside kafka topic itself, messages are in `Avro` format. If I try to use `org.apache.kafka.connect.json.JsonConverter` I get a parsing exception -
[code]

If I use the StringConverter this is what reaches S3:
[code]

I guess the JsonConverter tries to parse the exact same string and find unexpected characters.

Only with `io.confluent.connect.avro.AvroConverter` I see a nicely parsed

[2021-01-12 11:08] valdar commented on #843
Ok so a possible solution would be an SMT to transform `kafka connect struct` into json... a quick search revealed that no such SMT is publicly available, so might be worth to add one as part of this project...

[2021-01-12 11:11] gohanbg commented on #843
@valdar What does SMT means - is this some sort of interface?. Can you give me an example of an existing SMT transformation so that I can use it as a reference :)

[2021-01-12 12:57] oscerd commented on #825
We have two sources already: pullrequest and events

[2021-01-12 12:57] #825 closed

[2021-01-12 13:04] oscerd opened #853 "Github source connector: Add some transforms to deal with the different possible events"
In Github connector while consuming, you can get a list of event of different type. Some of the objects have a payload too, so we should try to check what kind of payload we have an transform before putting the record value.

[2021-01-12 13:13] #784 closed

[2021-01-12 13:14] oscerd commented on #762
Released with 0.7.0

[2021-01-12 13:14] #762 closed

[2021-01-12 14:17] valdar commented on #843
SMT stands for "single message transformation", the interface is `org.apache.kafka.connect.transforms.Transformation` an example is: https://github.com/apache/camel-kafka-connector/blob/master/core/src/main/java/org/apache/camel/kafkaconnector/transforms/CamelTypeConverterTransform.java

[2021-01-12 20:32] oscerd opened #857 "AWS2-Kinesis connector: Add a transformation to extract only the data from a source stream"

[2021-01-12 22:57] gohanbg commented on #843
Thank you for the response. Will try to implement it and see how it goes :)

[2021-01-13 07:31] #163 closed

[2021-01-13 08:32] oscerd commented on #842
I think we can use milestones: I created this https://github.com/apache/camel-kafka-connector/milestone/3 for 0.8.0

[2021-01-13 14:33] valdar commented on #843
I am finalizing a first version that I will contribute shortly. :crossed_fingers:

[2021-01-13 17:43] ruchirvaninasdaq commented on #843
@valdar : Are you planning to add confluent properties (of schema regiustry) also in camel connector? as I think to run this value converter `io.confluent.connect.avro.AvroConverter` we might need schema registry address also, right?

[2021-01-14 00:17] NavidMitchell commented on #23
In regards to this. I have been wondering about running complete Camel routes within Kafka Connect. It seems that this idea is great for the source and sink sides of things. I was thinking about building a kafka-connect component that would allow complete Camel Routes, but I would rather build something that the community wants as well. Does anyone have any thoughts on this?

[2021-01-14 05:58] oscerd commented on #23
Can you clarify what you mean? Do you mean building a camel component for kafka connect or do you mean being able to create connectors with full route in camel-kafka-connector? In the second case, I don't think it makes sense, doing that means duplicate the effort to maintain the projects (camel and camel-kafka-connector)

[2021-01-14 07:22] #842 closed

[2021-01-14 15:42] oscerd opened #866 "AWS2-Kinesis: Add examples"
In camel-kafka-connector-examples repository

[2021-01-14 17:00] valdar commented on #843
schema registry properties should already be supported and work with confluent registry as well as other registries like apicurio: https://www.apicur.io/registry/

[2021-01-14 17:17] valdar commented on #816
So based on https://github.com/apache/camel-kafka-connector/pull/855 this should have already worked, but a bug in camel was discovered, reported and fixed see https://issues.apache.org/jira/browse/CAMEL-16032.

This can be closed once we use a version of camel that has the fix.
NOTE: this test must be updated https://github.com/apache/camel-kafka-connector/commit/712917ea9274feaf13bb5f4eeb2971b4f

[2021-01-15 12:24] #843 closed

[2021-01-15 12:57] oscerd commented on #866
Moved to https://github.com/apache/camel-kafka-connector-examples/issues/241

[2021-01-15 12:57] #866 closed

[2021-01-15 12:58] oscerd commented on #823
Moved to https://github.com/apache/camel-kafka-connector-examples/issues/242

[2021-01-15 12:58] #823 closed

[2021-01-15 12:58] oscerd commented on #628
Moved to https://github.com/apache/camel-kafka-connector-examples/issues/243

[2021-01-15 12:58] #628 closed

[2021-01-15 12:59] oscerd commented on #597
Moved to https://github.com/apache/camel-kafka-connector-examples/issues/244

[2021-01-15 12:59] #597 closed

[2021-01-15 13:00] oscerd commented on #424
Moved to https://github.com/apache/camel-kafka-connector-examples/issues/245 for the remaining google-calendar

[2021-01-15 13:00] #424 closed

[2021-01-15 14:08] oscerd opened #872 "Upgrade to Camel 3.7.1 the 0.7.x branch and release"
We are about to start a release cut for Camel 3.7.1, once voted and released we should upgrade to 3.7.1 the 0.7.x branch and release the first patch release

[2021-01-15 16:18] ffang opened #873 "add itests for camel-cxf-kafka-connector"

[2021-01-15 17:25] valdar commented on #843
@gohanbg I have added the SMT here https://github.com/apache/camel-kafka-connector/pull/867/commits/e945f76796d78b828453f4d765b5f887a149a83c feel free to try it and report problems.

[2021-01-15 17:33] ruchirvaninasdaq opened #874 "[Question] liveness and readiness probes example for camel-kafka-connector"
Hello,

Is there any liveness and readiness probes example for camel-kafka-connector?

I am using strimzi operator(0.20.0) for deployment. https://github.com/strimzi/strimzi-kafka-operator/blob/master/install/cluster-operator/041-Crd-kafkaconnect.yaml#L249

Thanks you!!

[2021-01-15 17:45] orpiske commented on #874
I don't think we have an example for that, but I think you could probably try to probe the connect rest API and check if the the worker status is "RUNNING" and the task state is "RUNNING".

Also, I suspect that this would be something Strimzi might already have ... so, it would be worth checking on that end as well.

[2021-01-15 18:04] ruchirvaninasdaq commented on #874
Ok thank you!! I just wanted to check with team if I need to check (verify) anything specific for camel connector also.

[2021-01-16 16:27] oscerd opened #875 "Bump to Kafka 2.7.0"

[2021-01-16 16:27] oscerd opened #876 "Bump to Strimzi 0.21.0"

[2021-01-16 20:53] #874 closed

[2021-01-18 09:19] orpiske opened #878 "Couchbase dependency missing?"
Trying to run Couchbase outside of Integration tests and I get this:

[code]

It seems that `com.couchbase.client:java-client:3.1.0` is missing from the package zip.

[2021-01-18 09:23] oscerd commented on #878
Weird, we need to double check the component

[2021-01-18 09:44] orpiske opened #879 "HDFS tests running suspiciously flaky on Github actions"
More than once the HDFS tests have caused the github actions to hang and run for a very long time. This could be caused by docker pull limits, but also could be caused by some resource usage limits on Github itself - this test is heavy.

[2021-01-18 11:09] gohanbg commented on #843
Thanks @valdar

Will try to test it this week and come back to you!

[2021-01-18 12:55] orpiske opened #882 "Modify the Github Actions configuration to allow archiving test logs"
Verifying test failures in github actions is difficult. We could try archiving the log files in order to make it easier to verify the problem.

Something similar to what is described here: https://docs.github.com/en/actions/guides/storing-workflow-data-as-artifacts

[2021-01-18 13:03] oscerd commented on #853
The way the event consumer work in camel upstream has been changed a bit, now it will return the type of event, without the payload and just a subset of information as headers. So this is not needed anymore.

[2021-01-18 13:03] #853 closed

[2021-01-18 13:41] #875 closed

[2021-01-18 13:56] #857 closed

[2021-01-18 14:32] #876 closed

[2021-01-18 14:34] orpiske commented on #882
Implemented.

[2021-01-18 14:34] #882 closed

[2021-01-18 15:24] oscerd commented on #878
I think this is fixed.

[2021-01-18 15:24] #878 closed

[2021-01-18 18:18] orpiske commented on #879
Likely caused by a conflict with Kafka 2.7.0:

[code]

[2021-01-19 07:55] oscerd commented on #879
https://github.com/apache/kafka/blob/2.7/gradle/dependencies.gradle#L72

while hadoop-common is still on 9.4.20

https://mvnrepository.com/artifact/org.apache.hadoop/hadoop-common/3.3.0

Probably we should try to exclude the jetty deps coming with camel-hdfs and see what happens with 9.4.33

[2021-01-19 07:59] oscerd opened #889 "Bump Apicurio Registry to 1.3.2.Final"

[2021-01-19 08:24] #889 closed

[2021-01-19 08:25] oscerd commented on #878
@orpiske can you open a backport PR for 0.7.x? so this will be ok for 0.7.1 too

[2021-01-19 08:26] orpiske commented on #878
Yes I can. I'll open one soon

[2021-01-19 08:26] oscerd commented on #878
Thanks a lot

[2021-01-19 08:50] orpiske commented on #879
Yeah, I think that's the way. It's a bit of a mine field, but we are already doing the same for jersey-core and jersey-server.

[2021-01-19 11:53] orpiske commented on #879
Fixed. The connector seems fine, so not change needed there at the moment.

[2021-01-19 11:53] #879 closed

[2021-01-19 12:04] oscerd opened #894 "Bump to Strimzi 0.21.1"
There were two bugs in 0.21.0

[2021-01-19 12:34] oscerd commented on #894
Done.

[2021-01-19 12:34] #894 closed

[2021-01-19 12:51] oscerd opened #896 "Add a column to compatibility matrix about Kafka version"

[2021-01-19 14:03] #896 closed

[2021-01-19 16:41] valdar opened #902 "create a toHeader SMT"
That SMT should take fields from a configured record value (supporting struct + schema or map cases) and copy the value in a configure header like:
[code]
this can be used as a base for extracting fields https://github.com/apache/kafka/blob/trunk/connect/transforms/src/main/java/org/apache/kafka/connect/transforms/ExtractField.java

[2021-01-19 16:41] valdar commented on #902
should help with #644

[2021-01-19 16:47] valdar commented on #902
@luigidemasi fancy having a look?

[2021-01-19 18:07] oscerd opened #903 "Add removeHeaders documentation"

[2021-01-20 07:48] oscerd commented on #835
@orpiske maybe we could add a little example of this scenario in ckc-examples repository, so we could point user there

[2021-01-20 07:50] orpiske commented on #835
+1. That's a good idea. I will add an example covering this item.

[2021-01-21 12:36] oscerd opened #908 "Camel-Cron connector: We need to add at least camel-quartz as dependency"
Otherwise we have

`Caused by: org.apache.camel.FailedToCreateRouteException: Failed to create route route1: Route(route1)[From[cron:cron-timer?schedule=0/5+*+*+*+*+?] -... because of Failed to resolve endpoint: cron://cron-timer?schedule=0/5+*+*+*+*+? due to: Cannot find any CamelCronService: please add a valid implementation, such as 'camel-quartz', in order to use the 'camel-cron' component`

[2021-01-21 12:37] oscerd commented on #908
And we need quartz dependency too.

[2021-01-21 13:38] #908 closed

[2021-01-21 15:20] orpiske opened #910 "Java 14 support: gmavenplus-plugin likely not compatible"
Trying to build in CI with JDK 14 causes this issue:

[code]

[2021-01-22 09:26] apupier commented on #910
needs to upgrade to at least version 1.9.0 https://github.com/groovy/GMavenPlus/releases/tag/1.9.0

[2021-01-22 09:28] apupier opened #913 "Java 14 support"
-  [x] upgrade gmavenplus-plugin https://github.com/apache/camel-kafka-connector/issues/910
-  [x] [upgrade groovy](https://github.com/apache/camel-kafka-connector/blob/4ea52dc1234cdba0e69d002a7da260cd5a355cf4/parent/pom.xml#L60) to [2.5.10+](https://issues.apache.org/jira/browse/GROOVY-9211)
- [x] remove daily job of jdk 14 https://github.com/apache/camel-kafka-connector/pull/926 (as it is part o

[2021-01-24 12:22] gohanbg commented on #843
Hello @valdar,

Apologies for the delay, it was a busy week and I just managed to test the fix.

Not sure whether I'm doing something wrong, but I get the same error.
[code]

Here is what I did:

1. I checked out the project - https://github.com/apache/camel-kafka-connector (with the change that you made)
2. Did **maven clean install**
3. Got the jar file **kafka-connector-0.8.0-SNAPSHOT.jar** cre

[2021-01-24 12:36] valdar commented on #843
@gohanbg can you post the config you used to run the sink connector?

[2021-01-24 12:43] gohanbg commented on #843
Sure, here it is
[code]

[2021-01-24 23:28] valdar commented on #843
You need to configure the SMT to be used, try to add :

[code]

[2021-01-25 09:41] orpiske commented on #913
Java 14 changes POC for review: https://github.com/apache/camel-kafka-connector/pull/918

[2021-01-25 11:05] #816 closed

[2021-01-25 15:24] oscerd commented on #423
Lets discuss here. What we know so far:
1. The kamelet should an alternative approach to the current approach
2. the kamelet yaml should be packaged with the connector
3. We should re-use the itest infra we have

@lburgazzoli @valdar

[2021-01-25 21:38] gohanbg commented on #843
Now it worked. :)
I needed to add this config:
[code]
Without the `transforms.tojson.converter.type` it wasn't working, but now it is fine

Thank you very much!

[2021-01-27 16:02] oscerd opened #922 "Add a map Camel Properties to Kafka headers option to make the behavior configurable"
it could be true or false, defaulting to true.

[2021-01-27 16:04] oscerd opened #923 "Add a map Camel Headers to Kafka headers option to make the behavior configurable"
it could be true or false, defaulting to true

[2021-01-27 16:22] oscerd opened #924 "Camel-Netty-* connectors are not working"
[code]

with this configuration
[code]

It seems that the BootstrapFactory fails at finding the host. But it's defined.

[2021-01-27 17:28] valdar commented on #924
Possibly related to  #665

[2021-01-27 17:29] oscerd commented on #924
Yes, it's the same problem.

[2021-01-27 17:41] oscerd commented on #924
With a plain camel.source.url it works

[code]

[2021-01-27 19:41] claudio4j commented on #149
@valdar just to confirm my understanding about this feature, if a given camel component such as `box` is not present in camel catalog, the corresponding `camel-box-kafka-connector` directory should be removed ? Of course there should be a new parameter to control this behavior.

[2021-01-27 20:03] valdar commented on #149
Correct, one should also remove the corresponding module in the pom module list.

[2021-01-28 07:31] orpiske commented on #910
Should be fixed with #918

[2021-01-28 07:31] #910 closed

[2021-01-28 08:12] apupier commented on #913
Master is now tested also with Java 14 https://github.com/apache/camel-kafka-connector/runs/1782209793?check_suite_focus=true

@orpiske do we need to do something specific to remove the Daily JDK 14 build? https://github.com/apache/camel-kafka-connector/actions?query=workflow%3A%22Daily+JDK+14+Build%22 (I think no more useful as it is integrated with master job)

[2021-01-28 08:13] orpiske commented on #913
@apupier yes we do. I have to remove the github action configuration file for that. I am working on it

[2021-01-28 08:19] apupier opened #928 "Java 15 support"
Latest release, as of 28 January 2021, is Java 15. Now that fixes have ben provided for Java 14 https://github.com/apache/camel-kafka-connector/issues/913 . It would be nice to upgrade to Java 15. Given that Java 14 is not an LTS, I think we can remove the Java 14 job and replace by Java 15. (next LTS will be Java 17 planned for September 2021).

//cc @orpiske

[2021-01-28 08:22] orpiske commented on #928
I like the idea @apupier, +1 from me.

[2021-01-28 08:28] apupier commented on #913
Can someone with rights put the 0.8.0 milestone to this issue?

How the Changelog handled? it is genrated before doing the release, or need to add a line?

[2021-01-28 08:33] oscerd commented on #913
In the past it was autogenerated every night and updated. Now ASF changed the gh action policy, so once we release with the help of the milestone, we'll need to add all the information by hand. I'm still investigating if we can use a gh action compliant with ASF security policy. But I didn't find anything at moment. Another possibility is writing our own changelog generator gh action and create a

[2021-01-28 08:48] #913 closed

[2021-01-28 10:45] #922 closed

[2021-01-29 05:39] #902 closed

[2021-01-29 05:51] #872 closed

[2021-01-29 06:17] oscerd commented on #844
seems to be done.

[2021-01-29 06:17] #844 closed

[2021-01-29 09:16] #923 closed

[2021-01-29 17:52] oscerd opened #939 "Camel-master: Let's change the gh action to be triggered when a push on master has been done"
Otherwise it will be a mess to rebase if the job fails multiple times.

[2021-01-29 19:09] ffang commented on #873
Hi @valdar, @oscerd, @orpiske ,

Happy Friday!

I just sent a PR for the cxf-itests, including both Source and Sink CXF connector itests case.

And I have a few questions, I will add comments in the PR near the code piece I have questions. Please take a look at this PR!

Thanks!
Freeman

[2021-01-29 19:12] orpiske commented on #873
Thanks @ffang! I will take a look at it :)

[2021-01-29 20:12] claudio4j commented on #149
@valdar can you close this issue ? Thanks.

[2021-01-29 20:13] #149 closed

[2021-02-01 07:17] oscerd commented on #939
After some work I was able to make the backport gh action works on this repository. So now, each time we open a PR on master we need to add the label "backport camel-master" and/or if it is a bug fix for 0.7.x "backport camel-kafka-connector-0.7.x", this will create a PR automatically on the selected branches.

The rebase job was too buggy because of the docs generation. In this way we should be s

[2021-02-01 08:45] valdar commented on #939
Ok thanks for the effort in this specially for the LTS branches!

What would be the envisioned work-flow then? Backporting from `master` to `camel-master` then when we align camel version to the new one? merge of `camel-master` in `master`?

[2021-02-01 08:47] oscerd commented on #939
Yes

Il lun 1 feb 2021, 09:45 Andrea Tarocchi <notifications@github.com> ha
scritto:

[2021-02-01 11:30] orpiske commented on #939
Thanks for this @oscerd! It is really cool and I think it makes it easier for us to make sure the patches go to the right branches at the right time.

[2021-02-02 08:46] IAmMonmoy opened #959 "Question: S3 source connector pulls duplicate data when task.max > 1"
I am using the aws2-s3-kafka-source-connector connector ([https://github.com/apache/camel-kafka-connector-examples/tree/master/aws2-s3/aws2-s3-move-after-read)]) with following configuration.
`{
    "name": "s3-connector",
    "config": {
        "connector.class": "org.apache.camel.kafkaconnector.aws2s3.CamelAws2s3SourceConnector",
        "tasks.max": 3,
        "camel.source.path.bucketNameOrAr

[2021-02-02 08:58] oscerd commented on #959
At the Moment it is not supported to have multiple tasks

[2021-02-03 05:48] #939 closed

[2021-02-03 05:49] #407 closed

[2021-02-03 09:55] heiko-braun commented on #423
Should Kamelets be an alternative, or a replacement for the current approach?

[2021-02-03 13:26] h4gen opened #969 "Convert NettyChannelBufferStreamCache from NettyHttpSource not converted to string"
Hi everybody,

This Issue was originally posted by me in [Zulip](https://camel.zulipchat.com/#narrow/stream/257303-camel-kafka-connector/topic/Convert.20NettyChannelBufferStreamCache.20from.20NettyHttpSource.3F/near/225001495)

I am currently trying to accept text or json messages via the `CamelNettyhttpSourceConnector` component.
I use the following configuration:
[code]
I send messages to the co

[2021-02-03 13:29] oscerd commented on #969
Thanks for reporting. We need to provide a converter or smt, with mechanism to convert from stream to string.

[2021-02-03 14:09] valdar commented on #969
@h4gen can you try to add this to your configuration:
[code]

[2021-02-03 14:17] h4gen commented on #969
Hi @valdar!
Thanks for the suggestion. I added the snippet to the configuration, leading to the following configuration in total:

[code]
Now I receive the following Error when i try to deploy the connector:

[code]

Thanks!

[2021-02-03 14:48] valdar commented on #969
@h4gen yes my bad, wrong config. Try:
[code]

[2021-02-03 15:01] h4gen commented on #969
@valdar thanks for the fast reply. Now the configuration was accepted and the connector deployed. However when I send messages to the connector i get the following:

[code]

Interestingly messages are forwarded to my topic but are just "empty". Does this make sense?

[2021-02-04 04:16] tadayosi commented on #640
If no one else is working on it yet, I can take.

[2021-02-04 05:45] oscerd commented on #640
@tadayosi yeah, I think @cunningt is working on something else: the repository for the example is https://github.com/apache/camel-kafka-connector-examples

[2021-02-04 05:45] oscerd commented on #640
Thanks

[2021-02-04 08:27] oscerd opened #973 "CamelKafkaConnectMain is showing sensitive information in summary"
[2021-02-04 08:41:37,479] INFO Setting initial properties in Camel context: [[connector.class=org.apache.camel.kafkaconnector.aws2kms.CamelAws2kmsSinkConnector, camel.sink.endpoint.operation=createKey, camel.sink.component=aws2-kms, value.converter=org.apache.kafka.connect.storage.StringConverter, key.converter=org.apache.kafka.connect.storage.StringConverter, camel.component.aws2-kms.access-key=<

[2021-02-04 11:41] orpiske opened #974 "MongoDB tests failing with Camel master"
[tests.log](https://github.com/apache/camel-kafka-connector/files/5925455/tests.log)

Looks like a problem on MongoDB component on Camel, but I need to investigate further.

[2021-02-04 11:43] orpiske opened #975 "SJMS2 Startup test failing on Camel Master"
[tests.log](https://github.com/apache/camel-kafka-connector/files/5925469/tests.log)

Needs further investigation.

[2021-02-04 12:54] orpiske opened #976 "Azure storage queue failing on Camel Master"
[tests.log](https://github.com/apache/camel-kafka-connector/files/5925784/tests.log)

[2021-02-04 13:19] oscerd commented on #973
Should be addressed in camel 3.8.0

[2021-02-04 13:19] #973 closed

[2021-02-04 17:12] oscerd opened #978 "Release 0.7.2 once Camel 3.7.2 will be released"
Camel 3.7.2 will go on vote soon, probably this weekend.

@valdar FYI

[2021-02-04 17:37] oscerd opened #979 "Improve description of connector"
By leveraging the camel catalog, we should add a brief description of what the connector does.

[2021-02-04 21:58] valdar opened #980 "camel.source.contentLogLevel config not honored in source connectors"
`camel.source.contentLogLevel` property makes no difference if used in source connectors while it works as expected in sink connectors.

[2021-02-05 05:47] oscerd commented on #340
Related to #980

[2021-02-05 05:48] oscerd commented on #159
Should be ok now.

[2021-02-05 05:48] oscerd commented on #159
Let's keep it open until we update master to 3.8.0

[2021-02-08 09:28] #640 closed

[2021-02-08 14:13] oscerd commented on #978
https://camel.apache.org/blog/2021/02/RELEASE-3.7.2/

[2021-02-09 04:22] tadayosi opened #986 "Use KafkaConnect instead of KafkaConnectS2I for Strimzi docs"
Latest Strimzi doc says `KafkaConnectS2I` is deprecated. We should use `KafkaConnect` for our instructions using Strimzi.
https://strimzi.io/docs/operators/master/using.html#assembly-kafka-connect-str

[2021-02-09 09:34] swierszczu4j opened #988 "Missing message key on outbound using Camel Kafka KafkaConnector"
As title says - I have a problem in which I would like to rewrite kafka record (key + payload) from one topic to another, but no matter if I'm using Sink or Source option of this connector, the outbound topic receives message without a key (key ends up being null), which also means partition ordering guarantee is lost.

My setup:
`
curl --location --request PUT 'http://localhost:8083/connectors/ca

[2021-02-09 10:32] orpiske opened #990 "Consistent failures in GH tests"
We are seeing constant failures in Github actions for pull requests caused by the Docker pull limits.

One thing we could try is upgrading test containers to [1.15.1](https://github.com/testcontainers/testcontainers-java/releases/tag/1.15.1) which solves this problem:

```Docker 20.10 introduced a new version of the API, 1.41, where they removed quite a few deprecations, and we were using one of t

[2021-02-09 10:33] orpiske commented on #990
c/c: @valdar @oscerd

[2021-02-09 11:13] valdar commented on #990
We can do both :)

[2021-02-09 12:26] oscerd opened #992 "Support JDBCIdempotentRepository"

[2021-02-09 12:29] oscerd commented on #992
So we may have a persisted solution.

[2021-02-09 14:39] #979 closed

[2021-02-09 15:37] ffang opened #996 "add itests for camel-cxfrs-kafka-connector"

[2021-02-09 16:02] orpiske opened #997 "Azure storage blob failing on camel-master"
[tests.log](https://github.com/apache/camel-kafka-connector/files/5952528/tests.log)

[2021-02-10 05:23] tadayosi commented on #166
There are very few options of testing framework that can be used with JUnit 5.
https://khmarbaise.github.io/maven-it-extension/itf-documentation/background/background.html
I initially tried to use [maven-plugin-testing-harness](https://maven.apache.org/plugin-testing/maven-plugin-testing-harness/getting-started/index.html) but it only supports up to JUnit 4. Fitting it into JUnit 5 is hard and sho

[2021-02-10 05:37] oscerd commented on #166
I think maven-it-extension is the right choice to be in sync with the junit 5 usage, thanks for looking into this.

[2021-02-10 09:18] orpiske commented on #166
+ for maven-it-extension and keeping in sync w/ JUnit 5.

On a side note, @tadayosi: there were a recent cleanup of the IT tests that should provide a good starting point for any new test case: the `CamelSinkTestSupport` and the `CamelSourceTestSupport`. These classes generalize the connector's test life cycle and implementations need to basically create the specific producer or consumer for the e

[2021-02-10 12:22] orpiske commented on #974
The problem is caused because the `mongoConnection` is null at this point: https://github.com/apache/camel/blob/camel-3.8.x/components/camel-mongodb/src/main/java/org/apache/camel/component/mongodb/MongoDbEndpoint.java#L235

And it is null at this point because the doStart is not being called for the source connector: https://github.com/apache/camel/blob/camel-3.8.x/components/camel-mongodb/src/ma

[2021-02-10 15:58] orpiske commented on #974
Opened [CAMEL-16179](https://issues.apache.org/jira/browse/CAMEL-16179) for this issue.

[2021-02-12 13:35] orpiske commented on #974
@valdar @oscerd any ideas about how we could fix this?

[2021-02-12 13:48] oscerd commented on #974
I don't see an easy way

[2021-02-15 10:51] #978 closed

[2021-02-15 10:51] #302 closed

[2021-02-15 12:11] orpiske commented on #975
Fixed with #1010

[2021-02-15 12:11] #975 closed

[2021-02-15 12:47] orpiske commented on #997
Fixed

[2021-02-15 12:47] #997 closed

[2021-02-15 12:47] orpiske commented on #976
Fixed

[2021-02-15 12:47] #976 closed

[2021-02-15 12:48] orpiske commented on #990
Thanks folks, it seems that the recent problems on GH tests have been fixed. I am closing this one for now.

[2021-02-15 12:48] #990 closed

[2021-02-16 15:46] oscerd commented on #159
Done

[2021-02-16 15:46] #159 closed

[2021-02-16 15:47] oscerd commented on #402
Done here https://github.com/apache/camel-kafka-connector-examples/tree/master/fhir

[2021-02-16 15:47] #402 closed

[2021-02-16 15:48] oscerd commented on #629
Is this done with 3.8.0 @orpiske ?

[2021-02-16 15:54] orpiske commented on #629
No, this is still ongoing. I'll continue investigating this one next week.

[2021-02-16 15:54] orpiske commented on #700
Done.

[2021-02-16 15:54] #700 closed

[2021-02-16 15:56] oscerd commented on #700
@orpiske if this stuff is done for 0.8.0, add also the milestone 0.8.0, so they will appear in the camel release page :-) Thanks!

[2021-02-16 16:07] orpiske commented on #700
Ahhhh, cool. I think I have to add it to a few others, thanks @oscerd

[2021-02-17 06:44] tadayosi commented on #166
Thanks @orpiske for the info. Since it's maven plugin IT tests I don't think we can reuse the same test support for CKC connectors, but I'll check them and try to follow the same styles as much as possible.

[2021-02-17 09:43] #166 closed

[2021-02-17 10:04] cristianburca opened #1020 "Grab topics using regex and put in S3 by topic name"
Hello,

I would like to know if possible to put grabbed topics with regex into particular folder in s3 by topic name.

let's say we have:

[code]

And my sink s3 connector using a regex looks like:
[code]

Right now all the topics messages are bulk put directly into root folder of s3 bucket.

I was thinking if we can split by folders using the topic name.
eg adding something like:
"camel.sink.endp

[2021-02-18 13:03] oscerd commented on #1020
The expression you see in the filename is  coming from Camel, while the topic name should be retrieved by the connector configuration, so no, at the moment is not possible. You'll have to define n connectors one for each topic, if you want to achieve this.

[2021-02-18 13:10] oscerd commented on #988
For the source side you have to specify this configuration option
https://github.com/apache/camel-kafka-connector/blob/master/core/src/main/java/org/apache/camel/kafkaconnector/CamelSourceConnectorConfig.java#L70

which is null by default. On the sink side, the key will be in this header https://github.com/apache/camel-kafka-connector/blob/master/core/src/main/java/org/apache/camel/kafkaconnector/

[2021-02-18 13:27] #903 closed

[2021-02-18 15:31] valdar opened #1030 "Generate just one connector package: .zip or .tar.gz"
Given the number of connectors we have, releasing and packaging them in 2 formats is just a waste of time and resources, nowadays all modern operating systems should be able to handle `.zip` or `.tar.gz` archives indifferently.

Just remove one of the formats.

[2021-02-18 15:37] oscerd commented on #1030
We'll remove the .tar.gz one.

[2021-02-18 17:18] #980 closed

[2021-02-18 17:28] #340 closed

[2021-02-19 07:32] tadayosi commented on #1030
Right now Strimzi seems to support only `*.tar.gz`, so probably keeping `*.tar.gz` makes more sense.
https://strimzi.io/docs/operators/master/using.html#plugins

[2021-02-19 07:44] tadayosi opened #1036 "Add itests for camel-kafka-netty*-connectors"

[2021-02-19 07:46] tadayosi commented on #924
I'll work on #1036 next, so let's see if I can catch this issue there, too.

[2021-02-19 07:48] oscerd commented on #1030
I guess zip is supported too https://github.com/strimzi/strimzi-kafka-operator/blob/master/install/cluster-operator/041-Crd-kafkaconnect.yaml#L1908

[2021-02-19 07:49] tadayosi commented on #1030
Ah cool. Then I'm fine with zip, too.

[2021-02-19 07:50] oscerd commented on #1030
I'm asking for confirmation, I have the PR ready for this :-)

[2021-02-19 08:28] oscerd opened #1037 "Add a regen bot to gh action like Camel"

[2021-02-19 08:32] oscerd commented on #1030
@scholzj provided some feedback, zip will be supported from the next release, so since we are planning to release this weekend, I'll change the PR to only generate tar.gz

[2021-02-19 15:31] #1030 closed

[2021-02-19 17:16] orpiske opened #1041 "Website: connectors' list formatting problems"
It looks like the connectors list on the website is broken.

![Screenshot_2021-02-19 Supported connectors and documentation Apache Camel](https://user-images.githubusercontent.com/1851560/108538003-969b5300-72de-11eb-9dee-e8f35cbc7c81.png)

[2021-02-19 17:22] oscerd commented on #1041
I'll check this should be related to #1030

[2021-02-19 17:54] #1041 closed

[2021-02-19 19:14] ffang opened #1044 "add processor configuration for source connectors"
Source connectors basically will start a consumer endpoint "from uri", but currently no way to add a processor class after from.

The processor is really flexible and can do pretty much everything on the camel exchange before send into kafka, and I believe it's good if we can specify processor for source connectors

[2021-02-19 19:15] ffang commented on #1044
Open a PR here
https://github.com/apache/camel-kafka-connector/pull/1045

[2021-02-19 19:16] oscerd commented on #1044
This is out of the roadmap. In camel-kafka-connector there is no need for processors. If a user need a processor then he should use camel directly. Camel is the engine.

[2021-02-19 19:24] ffang commented on #1044
Hi @oscerd ,

I may miss something, but could you please elaborate how to use camel directly?
Because if I read the CKC code correctly, when initialising a source connector, the consumer endpoint is created(from) automatically, in this case how can I use processor if I do want to add something for the consumer endpoint?

Thanks!
Freeman

[2021-02-19 19:29] oscerd commented on #1044
Basically the idea of ckc is avoid exposing Camel details and creating a tiny abstraction layers between kafka connect and camel. To use a processor people should know at least a bit of camel and I fear that starting to add too much camel concepts in the project, while make it just a mega camel wrapper.

Btw let's discuss this with the community.

@valdar @orpiske etc. Please give your feedback :-

[2021-02-19 19:42] orpiske commented on #1044
My understanding is in line w/ @oscerd's explanation.

Personally, I'd prefer the project to abstract away some Camel features and patterns in order to offer a *simple* "Kafka connect way" for the users to plug other systems into their connectors. Although we may need to leave certain features behind - such as processors - my belief is that solutions that are complex enough to require some these f

[2021-02-20 13:59] oscerd commented on #1044
If you need to do something like manipulate the message while moving from source to kafka, you should use an SMT or a converter (kafka concepts), introducing processors is not really in the Kafka connect perspective.
If SMT and converter are not enough, probably CKC is not the best solution for the user. At that point he should use plain Camel by combining a consumer and camel-kafka producer.
We h

[2021-02-21 05:43] tadayosi commented on #1044
I think it's a great discussion. Personally what @oscerd and @orpiske explained really makes sense: CKC is the complehensive collection of generic Kafka connectors abstracted away from the implementation by Camel. It's a great, focused strategy for the project. Here are some constructive suggestions from me in this perspective:

1. At the same time, what @ffang expected with CKC shouldn't be uncom

[2021-02-21 15:22] oscerd commented on #1044
I agree on 1. and 2., I disagree a bit on .3, because the connectors work exactly as the camel component behaves and they are generated directly from the components. So Camel should be in the name, because basically we're still using the components, but in the kafka connect way.

There are some documentation issue about this and about use cases.

[2021-02-22 08:39] omarsmak opened #1046 "Add a SMT/Converter to convert JSON to Map in the Core"
There are components/connectors that need the message body to be in form of Map, for example Camel Stitch, Camel SQL .. etc. Hence if you have a JSON data message from Kafka, e.g:
[code]
The SMT should be able to convert this to Map datatype. e.g:
[code]

[2021-02-22 11:27] valdar commented on #1044
Hello, so my opinion on this is aligned with what @orpiske , @oscerd  and partially @tadayosi explained so well.

The idea is to abstract away camel details as much as possible. Moreover I am introducing in a PoC the use of Kamelets in ckc and additions to the ckc core makes this transition harder. Ideally once and if we move to use kamelets those processors can be added in the kamelet itself just

[2021-02-22 13:22] oscerd opened #1047 "Add SMT for GenericFile of Camel-file-kafka-connector"

[2021-02-22 13:22] oscerd commented on #1044
I think we should close the related PR and close this discussion then.

[2021-02-22 18:37] ffang commented on #1044
Thanks for all the great feedback!
I'm digesting the input now, I may ask more questions later on.

[2021-02-23 08:56] omarsmak commented on #1046
It is not necessary, the JsonConverter can do this, however we need to convert the Struct to map

[2021-02-23 08:58] orpiske opened #1050 "Prevent Kafka Connect from leaking passwords and sensitive data"
We need to mark password and other sensitive fields with `ConfigDef.Type.PASSWORD` instead of `ConfigDef.Type.STRING` as we currently do (for example, [here](https://github.com/apache/camel-kafka-connector/blob/master/connectors/camel-aws2-sqs-kafka-connector/src/main/java/org/apache/camel/kafkaconnector/aws2sqs/CamelAws2sqsSourceConnectorConfig.java#L362)).

By annotating the fields as String, se

[2021-02-24 09:57] orpiske commented on #1050
Fixed.

[2021-02-24 09:57] #1050 closed

[2021-02-24 10:47] oscerd opened #1057 "The count of transforms, converter and aggregation strategy seems to be broken for docs"
The camel-file sink connector supports 0 transforms out of the box, which are listed below.

while we have 1

[2021-02-24 10:48] #1047 closed

[2021-02-24 11:55] #1057 closed

[2021-02-25 03:35] tadayosi opened #1062 "ITests don't work when a test class is specified with `-Dtest=...`"
For instance, this works:
[code]
but this doesn't:
[code]

Looking at the `target/tests.log` I can see these lines:

so this code from PluginPathHelper doesn't work well when a test runs with `-Dtest=...`. The system property `project.basedir` doesn't seem to be always reliable.
[code]

[2021-02-25 03:42] ffang commented on #1062
Hi @tadayosi,

Please try with "-Dit.test=" instead of "-Dtest="
It's failsafe plugin, not the surefire plugin which launch the test.

Cheers
Freeman

[2021-02-25 03:54] tadayosi commented on #1062
@ffang Thanks! Yes, you're correct. It's resolved.

[2021-02-25 03:54] #1062 closed

[2021-03-01 10:36] apupier opened #1068 "`camel.source.endpoint.sync` issue in CamelInfinispanSourceConnector in 0.8.0"
in 0.7.2, th eoption was part of the catalog https://github.com/apache/camel-kafka-connector/blob/b756e8adf915e2b523fc40c160ae51b3353582e9/camel-kafka-connector-catalog/src/generated/resources/connectors/camel-infinispan-source.json#L70

it has been removed in 0.8.0 https://github.com/apache/camel-kafka-connector/blob/camel-kafka-connector-0.8.0/camel-kafka-connector-catalog/src/generated/resource

[2021-03-01 10:44] oscerd commented on #1068
It is in infinispan-embedded component. In 3.8.x the component has been splitted in two different components, infinispan and infinispan-embedded, the infinispan one is for the remote part and there is no sync anymore. I'll review the examples.

[2021-03-01 10:45] oscerd commented on #1068
This is an examples related problem, so let me close this and lets continue in examples. Thanks for reporting.

[2021-03-01 10:45] #1068 closed

[2021-03-02 03:18] tadayosi commented on #924
I think I figured out what's causing the issue and #665. It turns out it's potentially broader than just a couple of connectors. It's an issue in how the `EndpointUriFactory`s map properties to the endpoint URL, which is used in the `TaskHelper`. For Netty, the endpoint syntax is defined as `netty:protocol:host:port` as follows:
https://github.com/apache/camel/blob/master/components/camel-netty/sr

[2021-03-02 05:46] tadayosi commented on #924
https://issues.apache.org/jira/browse/CAMEL-16280

[2021-03-02 09:08] orpiske commented on #924
I think

I think this might also be the related to #629.

[2021-03-02 09:09] orpiske commented on #924
I mean: the same type of issue. Not *netty* specifically.

[2021-03-02 09:47] orpiske commented on #629
This should do the trick: https://github.com/apache/camel/pull/5156/files

Thanks to @tadayosi, who found a similar problem on Netty and led me to the root cause of the problem on Couchbase.

[2021-03-02 13:00] swierszczu4j commented on #988
Hey - thanks for the reply! Much appreciated! As I'm new to the Camel itself I must admit that I do not know how to use properties mentioned by U or what to place as a value for this keys in my connector config so to have rewrite of the kafka message key from one topic to another. All I was able to achieve is to have this key as camel specific header, but message key still is null. Do U think prep

[2021-03-02 13:03] oscerd commented on #988
Hey @swierszczu4j absolutely. It would be a good starting point. Thanks for your time.

[2021-03-02 14:58] OlyaVashchenko opened #1077 "HTTPS-sink-connector duplicates protocol"
Hello. I'm trying to use **camel-https-kafka-connector** to _POST_ data into _SuccessFactors_ (with basic authentication - username and password) and get the following **error in my console**:
[code]
My **.properties** file:
[code]
If I uncomment the authentication part, I get an error of the same nature.
Kafka version: 2.13-2.7.0, connector version: 0.8.0

[2021-03-02 15:13] OlyaVashchenko commented on #1077
Just in case: I downloaded the connector from **https://camel.apache.org/camel-kafka-connector/latest/connectors.html**

[2021-03-03 05:38] tadayosi commented on #1077
Looks like this is another issue that EndpointUriFactory causes.

[2021-03-03 06:53] tadayosi opened #1078 ""Illegal character in port number" errors in itests"
While looking at the recent CI itest failure on itests-netty, I found the following errors occuring frequently in many itests. Why is it happening?  Can we fix this?
[code]

[2021-03-03 06:58] oscerd commented on #1077
@tadayosi since you worked on other feel free to have a look at this one too. I think the scheme is wrong, but the duplication seems to be a different problem.

[2021-03-03 07:44] orpiske commented on #1078
I haven't researched further on this one, but it appears to be a problem on when the Jetty on the Kafka Connect shuts down. It may be possible that the way we are setting it up for execution in the embedded instance is affecting its behavior during the shutdown.

[2021-03-03 12:26] dhope-nagesh commented on #1020
@oscerd  Any timeline for this feature, if your are going to consider it in future?

[2021-03-03 12:29] oscerd commented on #1020
We are actually not considering this. I think I'll close this one.

[2021-03-03 12:29] oscerd commented on #1020
Thanks for pinging.

[2021-03-03 12:29] #1020 closed

[2021-03-03 15:37] dberardo commented on #188
i am getting crazy on finding some documentation of how this transforms work ... how are we supposed to know that to use there?

i am looking here: https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-telegram-kafka-sink-connector.html and there is no trace of such transforms.

my problem is that if i use the transform `org.apache.camel.kafkaconnector.transforms.CamelTypeConverte

[2021-03-03 16:29] dberardo opened #1082 "telegram connector convert to json"
is there a way to convert the output of a telegram connector (and actually of any other kind of Camel connector)  into JSON?

so far i only get this kind of string output:

`IncomingMessage{messageId=id, date=2021-03-03T15:53:03Z, from=User{id=asdasd, is_bot='false', firstName='asasdasd', lastName='null', username='asdasd'}, text='😂', chat=Chat{id='asdasd', title='null', type='private', all_member

[2021-03-03 17:06] oscerd commented on #1082
With 0.8.0 or 0.7.0 and with camel-jackson in the classpath of the connector try:

[code]

The output will be

[code]

[2021-03-03 17:07] oscerd commented on #1082
0.8.0 has camel-jackson out of the box in the dependency and same for 0.7.2.

[2021-03-03 17:08] oscerd commented on #1082
The documentation about dataformat needs to be improved. You're welcome to help.

[2021-03-03 17:45] oscerd commented on #1082
Let us know if all works for you.

[2021-03-03 18:13] dberardo commented on #1082
i will give it a try tomorrow. Please keep the issue open till then

[2021-03-04 06:43] dberardo commented on #1082
hell yeah ! it worked!

my next natural question would be: how could have found out that by myself? is there any piece of documentation you can advice, that will help me become more independent with Camel connectors / tranform / converters ?

my landing point was of course this page: https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-telegram-kafka-source-connector.html

then i

[2021-03-04 07:28] oscerd commented on #1082
The only documentation for camel-kafka-connector is https://camel.apache.org/camel-kafka-connector/latest/

You landed on pages related to plain camel. Camel is the main project, ckc is a subproject based on camel components, but it's a different runtime.

All the connectors in this project are autogenerated from the plain camel components and so it's the connectors documentation (options and what

[2021-03-04 08:57] dberardo commented on #1082
thanks for wrapping that up for me @oscerd , i will stay tuned for more documentation to be released. Hopefully watching this repo could be a good start. Or maybe register to any slack channel / newsletter.

i was trying to use regular confluence transformers on the marshaled output of the converter above, but i am getting some Exceptions with data formats / Structs expected, etc.

My question is

[2021-03-04 09:09] oscerd commented on #1082
The marshalling is happening before the ByteArray converter, so you can use a transformer after the marshaller, but you have to deal with the format after that, which should be an input stream

[2021-03-04 10:25] dberardo commented on #1082
oh i see, i think i have to review this concept then, not very familiar to me.

so you mean that the process should look like this:

input --> marshalling --> JSON --> transformer --> JSON --> (? something ?) --> Input Stream --> ByteArray converter

Is the above process correct? If so, can i simply use a JSON converter at the end, instead of a ByteArray converter?

[2021-03-04 10:37] oscerd commented on #1082
Can you please add some more information about what your transformer should do? Because it may be possible I'm didn't understand what you want achieve.

[2021-03-04 11:13] dberardo commented on #1082
sorry for the confusion then.

actually i mean doing something really simple. I want to achieve 3 things with the transformers:

1 - add a static key to the message, to identify the Bot where it comes from (i will use many bots sourcing in one topic)
2 - add a static field in the JSON payload (something like "custom-field":123)
3 - transform the payload JSON structure to extract some of the fields

[2021-03-04 12:20] oscerd commented on #1082
I guess you'll need to write a transform with all these three step. By the way, you can call the transform after the marshalling,  yes.

[2021-03-04 12:42] dberardo commented on #1082
well my idea was to chain them like

`transforms":["instertField1","instertField2","valueToKey","extraFields1",....]`

so in this way i would not have to program my own custom transform. But apart from this implementation details, i just wanted to make sure that JSON based transforms are actually called after the marshaling, as you are suggesting.

i will give this a quick try in the next hour and

[2021-03-04 12:57] oscerd commented on #1082
Yes, my only doubt is the format you'll get after the marshalling phase. Maybe you'll need to convert the stream to string. But I'm not completely sure, I should try. Let me know.

[2021-03-04 12:57] oscerd commented on #1082
The chain is one possibilty. Personally I don't like the chaining, but since the transforms are already there it makes sense

[2021-03-04 12:59] dberardo commented on #1082
i prefer to do chaining at first since i am not a Java developer, later can opt for more reusable approaches.

i have tried a simple MaskField transform and i get the same error as i had before with the InsertValue transform:

![image](https://user-images.githubusercontent.com/10696700/109967478-c6405700-7cf1-11eb-94be-3dd722065d4d.png)

The connector was working fine before, i have just added thi

[2021-03-04 13:08] oscerd commented on #1082
So, what is moving in this connector is not a struct in the kafka connect sense of struct, it is an entity equal to what the plain camel component routes. So you cannot use those transforms, except if you transform the coming data into a struct before all of this transformations. I would write a transform myself.

[2021-03-04 13:22] dberardo commented on #1082
i see. Are you aware of any transform that could handle a conversion to such kind of "struct" required by confluence transforms?

and if not, are you aware of any other transform that i could download and use to manipulate the JSON object?

otherwise i might try to get my hands on some Java code, but would really need to know where to start from, and that would take a bit ...

[2021-03-04 13:33] oscerd commented on #1082
I'm not aware of transformations for this. I can create a transformations that show how to add a field to json, if you want. Not sure if I'll have time this week though

[2021-03-04 14:37] dberardo commented on #1082
oh that would be great, and i think also useful for other new comers.

let me know when this is happening, as i can try to setup a dev environment to compile the java code in Docker and try to compile and deploy that class on my current running connect instance.

should we stick to this issue?

[2021-03-04 14:39] oscerd commented on #1082
Let's leave this open.

[2021-03-04 14:48] #1036 closed

[2021-03-05 09:06] tadayosi opened #1085 "netty-http sink itests - mock web server out of test code into JUnit 5 extension"
Follow up #1084

[2021-03-05 11:33] orpiske opened #1086 "Google pub/sub: endpoint option cannot be set"
When trying to set the connector using URL:

```2021-03-05 12:30:57,807 [lGooglePubSub-0] ERROR org.apache.camel.processor.errorhandler.DefaultErrorHandler - Failed delivery for (MessageId: FEA0554C87763BA-0000000000000000 on ExchangeId: FEA0554C87763BA-0000000000000000). Exhausted after delivery attempt: 1 caught: org.apache.camel.ResolveEndpointFailedException: Failed to resolve endpoint: google

[2021-03-06 14:16] oscerd commented on #1086
What option are you using, because the endpoint is configurable only at component level

camel.component.google-pubsub.endpoint

[2021-03-07 13:45] #969 closed

[2021-03-08 10:54] valdar commented on #423
@heiko-braun as first step a drop in replacement then transitioning to a replacement.

[2021-03-09 05:42] #323 closed

[2021-03-09 06:20] rgannu commented on #323
Just for confirming here so that others who step into this problem can work. Things to do for passing map data via connector JSON configuration.
- Extend the connector using camel archetype.
- Add a class which contains a HashMap member variable (let's say "mapData').
- use the HashMap member variable in the connector configuration like
     mapData[<key>]: "<value>"

Works like a gem. Thanks @osc

[2021-03-10 16:08] oscerd opened #1095 "Release 0.7.3"
Camel 3.7.3 has been released. cc @valdar

[2021-03-11 04:45] tadayosi commented on #1077
As demonstrated in my itests, the issue occurs when `httpUri` includes additional query string such as `?processInactiveEmployees=true&purgeType=full`. I believe it requires camel-core to be patched.

A quick workaround for the time being would be to use `camel.sink.url` to provide the entire URL yourself.

[2021-03-11 07:06] OlyaVashchenko commented on #1077
Ok, thanks! The workaround is working.

[2021-03-11 07:06] OlyaVashchenko commented on #1077
Should I close the issue now? :)

[2021-03-11 07:14] tadayosi commented on #1077
Great it works for you. It's up to you whether to close it or not now. I'm working on the root cause and trying to fix it anyway.

[2021-03-11 08:43] OlyaVashchenko commented on #1077
I have to ask: can this issue affect authorization? I've only checked the request in Postman and it works fine with the credentials I provide. However the connector (I launch it via the console) throws me another exception ( org.apache.camel.http.common.HttpOperationFailedException) with statusCode 401.

[2021-03-11 08:49] OlyaVashchenko commented on #1077
I'll try to make the request both using GET method and launching a pure Camel application later today.

[2021-03-11 09:32] tadayosi commented on #1077
Yes I think so. Every parameter with prefix `camel.sink.endpoint.*` should be explicitly put in the `camel.sink.url` if you go with the workaround, otherwise those parameters would be ignored (I think).

[2021-03-11 09:58] valdar commented on #924
Thanks @tadayosi for looking into this!

Please signal when the camel issue is fixed so we can review this one in the next release.

[2021-03-11 10:00] valdar commented on #924
AA! I see that will be in camel 3.9.0 awesome!

[2021-03-11 10:01] valdar commented on #924
Do we have a unit/itest for this?

[2021-03-11 10:03] valdar commented on #924
related to #1077

[2021-03-11 10:07] valdar commented on #969
@h4gen this should be fixed now in `master` so will be available starting form version `0.9.0`

[2021-03-11 10:08] h4gen commented on #969
@valdar Thank you very much for taking care of this! Looking forward to try it out :)

[2021-03-11 10:12] valdar commented on #969
@h4gen actually it should be in `0.7.3` too, that should be released sometime next week :tada:

[2021-03-11 12:57] tadayosi commented on #924
@valdar Sorry, yes it should be fixed in Camel 3.9.0.

And the test case is captured in:
https://github.com/apache/camel-kafka-connector/blob/master/tests/itests-netty/src/test/java/org/apache/camel/kafkaconnector/netty/sink/CamelSinkNettyITCase.java#L88
Once it's fixed we can remove the `//` prefix from the host.

[2021-03-12 08:15] #1085 closed

[2021-03-12 15:00] OlyaVashchenko commented on #1077
Seems like 3 authentication parameters works fine when explicitly put in the ```camel.sink.url```. At least the 401 error is gone :) However I'm not sure where to place my custom headers (like ```Content-type```). I don't think that adding them to the above property works (I get the 502 error caused by the wrong Http method).

[2021-03-12 15:08] OlyaVashchenko commented on #1077
Please tell if my questions are "off-topic".

[2021-03-12 20:39] ffang commented on #996
PR is https://github.com/apache/camel-kafka-connector/pull/1099

[2021-03-15 10:29] swierszczu4j commented on #988
Hello - sorry for a delay. Here's a repo with showcase:
[https://github.com/swierszczu4j/camel-kafka-kafka-connector-problem](https://github.com/swierszczu4j/camel-kafka-kafka-connector-problem)

[2021-03-15 15:57] #1095 closed

[2021-03-16 07:47] tadayosi commented on #1077
The issue is fixed with latest camel master, so it can be closed once CKC 0.9.0 is released.

[2021-03-16 07:50] tadayosi commented on #1077
This is the fix: https://github.com/apache/camel/commit/af773d814b17e8533ead23d3989efdff6340fea9

[2021-03-16 18:09] OlyaVashchenko commented on #1077
Great, thank you!

[2021-03-17 07:58] oscerd opened #1105 "Upgrade Strimzi to version 0.22.0"

[2021-03-17 08:18] jonaswagner opened #1107 "aws2 s3 source connector ClassCastException for value.conver"
Hi all,

This issue relates to the conversation from the Camel Zulipat chat: https://camel.zulipchat.com/#narrow/stream/257303-camel-kafka-connector/topic/aws2.20s3.20source.20connector.20ClassCastException.20for.20value.2Econver

As discussed with @luigidemasi, I get a ClassCastException, when I try to use the value converter property for my aws2 s3 source connector.

This is the config I used:

[2021-03-17 08:24] oscerd commented on #1107
What is the connector version?

[2021-03-17 10:00] jonaswagner commented on #1107
We are currently using Version 0.5.0

[2021-03-17 10:04] oscerd commented on #1107
We reworked the underline component please try with 0.7.3 or 0.8.0

[2021-03-17 15:59] ffang opened #1109 "NetworkUtils should be able to hold a free port for later usage"
Currently the starting port is always 45152, this can cause a problem in scenario like

1. In my test I check 45152 as a free port, so I define a PORT to refer it in my class INIT code; and I use it later and not bind to this listening port immediately
2. Another thread(Like Kafka service) check 45152 as a free port and bind to it
3. I my test when I really need to use this PORT, I get "Address al

[2021-03-17 16:53] jonaswagner commented on #1107
Ok, I tried the same config as above with version 0.8.0. Now I get a different exception:

org.apache.kafka.connect.errors.ConnectException: Tolerance exceeded in error handler
              at org.apache.kafka.connect.runtime.errors.RetryWithToleranceOperator.execAndHandleError(RetryWithToleranceOperator.java:178)
              at org.apache.kafka.connect.runtime.errors.RetryWithToleranceOperator

[2021-03-17 19:24] ffang commented on #1109
Open a PR
https://github.com/apache/camel-kafka-connector/pull/1111

[2021-03-17 21:18] oscerd commented on #1107
Try with the bytearray converter.

[2021-03-17 22:37] luigidemasi commented on #1107
@jonaswagner, @oscerd is right: in a source task, a converter is used to convert incoming data to a byte array using fromConnectData method from [Converter](https://github.com/apache/kafka/blob/9adfac280392da0837cfd8d582bc540951e94087/connect/api/src/main/java/org/apache/kafka/connect/storage/Converter.java#L46) interface but you already have byte array in your body, that's the reason for the erro

[2021-03-18 08:04] jonaswagner commented on #1107
You are right, I was blindly reading the documentation (see https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-aws2-s3-kafka-source-connector.html), which says that the connector supports the S3 Converter out of the box.

I was also confused by the sample configuration of the aws-s3-kafka-source-connector (not aws2) example, which contains a StringConverter and the S3ObjectConv

[2021-03-18 08:08] oscerd commented on #1107
Yes, please :-)

It's true that the converter is supported out of the box. It is here: https://github.com/apache/camel-kafka-connector/blob/master/connectors/camel-aws2-s3-kafka-connector/src/main/java/org/apache/camel/kafkaconnector/aws2s3/converters/S3ObjectConverter.java

[2021-03-18 08:46] #1107 closed

[2021-03-18 08:47] jonaswagner commented on #1107
Resolved. The main problem was the usage of an old connector version (0.5.0 instead of the newer 0.8.0) and the missunderstanding of the documentation.

[2021-03-19 02:48] yingbo-wu opened #1112 "The “camel.source.endpoint.streamFilter”"
[code]

The **camel.source.endpoint.streamFilter** Setting an incorrect JSON format does not result in an exception
So my guess is that this setting doesn't work

In the end I surmised that it was the Camel-MongoDB component problem
The following is part of the Camel-MongoDB code
org/apache/camel/component/mongodb3/MongoDbChangeStreamsConsumer.java
[code]
The **camel.source.endpoint.streamFilter**

[2021-03-19 02:57] yingbo-wu commented on #1112
In addition, it is escaped as + when the setting contains Spaces
[code]
The log is:
MongoDb endpoint: mongodb://mongo?collection=test_object&consumerType=changeStreams&database=ac-test&mongoConnection=%23class%3Acom.mongodb.client.MongoClients%23create%28%27mongodb%3A%2F%2Froot%3Aroot%40192.168.23.164%3A27017%2F%3FauthSource%3Dadmin%27%29&streamFilter=%7B%24match%3A+%7BoperationType%3A+%7B%24in%3A

[2021-03-19 03:09] yingbo-wu opened #1113 "camel-mongodb-kafka-connector produce message format error"
The “camel.source.endpoint.consumerType” is changeStreams
[code]

The kafka topic message format is:
Document{{_id=6054153bb0c98c76191cd377, sfdc_id=a0L2x000001GjBgEAK, field_3=Fri Mar 05 00:00:00 GMT 2021, field_1=123, field_2=123}}

The format is that the "Document" object toString() returns something
Such a data format cannot be used downstream

[2021-03-19 03:10] yingbo-wu commented on #1113
"value.converter": "org.apache.kafka.connect.storage.StringConverter"

[2021-03-19 03:12] yingbo-wu commented on #1113
My solution is
[code]
But, The official example is "value.converter": "org.apache.kafka.connect.storage.StringConverter"

[2021-03-19 03:17] yingbo-wu opened #1114 "camel-salesforce-kafka-connector missing dependency library"
The camel-salesforce-kafka-connector-0.8.0-package.tar.gz missing jetty-http-9.4.36.v20210114.jar

[2021-03-19 05:45] oscerd commented on #1113
The pojo returned is always Document. You can transform it in json by unmarshalling it with json-jackson dataformat which is provided out of the box and by default in all the connectors. Thanks.

[2021-03-19 05:45] #1113 closed

[2021-03-19 11:04] dberardo-com commented on #644
it would be great to have some more "use case" oriented documentation of this connector, or at least including a sample configuration file somewhere, but i think this is a "design choice" of camel connectors, to have developers struggle in finding their way out.

anyway, i didnt know about the kafka message header, sounds like a quite useful feature, would be nice to get a link for more documentat

[2021-03-19 11:09] oscerd commented on #644
Instead of doing useless observation like "to have developers struggle in finding their way out.", try to have a look at how the component works in camel and try to setup a working configuration.

The connectors you see in this project, are autogenerated: it is not possible to have an example for each one of them. Whenever someone ask how a connector works, or try to use a connector, we try to bas

[2021-03-19 11:10] oscerd commented on #644
If you don't like the approach or you prefer something else, there are alternatives and/or commercial offerings you could look at.

[2021-03-19 11:15] dberardo-com commented on #644
allow us some frustration, i think it is still a valuable feedback (sure i will not repeat myself in this and try to be objective form now on).

anyway, i was trying to figure out the required params by looking at the source code but i am not able to find it, do you have any hint for me where i can find the source files of specific connectors?

[2021-03-22 06:45] #1105 closed

[2021-03-22 06:50] oscerd commented on #644
The source code of components is here:
https://github.com/apache/camel/tree/master/components

For each component there is a corresponding connector.

[2021-03-22 06:54] energenious-eu commented on #644
thanks for the link, unfortunately i cannot find camel-smtp in the list, can that be nested somewhere in the directory?

[2021-03-22 06:57] oscerd commented on #644
It's in camel-mail https://github.com/apache/camel/blob/master/components/camel-mail/

[2021-03-22 07:06] energenious-eu commented on #644
ok, so i assume that camel-mail is a more recent version of camel-smtp for Camel 1.0. Please correct me if i am wrong.

I find the examples in the doc inside the component useful. I will have a look and see that they match with the actual smtp(s) components specifications.

will get back in this chat in case issues arise.

[2021-03-22 07:09] oscerd commented on #644
camel-mail contains support for different protocol, it was available starting from camel 1.0, but camel-kafka-connector is using camel 3.8.0 as base version for autogenerating the connectors.

So the version you should look at is 3.8.0 and ckc at version 0.8.0

[2021-03-22 07:16] energenious-eu commented on #644
ok, my confusion arose from the fact that i was initially trying to look for the mail connector in this list: https://camel.apache.org/camel-kafka-connector/latest/connectors.html
but could not find any, so i thought there was a versioning mismatch between the smtp(s) connectors and the mail one.

Is there a download link for the .jar of the connector, so it can be used with regular kafka connect?

[2021-03-22 07:19] oscerd commented on #644
is the camel-smtp connector.
https://repo.maven.apache.org/maven2/org/apache/camel/kafkaconnector/camel-smtp-kafka-connector/0.8.0/camel-smtp-kafka-connector-0.8.0-package.tar.gz

here https://camel.apache.org/camel-kafka-connector/latest/connectors.html

[2021-03-22 07:20] oscerd commented on #644
is the camel-smtp connector.
https://repo.maven.apache.org/maven2/org/apache/camel/kafkaconnector/camel-smtp-kafka-connector/0.8.0/camel-smtp-kafka-connector-0.8.0-package.tar.gz

here https://camel.apache.org/camel-kafka-connector/latest/connectors.html

[2021-03-22 07:22] energenious-eu commented on #644
ah ok, so they are the same connector?

but if the mail.connector unifies protocols, that one is more interesting. Is there a .jar release of the mail connector available for download?

[2021-03-22 07:25] oscerd commented on #644
The connector is a thing, the component is a different thing. The connector is created for working on kafka connect, the component is created for running on multiple runtimes (plain, spring boot, karaf, quarkus (through extension), kubernetes/openshift), but not on kafka-connect.

There isn't a connector for kafka-connect including all the protocols in one single package.

[2021-03-22 07:47] energenious-eu commented on #644
can i still refer to the documentation for the mail component in order to understand the one for smtp connector? or are they very different?

[2021-03-22 07:49] oscerd commented on #644
The options are mapped one to one in the connector, so I'd say yes.

If you have time or want to help, you can add an example here: https://github.com/apache/camel-kafka-connector-examples

if you don't have time, even reporting problem here would be helpful. Thank you.

[2021-03-22 08:18] energenious-eu commented on #644
i am trying to fix a smtps connection problem of the connector. Once i am over with it i could share my solution in an example.

for that i will just create a folder with the connector's name (smtp) and examples in it.

[2021-03-23 05:50] oscerd opened #1117 "Upgrade Strimzi to version 0.22.1"

[2021-03-23 06:41] #1117 closed

[2021-03-24 06:49] songlingling0012 opened #1124 "camel-minio-kafka-connector can't split minio file"
no matter how big the minio file , it maked as one message to kafka topic.
i want split minio file content by '\n',one splitted  as one kafka message.
how could i do?

[2021-03-24 06:51] oscerd commented on #1124
This is how the underline component works, so you can't split it at the moment.

[2021-03-29 06:40] oscerd opened #1127 "Release 0.9.0"

[2021-03-29 15:42] PLCyr opened #1128 "Connector Kafka Idempotency Crash Resilience"
Hi,

I'm new to Camel Kafka Connector. I configured a SFTP Connector in Kubernetes with download=false and the Kafka Topic idempotency feature enable. The idempotency work fine with the FileName as long as the Kafka Connect Pod is running. However after a connector restart or pod crash, all the files that are still on the SFTP server have newly generated events when the connector is up again. I wa

[2021-03-29 16:49] oscerd commented on #1128
Try to set "camel.source.endpoint.idempotent" to false, because the noop = true implies:

If true, the file is not moved or deleted in any way. This option is good for readonly data, or for ETL type requirements. If noop=true, Camel will set idempotent=true as well, to avoid consuming the same files over and over again.

So the memory idempotent take the precedence. Leave the configuration as is a

[2021-03-29 17:09] PLCyr commented on #1128
I do want to use Kafka idempotence, so I test to set noop=false.
If I retry to kill the pod, the connector isn't rebuilding is idempotence from the idempoten topic in Kafka.
It could be the expected behavior or a bug, just want someone to confirm it

[2021-03-29 17:23] oscerd commented on #1128
You need to set it to false. In that way the kafka idempotency Will be used. Otherwise the component in memory idempotent repo will be used. Just set the option I said to false and it should work.

[2021-03-29 17:32] PLCyr commented on #1128
Sorry, I had misread "camel.source.endpoint.idempotent" for "camel.idempotency.enabled".
Just tested  "camel.source.endpoint.idempotent" to false and noop = true, same behavior

The log still show a hint that Memory Idempotent Repo is used
[2021-03-29 17:27:47,943] INFO Setting initial properties in Camel context: [[connector.class=org.apache.camel.kafkaconnector.sftp.CamelSftpSourceConnector, cam

[2021-03-30 06:04] oscerd commented on #1128
Can you please try adding the camel.source.endpoint.initialDelay to a bigger value? like for example 30000 or 40000?

[2021-03-30 07:21] swierszczu4j commented on #988
Hey @oscerd  - have U had time to look into the showcase repo? Do U need additional info?

[2021-03-30 07:24] oscerd commented on #988
Hello @swierszczu4j still didn't find the time.

[2021-03-30 07:27] oscerd commented on #988
I'll try to have a look this week.

[2021-03-30 10:56] #924 closed

[2021-03-30 14:06] PLCyr commented on #1128
Yes, got the same behavior ...
The most interesting line in the log I think is this one

[2021-03-30 13:29:56,087] INFO [Consumer clientId=consumer-30bd6ecd-fd2f-4f07-b02f-6eb94c44a7de-6, groupId=30bd6ecd-fd2f-4f07-b02f-6eb94c44a7de] Resetting offset for partition SFTP-Persistance-Topic-0 to position FetchPosition{**offset=10**, offsetEpoch=Optional.empty, currentLeader=LeaderAndEpoch{leader=Optio

[2021-03-30 15:13] PLCyr commented on #1128
That was my main question !

From my perspective, if the connector could re-read all event in the idempotence topic after a crash, it'll be more resilient. If not, in event of a crash we are exposed to duplicate events if we use noop=true without renaming the files in the SFTP server.

You can confirm that Camel Kafka Connector are not expected to have this kind of resilience ?

[2021-03-31 13:42] h4gen commented on #969
Hey @valdar: Was this included in `0.7.3` ? Because I just tried to use the `0.7.3` component and the error is still there :(

[2021-04-01 04:18] tadayosi commented on #1109
Fixed with #1111

[2021-04-01 04:18] #1109 closed

[2021-04-01 04:38] tadayosi commented on #665
This should be fixed with 0.9.0. @vbbhatia14 Can you please check it once 0.9.0 is released?  Thanks.

[2021-04-01 05:29] tadayosi commented on #1077
Confirmed fixed with 0.9.0.

[2021-04-01 05:29] #1077 closed

[2021-04-01 10:15] valdar commented on #1128
@PLCyr what you are experiencing is not the intended behavior.
We have reviewed a recent fix on that part and done some additional testing and the problem is we can not reproduce your issue yet.

Can you give us some details on you environment? kafka version, how is deployed on k8s, how is the pod defined and how you restart it?

In addition a log with `org.apache.camel.processor.idempotent.kafka`

[2021-04-01 14:16] valdar commented on #1128
@PLCyr it turned out possibly the solution is much simpler than envisioned: the [fix](https://github.com/apache/camel/pull/5066) we are talking about is not in `camel 3.8.0` that `camel-kafka-connecotr 0.8.0` is using. We are in the process of releasing `camel-kafka-connector 0.9.0` based on `camel 3.9.0` that should contain the fix.

It should be ready in a couple of days. I will ping you and you

[2021-04-01 15:02] valdar commented on #1128
@PLCyr actually the fix should be included already in `camel-kafka-connecotr 0.7.3` (it my seems counter intuitive but due to how camel version are intended to be maintained makes sense) sftp connector is here: https://repo1.maven.org/maven2/org/apache/camel/kafkaconnector/camel-sftp-kafka-connector/0.7.3/

[2021-04-01 19:37] PLCyr commented on #1128
I did a test with camel-kafka-connector 0.7.3 and the behavior is good. The idempotent topic is re-read from offset 0 after a connector crash (pod crash) or connector configuration change. These lines in the log show the difference

[2021-04-01 19:20:00,722] INFO [Consumer clientId=consumer-473c5e5a-e3e9-438e-8f92-8ae811cd2214-5, groupId=473c5e5a-e3e9-438e-8f92-8ae811cd2214] **Seeking to EARLIEST

[2021-04-01 19:39] PLCyr commented on #1128
Another related question, is the "camel.idempotency.expression.header" can support a composite header expression ?

[2021-04-01 19:40] oscerd commented on #1128
Yeah, this was something we didn't consider in the beginning. We didn't consider the LTS.

You mean combining multiple headers in an expression?

[2021-04-01 19:42] PLCyr commented on #1128
Yes multiple header, like combining the CamelHeader.CamelFileAbsolutePath and CamelHeader.CamelFileLastModified for the idempotent expression check

[2021-04-02 07:20] oscerd commented on #1128
No, it's not possible.

[2021-04-02 09:08] valdar commented on #1128
@PLCyr I am closing this issue. Feel free to open another one to discuss the "combine header expressions" feature if you like.

[2021-04-02 09:08] #1128 closed

[2021-04-02 09:40] #1127 closed

[2021-04-02 09:44] valdar commented on #974
@orpiske the camel issue you mentioned seems to be resolved and included in camel 3.9.0. Is it something needed to review this issue? like enable some previously disable itests?

[2021-04-02 09:46] #959 closed

[2021-04-02 09:49] valdar commented on #873
I think some itest for cxf are there (I fixed some myself for camel 3.9.0 release) so I would close this.

[2021-04-02 09:49] #873 closed

[2021-04-02 09:52] orpiske commented on #974
Thanks for the reminder about this.

I think we need to re-enable the `CamelSourceMongoDBITCase`. Let me do a quick run of that and I'll send a PR soon.

[2021-04-02 09:54] valdar commented on #751
@fvaleri felle free to reopen this or another issue if you look into this further. Closing this one.

[2021-04-02 09:54] #751 closed

[2021-04-02 09:57] valdar commented on #665
@vbbhatia14 `0.9.0` is out now if you want to try it.

[2021-04-02 10:01] valdar commented on #629
This should be fixed both in `0.7.3` and `0.9.0` (out today).
@orpiske is there anything left on our part left to do? like eneablening/adding itests?

[2021-04-02 10:04] orpiske commented on #629
@valdar I am double checking if we need to re-enable any additional test besides the MongoDB source one. I'll share an update in a couple of minutes.

[2021-04-02 10:04] valdar commented on #162
This is not needed anymore after clarification in the previous mentioned issues discussions with ASF infra.

[2021-04-02 10:04] #162 closed

[2021-04-02 10:37] orpiske commented on #1086
Thanks @oscerd! Setting the endpoint at the component level solved the issue.

[2021-04-02 10:37] #1086 closed

[2021-04-02 10:47] orpiske commented on #629
@valdar we're good to go. I re-enabled 2 other tests that started working well w/ 3.9. This one, though, is still flaky (failing 1 out of 10 times on Linux).

[2021-04-02 10:56] orpiske commented on #974
This is working on 0.9.0, and the test was subsequently enabled. Therefore, closing.

[2021-04-02 10:56] #974 closed

[2021-04-02 11:56] oscerd opened #1133 "Align master to latest camel snapshot"
We seen that is almost impossible to keep the two branch in sync, because of generated docs.

So we need to:
- make the website documentation point to the 0.9.x branch and publish that documentation without latest
- Move master to point to 3.10.0-SNAPSHOT
- Build camel each night a rebuild the ckc master based on it
- Fix errors arising

In the long term this would mean an easier maintenance.

[2021-04-02 12:47] valdar commented on #191
@orpiske where do we stand in your opinion about this?

[2021-04-02 12:51] valdar commented on #629
Ok so I marked as flaky test, leave it open and assigned to yourself @orpiske feel free to close it when/if you think it is done.

[2021-04-02 14:36] valdar commented on #76
The itest has already been done.

[2021-04-06 07:06] orpiske commented on #191
So, I think the only way we could do something like this is by testing it outside of the build (as in a by a separate test framework). Although the risk do exist, we haven't come across it in since the project beginning. Therefore, I think we can close this as 'won't fix'.

[2021-04-06 13:00] oscerd commented on #988
@swierszczu4j I opened this PR on your reproducer
https://github.com/swierszczu4j/camel-kafka-kafka-connector-problem/pull/1/files

Basically you need to add a "CamelHeader.kafka.KEY" header with the key value while sending message to the inbound topic.

I know it wasn't clear completely, but it's not easy to generalize the Camel Headers usage in the ckc context.

Please let me know if it works fo

[2021-04-07 07:44] swierszczu4j commented on #988
@oscerd Thank U very much - indeed it works now! Just out of curiosity, for Source Connector solution would be similar, so to add this config options:
https://github.com/apache/camel-kafka-connector/blob/master/core/src/main/java/org/apache/camel/kafkaconnector/CamelSourceConnectorConfig.java#L74
With value "CamelHeader.kafka.KEY", correct?

[2021-04-07 12:28] oscerd commented on #1133
https://github.com/apache/camel-website/pull/562 for the website

[2021-04-07 12:32] oscerd commented on #988
Yes, it should work in that way.

[2021-04-07 13:05] #1133 closed

[2021-04-07 13:07] oscerd commented on #1133
master point to snapshot of camel master.
website should publish from 0.9.x branch.
camel-master is still there for checking if we have things to backport @orpiske
On 0.9.x we have to change the version and set to 0.9.1-SNAPSHOT if we are going to have a minor release for something not backported from camel-master.
I changed the gh action and now it will build master with camel 3.10.0-SNAPSHOT and

[2021-04-07 13:12] orpiske commented on #1133
@oscerd thanks! I took a look at it recently and I think all the backports have been merged already. Therefore, we are good to go.

[2021-04-08 08:08] songlingling0012 commented on #1124
Thanks for your reply!
I modified the source codes by overriding the poll() method , I got SourceRecord and splitted it's content.
Is there a downside to this？

[2021-04-08 08:10] oscerd commented on #1124
No, the problem is it won't work if you use different connectors

[2021-04-08 08:57] songlingling0012 commented on #1124
I see...
I'm just using the minio-connector for my project, so it doesn't matter.
But I got a new problem,the  minio file that I already readed don't deleted or removed

[2021-04-09 13:42] valdar commented on #1124
@songlingling0012 what version of `camel-kafka-conenctor` are you using? and how have you modified the `poll()` method?

I suspect you might have crippled the exchange completion upon commit mechanism.

[2021-04-09 14:19] swierszczu4j commented on #988
Hey @oscerd - last thing, as I have tried to make it work with Source connector, yet could not have key on the outbound. The test to reproduce is in the repo: https://github.com/swierszczu4j/camel-kafka-kafka-connector-problem/blob/main/src/test/kotlin/com/example/demo/ShowcaseSourceConnectorTest.kt
I followed the last comment, but it's not working. Can U help also with this one, please?

[2021-04-09 14:22] oscerd commented on #988
I'll have a look. Can you try just with kafka.KEY without CamelHeader? Just a thought.

[2021-04-10 17:31] swierszczu4j commented on #988
@oscerd yes - you are right. I've just simply changed the value in the connector's config from "CamelHeader.kafka.KEY" to "kafka.KEY" and it works & test passes. Thank U very much for all the help! Closing the issue :)

[2021-04-10 17:31] #988 closed

[2021-04-14 08:23] orpiske opened #1143 "Upstream CI failures"
A couple of our tests have been failing constantly on CI. We need to investigate this.

[2021-04-15 17:02] cstmgl opened #1144 "example of a sql source connector url pattern"
Hi all, I'm sorry this is not an issue but a request for information/documentation.
I did not find a better place to ask.

I'm pretty new, and must say a bit confused, about camel connectors
I got here because I did not want to use the confluent connectors for rest/jdbc and I'm looking for alternatives and found some hits pointing here in some web searches.

Basically I'm trying to see if I need t

[2021-04-15 18:45] orpiske commented on #1144
Hello @cstmgl

If I remember correctly, I think the reason we don't have a JDBC source connector is because we would need to rely on a timer component for polling the database in a regular interval. However, I believe that this would be complex enough to deviate from our aim of providing a set of connectors that are simple to get started.

In such case, doing so with a regular route based on Camel

[2021-04-16 06:43] cstmgl commented on #1144
thank you we can close this ticket, the example helps me, sorry I did not find it on my own but the examples help, I think indeed maybe Debezium is a bit better choice for me. thank you for the support

[2021-04-16 06:43] #1144 closed

[2021-04-20 06:18] oscerd opened #1145 "Upgrade to Kafka 2.8.0"
Let's wait for the Strimzi release

[2021-04-20 13:31] orpiske opened #1147 "Jackson conflicts causing Azure Storage Blob tests to fail"
Our tests are failing because it is are carrying over Jackson 2.12.x from another component and the Azure SDK is known to have issues with 2.12.x [1]. We'll probably be fine once we upgrade to a version of the Azure SDK newer than 12.10 on Camel Core, but for now we'll have to override locally.

1. https://github.com/Azure/azure-sdk-for-java/issues/9465
2. https://github.com/Azure/azure-sdk-for-ja

[2021-04-26 09:06] orpiske commented on #1147
Fixed.

[2021-04-26 09:06] #1147 closed

[2021-04-26 17:05] orpiske opened #1156 "AWS SNS seems to be broken with Camel 3.9 and above"
Failure on Apache CI: https://ci-builds.apache.org/job/Camel/job/Camel-Kafka-Connector%20Daily/job/main/4/testReport/org.apache.camel.kafkaconnector.aws.v2.sns.sink/CamelSinkAWSSNSITCase/testBasicSendReceiveUsingKafkaStyle/

Short exception snippet:

[code]

Seems to be caused when the AWS SNS SDK fails to subscribe to the queue.

[2021-04-26 17:07] oscerd commented on #1156
Auticreation is false by default now

[2021-04-26 17:13] orpiske commented on #1156
Thanks! I will investigate further tomorrow ... I ran a quick test w/ auto create, but it still had the problem.

[2021-04-26 18:05] oscerd commented on #1156
On plain camel seems to work fine

[2021-04-27 06:53] orpiske commented on #1156
I think it may be related to the `subscribeSNStoSQS`. I don't think we have any integration test covering that on Camel Core.

[2021-04-27 06:55] oscerd commented on #1156
@orpiske no we don't. Btw the auticreation on sqs is false by default as well

[2021-04-27 06:57] orpiske commented on #1156
Oh, thanks for the heads up about this one as well! I am also seeing some failures with SQS, so it could be related.

[2021-04-27 08:53] orpiske commented on #1156
You were right. Yesterday I made a mistake when trying it on Camel Core, which is why I thought there was a problem. But it turns out just adding the auto create topic option solves the problem :). Thanks!

[2021-05-07 13:34] oscerd opened #1166 "Upgrade to Strimzi 0.23.0 RC"
There is now the new Strimzi RC release based on Kafka 2.8.0

Related to #1145

[2021-05-12 14:06] #1145 closed

[2021-05-13 13:03] qafro1 opened #1171 "Camel Rest Kafka Connector - Issue with Kubernetes Rest connector."
I have an issue creating a CAMEL REST KAFKA-CONNECTOR in k8s and I just want to ingress REST API payload in Kafka strimzi.
 Any ideas of the resolve and I'll be able to test the Kafka connector.

[code]
Error msg:

[code]

[2021-05-14 06:16] oscerd commented on #1171
You need to add one of the following components in the connector unzipped folder:
https://camel.apache.org/manual/latest/rest-dsl.html#_components_supporting_rest_dsl

This should solve the 'Cannot find RestConsumerFactory in Registry or as a Component to use'

[2021-05-14 06:20] oscerd opened #1173 "Upgrade to Strimzi 0.23.0"

[2021-05-14 07:31] #1173 closed

[2021-05-14 07:51] qafro1 commented on #1171
Please wherein the kind: KafkaConnector script do I add the components in the connector unzipped and can you show me a sample in the k8s script above?

[2021-05-14 07:53] oscerd commented on #1171
How are you deploying the connector?

[2021-05-14 08:23] qafro1 commented on #1171
After deploying strimzi Kafka connect cluster then deploy kafka connector
kubectl apply -f kafka-connector-rest-source.yaml

[2021-05-14 08:25] oscerd commented on #1171
How do you include the connector in your strimzi Kafka connect instance?  You should have added it somewhere.

[2021-05-14 11:23] qafro1 commented on #1171
I followed the doc from strimzi
https://strimzi.io/blog/2021/03/29/connector-build/

[2021-05-14 11:32] oscerd commented on #1171
you need to add one of the component listed in the documentation in the zip declared in the Strimzi example. It will be unzipped with the connector. This is for making it working.

I don't think by the way that this is component you're looking for. The Rest component will expose the Rest service, but to consume from it you'll need to invoke the service through a different component, for example a

[2021-05-14 11:38] qafro1 commented on #1171
Argh - Please which Kafka connector will do the REST API source into Kafka connect?

[2021-05-14 11:42] oscerd commented on #1171
I would not use any connector for doing this. I would do a plain camel route

from(timer).to("http://rest-api").to("kafka")

[2021-05-14 11:46] qafro1 commented on #1171
Therefore, I should use [camel-timer-kafka-connector](https://camel.apache.org/camel-kafka-connector/latest/connectors/camel-timer-kafka-source-connector.html) with from(timer).to("http://rest-api").to("kafka")

[2021-05-14 11:48] oscerd commented on #1171
No, you should use camel main project.

Https://github.com/apache/camel

[2021-05-14 11:51] oscerd commented on #1171
What do you mean with ingress? So you mean ingress kubernetes resource? It could be it is just me, but i don't quite get your use case from your description. Maybe elaborate a bit.

[2021-05-14 11:59] qafro1 commented on #1171
Sorry - I'll explain  the project is to data ingress from REST API into Kafka (strimzi) in k8s.
Producer API > Kafka connector > Kafka cluster > customers (Spark)
I've created the Kafka cluster & Kafka connect but I just need the right Kafka connector to input the REST API payload. using k8s.
Sample https://youtu.be/QqF2bp30VZk

[2021-05-14 12:06] oscerd commented on #1171
You want to invoke a REST endpoint and send the response to Kafka cluster right?

[2021-05-14 12:12] qafro1 commented on #1171
Yes - REST endpoint http://api.open-notify.org/astros.json into Kafka cluster

[2021-05-14 12:16] oscerd commented on #1171
So, I would do it in plain camel or through camel-k with a kamelet, I wouldn't use the camel-kafka-connector in this case.

https://camel.apache.org/docs/

[2021-05-14 12:24] qafro1 commented on #1171
So I'm confused here, so I only need Apache Camel K as a producer into Kafka?

[2021-05-14 12:26] oscerd commented on #1171
Yes, because in this moment, it's not supported to invoke a timer, then another endpoint and then ingest to kafka, through camel-kafka-connector. It will be supported when we'll support kamelet even in camel-kafka-connector (work in progress).

So, yes, at this point I would do that through camel-k.

I can also create a sample if needed.

[2021-05-14 12:30] qafro1 commented on #1171
Please can you create a sample REST endpoint  http://api.open-notify.org/astros.json into kafka bootstrapServers: my-cluster-kafka-bootstrap:9092

[2021-05-14 12:33] oscerd commented on #1171
I can create a kamelet invoking that endpoint every 5 seconds or whatever and write the response to a kafka topic in your cluster.

[2021-05-14 12:36] qafro1 commented on #1171
Yes Please

[2021-05-14 12:37] oscerd commented on #1171
I'll try to do this next week.

[2021-05-14 12:47] qafro1 commented on #1171
Thank you and also please can you include API endpoint that requires username and password or tokens

[2021-05-14 12:48] oscerd commented on #1171
Not sure about this, you'll need something that works, for the auth part or other part, you can do by yourself after the example.

[2021-05-14 12:49] qafro1 commented on #1171
no problem .. just the general task

[2021-05-14 12:58] #1156 closed

[2021-05-16 07:18] valdar commented on #1143
I think this one for now is fixed: https://ci-builds.apache.org/job/Camel/job/Camel-Kafka-Connector%20Daily/job/main/23/

[2021-05-16 07:18] #1143 closed

[2021-05-16 07:21] orpiske commented on #1143
Thanks!

[2021-05-16 15:22] qafro1 commented on #1171
Please update me on the progress?

[2021-05-16 15:26] oscerd commented on #1171
I'll work on this when I have time. Probably next week. Not sure.

[2021-05-17 06:44] oscerd commented on #1171
Here is the sample: https://github.com/oscerd/kamelet-samples/tree/master/timer-http-invocation-to-kafka

[2021-05-17 06:44] oscerd commented on #1171
I'm closing this, because I think it's not related to ckc anymore.

[2021-05-17 06:44] #1171 closed

[2021-05-17 16:17] qafro1 commented on #1171
I've followed the guide and got this issue from camel-k-operator in k8s.
Any ideas?

Error msg :

[code]

[2021-05-17 16:20] oscerd commented on #1171
It's not an error, you just need to wait for the build to finish.

do kamel logs timer-http-kafka and follow the updates, at some point it will show the logs.

[2021-05-17 18:27] qafro1 commented on #1171
I'll test it again tomorrow,but what does kemel install  -n kafka cmd do? Nb typo on the cmd

[2021-05-17 18:29] oscerd commented on #1171
It will install camel-k

[2021-05-17 18:43] oscerd commented on #1171
https://camel.apache.org/camel-k/latest/

Maybe read a bit of docs. It looks like camel is new for you

[2021-05-18 08:41] qafro1 commented on #1171
Am a newbie to camel,
Update:
[code]

[2021-05-18 09:01] oscerd commented on #1171
You need to run the flow binding on the camel-k side and check the logs. What is in the logs?

[2021-05-18 09:02] oscerd commented on #1171
Did you run the flow binding and did you read the docs i posted?

[2021-05-18 09:02] qafro1 commented on #1171
It seems that the flow-binding.yaml is not running

[2021-05-18 09:04] oscerd commented on #1171
Can you check the logs of the camel-k operator?

[2021-05-18 09:06] qafro1 commented on #1171
[code]

[2021-05-18 09:11] oscerd commented on #1171
This is normal. Can you please report all the commands you did in detail? You're probably missing something

[2021-05-18 10:02] qafro1 commented on #1171
Reinstalled minikube but issue here....
[code]

[2021-05-18 10:06] oscerd commented on #1171
You need to install strimzi first on the kafka namespace. Check the docs of strimzi. They are in readme

[2021-05-18 10:17] qafro1 commented on #1171
Reinstalled minikube and awaiting logs...
[code]

[2021-05-18 10:19] qafro1 commented on #1171
last part
[code]

[2021-05-18 10:26] oscerd commented on #1171
Please follow the instructions. You need to install the Kamelet files before the flow binding file and all must be done in the same namespace of strimzi. So Kafka.

It's in the readme.

[2021-05-18 10:30] oscerd commented on #1171
I updated the readme for clarity

[2021-05-18 12:52] qafro1 commented on #1171
It worked, so the instructions it to install in namespace : kafka

1. kamel install -n kafka
2. install kafka-not-secured-sink.yaml
3. install flow-binding.yaml
4. Check logs kamel logs timer-http-kafka -n kafka

Therefore, I need to install them both in order?

[2021-05-18 12:54] oscerd commented on #1171
point 2 and 3 are in the kafka namespace. To run the binding you'll need the kafka source, the order is not important, but you need both.

[2021-05-18 13:03] qafro1 commented on #1171
Thank you - Is there anything I need to config to make it in production to a real REST API endpoint?

[2021-05-18 13:06] oscerd commented on #1171
This will work with any non-authenticated http url

[2021-05-18 13:09] tmus opened #1181 "Salesforce Sink Connector does not honour `offset.flush.interval.ms`"
Setting `offset.flush.interval.ms` on the connector config does not result in any change to the rate at which the offsets are flushed.

This falls back to using the default 60s defined by Connect.

Attempting to override using `consumer.override.offset.flush.interval.ms` also does not result in any change.

[2021-05-18 19:24] qafro1 commented on #1171
Am trying to get this authentication HTTPS URL to work, but am unsure if am using the correct properties for username and password.
Sample fake REST API endpoint: HTTPS://.....
username: fake test
password: fake test
The Real API works in Postman with the authentication method but how do I config username and password for the REST API endpoint?
SAMPLE config
[code]

[2021-05-19 04:51] oscerd commented on #1171
You may need to modify this: https://github.com/apache/camel-kamelets/blob/main/http-sink.kamelet.yaml

and add the required parameters listed here: https://camel.apache.org/components/3.9.x/http-component.html

authMethod, authUsername and authPassword and modify the flow-binding accordingly.

In the installation you'll need to do kubectl apply -f http-sink.kamelet.yaml -n kafka too.

[2021-05-19 10:32] qafro1 commented on #1171
Am I on the right track? - WIP

[code]

[2021-05-19 11:30] oscerd commented on #1171
yes but in the

- to: "{{url}}"``

You need to specify also the new parameters

- to: "{{url}}"``
    parameters:
         authMethod: "{{authMethod}}"
         authUsername: "{{authUsername}}"
         authPassword: "{{authPassword}}"

Then you'll need to specify this parameters into the flow-binding in http-sink part

[2021-05-19 14:55] qafro1 commented on #1171
ERROR [org.apa.cam.qua.mai.CamelMainRuntime] (main) Failed to start application

[code]

[code]

[code]
Any ideas?

[2021-05-19 14:58] oscerd commented on #1171
Try with

[code]

[2021-05-19 15:06] qafro1 commented on #1171
1] 2021-05-19 15:01:13,992 ERROR [org.apa.cam.qua.mai.CamelMainRuntime] (main) Failed to start application: org.snakeyaml.engine.v2.exceptions.YamlEngineException: org.apache.camel.dsl.yaml.common.exception.YamlDeserializationException: Unable to find constructor for node: <org.snakeyaml.engine.v2.nodes.MappingNode (tag=tag:yaml.org,2002:map, values={ key=<org.snakeyaml.engine.v2.nodes.ScalarNode

[2021-05-19 15:10] oscerd commented on #1171
It seems is not indented correctly.

[2021-05-19 15:12] oscerd commented on #1171
Also the type for username and password should be "string"

[2021-05-19 17:19] qafro1 commented on #1171
Here's the code..
[code]

[2021-05-19 17:26] oscerd commented on #1171
Did you modified the flow binding too?

[2021-05-19 20:18] qafro1 commented on #1171
Modified code
[code]

[2021-05-19 20:34] oscerd commented on #1171
I'll try to reproduce, but i think is on your side

[2021-05-20 05:30] oscerd commented on #1171
The http sink seems to be wrong:

This is the correct one. Method was missing and you were passing GET as authentication method.

[code]

This is the flow binding

[code]

[2021-05-20 10:32] qafro1 commented on #1171
After installing :
Install camel-k on the kafka namespace

kamel install -n kafka

Run the following commands

kubectl apply -f kafka-not-secured-sink.yaml -n kafka kubectl apply -f http-sink.kamelet.yaml -n kafka  kubectl apply -f flow-binding.yaml -n kafka

Check logs

kamel logs timer-http-kafka -n kafka
[code]

[2021-05-20 10:38] oscerd commented on #1171
It doesn't seems you changed the flow binding. Please paste what you're deploying. But also, try to check why something is failing. If we're going ahead in this way, I'll solve the problem for you, but you won't be able to use this approach for anything else. So maybe read a bit of documentation. Don't copy/paste stuff just to make things work.

[2021-05-20 11:15] qafro1 commented on #1171
flow-binding.yaml
[code]

[2021-05-20 11:18] qafro1 commented on #1171
http-sink.kamelet.yaml
[code]

[2021-05-20 11:19] qafro1 commented on #1171
kafka-not-secured-sink.kamelet.yaml
[code]

[2021-05-20 11:20] oscerd commented on #1171
If you noticed in the http sink I posted the name is "http-sink-kamelet"

So the correct flow-binding is

[code]

[2021-05-20 11:20] oscerd commented on #1171
This will work if you installed the http-sink yaml I posted.

[2021-05-20 11:27] qafro1 commented on #1171
Argh - I see and this is training on camel k for me..lol

[2021-05-20 11:40] qafro1 commented on #1171
Awesome it works - Thank you and now flowing the structure of camel-k.

[2021-05-20 15:22] #1181 closed

[2021-05-20 15:23] oscerd commented on #1181
Did you find a solution?

[2021-05-21 04:58] oscerd commented on #1166
Done.

[2021-05-21 04:58] #1166 closed

[2021-05-21 04:58] oscerd opened #1183 "Bump to Camel 3.10.0"

[2021-05-21 04:58] oscerd opened #1184 "Release 0.10.0"
Once #1183 has been done.

[2021-05-24 09:08] #1183 closed

[2021-05-24 09:08] #1184 closed

[2021-05-25 09:54] valdar commented on #834
@ruchirvaninasdaq this should have been addressed by https://github.com/apache/camel-kafka-connector/issues/202 can you try with a recent version of the connector like `0.9.0` or the upcoming `0.10.0`?

[2021-05-25 13:32] m4nuC opened #1186 "CAMEL-AWS-KINESIS-KAFKA-CONNECTOR SOURCE CONFIGURATION"
Hi,

I am trying to use the kinesis source connector to copy kinesis data to a Kafka stream.

I copy the `camel-aws-kinesis-kafka-connector-0.7.1.jar` but the class does not seem to be available in the Kafka connect.

The documentation mentions adding:

[code]

but not knowing much java I am unsure what to do with this. Am I missing one step ?

Thanka a lot

[2021-05-25 13:33] oscerd commented on #1186
Hello,

Can you please report the steps you're following please?

Thank you

[2021-05-25 13:47] m4nuC commented on #1186
Hi,

Thank you for the fast reply.

The steps are:
1. I download the [connector]( https://repo.maven.apache.org/maven2/org/apache/camel/kafkaconnector/camel-aws2-kinesis-kafka-connector/0.9.0/camel-aws2-kinesis-kafka-connector-0.9.0-package.tar.gz)
2. I unzip it and copy the `camel-aws-kinesis-kafka-connecto`r folder inside kafka connect` class path` using a dockerfile
3. I start the application a

[2021-05-25 15:15] sintezcs commented on #1114
Any updates on this issue? Camel-salesforce-kafka-connector **is completely broken**. I use it with the official Confluent Platform Kafka Connect Docker image (https://hub.docker.com/r/confluentinc/cp-kafka-connect-base). The connector doesn't work at all, without downloading the jetty-http jar. I can confirm that it is reproducible for all versions starting from 0.7.0 (I tried 0.7.0, 0.7.1, 0.7.2

[2021-05-25 15:20] oscerd commented on #1114
As a workaround you can add the jar of jetty into your connector folder for salesforce.

[2021-05-25 15:21] oscerd commented on #1114
If you have a ready PR please open it.

[2021-05-25 15:26] sintezcs commented on #1114
yeah, this is how I do it now. Looks like the issue was introduced with this commit: https://github.com/orpiske/camel-kafka-connector/commit/1ccb1ce73d1b1e27d475bfba1b281042665f7a5f

There is a chance, that the current issue only happens when you use Confluent's docker image. (otherwise, I don't have an idea how the connector can be broken for such a long period of time).
So, currently, I'm not su

[2021-05-26 05:18] oscerd commented on #1186
I personally don't have so much experience with confluent hub.

You can have a look at the examples we provide on plain kafka: https://github.com/apache/camel-kafka-connector-examples/tree/main/aws2-kinesis

[2021-05-26 05:25] oscerd commented on #1114
We have an integration tests for salesforce using pure Kafka connect and we didn't catch any problem. Do you happen to know what is the jetty version used by Confluent's docker image?

[2021-05-26 06:47] m4nuC commented on #1186
@oscerd thanks, that helps. In that example, do you know what is meant by:  `import the ftp-extended project`

[2021-05-26 06:52] oscerd commented on #1186
@m4nuC you can safely ignore the ftp-extended part (a typo by the way).

The SMT for Kinesis is already included in the connector jar.

https://github.com/apache/camel-kafka-connector/blob/main/connectors/camel-aws2-kinesis-kafka-connector/src/main/java/org/apache/camel/kafkaconnector/aws2kinesis/transformers/KinesisRecordDataTransforms.java

Please use the latest released version 0.10.0, just fol

[2021-05-26 07:11] oscerd commented on #1186
It has been released you can find it in maven central.

[2021-05-26 07:12] oscerd commented on #1186
You need to specify the transform in the configuration. You are using the byte array converter. can you please post your configuration?

[2021-05-26 07:17] m4nuC commented on #1186
@oscerd Indeed I have not yet added the transform in the connector config. Let me look up 0.10.0 first then I will report back

[2021-05-26 07:20] m4nuC commented on #1186
0.9.0 when adding the transform errored out saying it could not fine the `org.apache.camel.kafkaconnector.KinesisRecordDataTransforms` class

[2021-05-26 07:29] m4nuC commented on #1186
Same error with 0.10.0. I can create the connector without the transform with the following config:

[code]

but if I add the transform it will faill with the following error:

`Invalid value org.apache.camel.kafkaconnector.KinesisRecordDataTransforms for configuration transforms.KinesisRecordDataTransforms.type: Class org.apache.camel.kafkaconnector.KinesisRecordDataTransforms could not be found`

[2021-05-26 07:32] oscerd commented on #1186
I guess the package is different now for the transform. I'll get back to you

[2021-05-26 07:35] oscerd commented on #1186
So instead of

[code]

Now it is

[code]

Sorry for this, we need to update docs and examples.

[2021-05-26 07:37] m4nuC commented on #1186
Thanks, @oscerd. Otherwise, building the transform from the template that you referenced is OK should that be easier but I am unsure where to grab that template from

[2021-05-26 07:46] oscerd commented on #1186
Can you post your complete configuration?

[2021-05-26 08:54] #1186 closed

[2021-05-26 09:13] orpiske commented on #1114
The latest image from confluent seems to be using `jetty-http-9.4.38.v20210224.jar` in their cp-kafka container.

[2021-05-26 09:16] orpiske commented on #1114
BTW, the offending commit references issue #407, but it is actually issue #807 that was fixed by it (and that seems to have caused this).

[2021-05-26 09:18] orpiske commented on #1114
@valdar @oscerd given the original issue was a conflict between the jetty from Salesforce and the one from Kafka, I believe we can try removing that exclusion. Versions from each of them seem quite close.

[2021-05-26 09:19] oscerd commented on #1114
We can try, but don't trust Jetty too much :-)

[2021-05-26 10:11] m4nuC commented on #1186
@oscerd would you have the source code for the `KinesisRecordDataTransforms` handy by any chance? I would like to adapt it to output byte array rather than string

[2021-05-26 10:19] oscerd commented on #1186
https://github.com/apache/camel-kafka-connector/blob/main/connectors/camel-aws2-kinesis-kafka-connector/src/main/java/org/apache/camel/kafkaconnector/aws2kinesis/transformers/KinesisRecordDataTransforms.java

[2021-05-26 10:21] m4nuC commented on #1186
Ah, I should totally have found that on my own.. Thanks!

[2021-05-26 13:28] oscerd commented on #1186
If your use case could be a general one, you can even propose a PR and we could add the SMT in the connector.

[2021-06-01 12:10] lhein opened #1190 "Missing kafkaconnector parent pom artifact for version 0.10.0"
It seems there was something wrong with the 0.10.0 release because I am unable to find `org.apache.camel.kafkaconnector:parent:0.10.0`. Its neither available from the ASF M2 Repo nor from Maven central.

https://repo1.maven.org/maven2/org/apache/camel/kafkaconnector/parent/
https://repository.apache.org/content/groups/public/org/apache/camel/kafkaconnector/parent/

[2021-06-01 14:53] valdar commented on #1114
@sintezcs can you try with this connector https://www.dropbox.com/s/spi8abb2n039840/camel-salesforce-kafka-connector-0.11.0-SNAPSHOT-package.tar.gz?dl=0 to see if the issue is still present?

[2021-06-03 16:25] seravat opened #1192 "camel-elasticsearch-rest-kafka-connector indexId"
Hello,

According to the camel docs for the camel-elasticsearch-rest component: https://camel.apache.org/components/3.4.x/elasticsearch-rest-component.html

When using the Index operation, we can set the document id by using the header "indexId".

Is this header being ignored in the camel-elasticsearch-rest-kafka-connector ?

[2021-06-04 04:44] oscerd commented on #1192
No, you can use the header.

You just need to use the prefix "CamelHeader.", so it will be something like "CamelHeader.indexId" in case you're using the sink connector.

So you'll need to add an header to your Kafka message with that name.

[2021-06-04 08:16] seravat commented on #1192
Thanks for the response Andrea,

I am setting this header before sending to kafka:

[code]

So you are saying it should be: ?

[code]

Is that right?

[2021-06-04 08:18] oscerd commented on #1192
Are you using the kafka-connect connector related to the component or something else? Because you should not use plain Camel code in case of Kafka connector usage, so I suspect your question is related to plain Camel.

[2021-06-04 08:22] seravat commented on #1192
So we have some apps sending data to a few kafka topics and then we have a Kafka Connect cluster with camel-kafka-elastic sink connectors feeding data to elastic.

[2021-06-04 08:23] oscerd commented on #1192
If you have the are consuming from a kafka topic through the ES kafka connector sink, you'll need to have a kafka header in your Kafka record, named CamelHeader.indexId, this will be transformed before arriving the ES component to indexId only.

[2021-06-04 08:52] seravat commented on #1192
Tried that already, I must be doing something weird.

So, when I was sending a "indexId" header to the kafka topic, we had this message:

[code]

If I try to send the "CamelHeader.indexId" header, then nothing related with this exists.

[code]

I know it is a camel "issue", any ideas? 🤷🏼

[2021-06-04 09:15] oscerd commented on #1192
What is the camel kafka connector version?

[2021-06-04 09:19] seravat commented on #1192
camel-elasticsearch-rest-kafka-connector:0.7.1.fuse-800004-redhat-00001

[2021-06-04 09:22] oscerd commented on #1192
For Red Hat product you need to ask to Red Hat support.

[2021-06-04 09:22] oscerd commented on #1192
By the way I'll have a look with the same 0.7.1 from upstream. Can you please show the kafka connector configuration too?

[2021-06-04 09:30] seravat commented on #1192
Sure! By the way, we are using the Strimzi/AMQ streams operator

[code]

[2021-06-04 15:09] valdar commented on #1192
Hello @seravat

I assume you are sending to kafka using a traditional camel route?

It depends on how you produce event in the topic; the goal is that the produced event on the topic should have an Header named `CamelHeader.indexId` with value `exchangeId`.

[2021-06-04 15:38] seravat commented on #1192
Yes, I am using a traditional camel route. It has a processor that sets that header and other stuff, then it uses the kafka component to send the message.

- When I set the header key "indexId" I can see it in the kafka headers.
- When I set the header key "CamelHeader.indexId" I cannot see it in the kafka headers.

Maybe camel is removing the header when sending or kafka is ignoring when receivin

[2021-06-04 16:28] valdar commented on #1192
Yes, the default header filter strategy https://github.com/apache/camel/blob/b10d6be0bcb232c76402b200046c95552d1c488a/components/camel-kafka/src/main/java/org/apache/camel/component/kafka/KafkaHeaderFilterStrategy.java#L21 remove each header starting with `"Camel"` or `"camel"` or `"org.apache.camel."` or `"kafka."`

So you should implement a custom `HeaderFilterStrategy` and instruct `camel-kafka

[2021-06-04 16:31] seravat commented on #1192
Yes!!! Makes sense, I will test and share 🥇

[2021-06-06 21:01] #389 closed

[2021-06-06 21:01] #1114 closed

[2021-06-07 09:39] valdar commented on #1190
I fear a new release (`0.10.1`) is needed to fix this.

[2021-06-07 09:56] seravat commented on #1192
It worked! Thanks for the help guys, very appreciated ⭐️ ⭐️ ⭐️ ⭐️ ⭐️

[2021-06-07 09:56] #1192 closed

[2021-06-07 12:20] valdar opened #1195 "[camel-kafka-connector-docs-maven-plugin] : make some parameters configurable"
Please see:
https://github.com/apache/camel-kafka-connector/blob/main/tooling/camel-kafka-connector-docs-maven-plugin/src/main/java/org/apache/camel/kafkaconnector/maven/docs/UpdateDocComponentsListMojo.java#L51
https://github.com/apache/camel-kafka-connector/blob/main/tooling/camel-kafka-connector-docs-maven-plugin/src/main/java/org/apache/camel/kafkaconnector/maven/docs/UpdateDocComponentsListMo

[2021-06-07 15:08] abhikarkamkar commented on #1195
@valdar can I take this

[2021-06-07 15:50] anna842 opened #1196 "aws2s3 source connector split file into several messages"
Hi,
I would like to use AWS2 S3 sink and source connectors in order to save some currently not needed data to s3 and read it later if needed.
As Kafka topics can be big and write/read operations in S3 cost money, I am using aggregate strategy when writing data to S3:
[code]
But when I am reading files back to Kafka with s3 source connector, every file becomes one large message.
My current source c

[2021-06-07 16:11] oscerd commented on #1196
There is no support for Split at the moment, but If you need to do something like this, it makes really much more sense to use plain Camel.

[2021-06-07 17:18] abhikarkamkar commented on #1195
Hi can I work on this

[2021-06-09 05:37] venkat-oss commented on #1196
@oscerd I have a question, for the "camel.sink.endpoint.keyName", I tried something like this : "${date:now:yyyy-MM-dd}-${headers[kafka.TOPIC]}" and I got a simple language exception, how can we access kafka headers from the exchange?

[2021-06-09 05:43] oscerd commented on #1196
${header.kafka.TOPIC}

Please don't hijack issues from other users.

[2021-06-09 05:51] venkat-oss commented on #1196
@oscerd my bad, sorry for that, i'll open a fresh issue next time 👍🏼

[2021-06-09 06:01] venkat-oss opened #1200 "aws2s3 sink connector cannot access kafka headers"
Hi @oscerd I'm unable to use the simple language expression to get the kafka headers in the sink configuration.

my sink configuration is like this:

{
    "connector.class": "org.apache.camel.kafkaconnector.aws2s3.CamelAws2s3SinkConnector",
    "camel.component.aws2-s3.region": "us-east-1",
    "camel.sink.endpoint.keyName": "${date:now:yyyyMMdd-HHmmssSSS}-${exchangeId}-${header.kafka.TOPIC}",

[2021-06-09 06:13] oscerd commented on #1200
What is the connector version?

The error says there is no bean language jar in your connector folder.

[2021-06-09 06:14] oscerd commented on #1200
The header kafka.topic when you are consuming from a topic through kafka connect is not set as you would have while consuming from kafka through camel-kafka component. The header you're set has no value.

[2021-06-09 06:19] oscerd commented on #1200
So essentially you need to create an SMT, set an header kafka.topic and use the SMT before arriving to the sink.

[2021-06-09 06:27] venkat-oss commented on #1200
Thanks @oscerd I built the package from the main branch and unpacked the tar.gz in the connect folder it is version 0.11.0-Snapshot. I'll add the bean language jar and try with SMT. Thanks again 👍🏼

[2021-06-09 06:30] oscerd commented on #1200
The bean language is not needed. Since the header is not present, it won't be replaced with a value and the simple language will evaluate the expression like accessing a bean called header on Kafka field. So you don't need the bean language, you need to set the kafka topic as header.

[2021-06-09 06:32] venkat-oss commented on #1200
Got it. understood.

[2021-06-10 00:23] kidpollo commented on #76
I'm trying to use the salesforce source connector and based on what I can see on the tests I am unable to get anything from salesforce. It seems that the connector authenticates properly but as I try to get stuff from `/data/AccountChangeEvent` nothing happens. No errors no nothing. Using an alternate comet client I am able to see the cdc events. On an interesting note  if I provide an invalid top

[2021-06-10 23:13] kidpollo commented on #1114
@valdar still broken I noticed the jetty versions dont match the error I have is silent was only able to access enabling debug logs but the connector never reports problems

[code]

[2021-06-10 23:20] kidpollo commented on #1114
Never mind ^ was on v 0.10. With your snapshot I get a different error now and does not silently fail. I'll investigate that separately.

[2021-06-10 23:50] kidpollo commented on #1114
Woop ! I can report confidently that this works now

[2021-06-11 05:38] valdar commented on #1114
Ok thanks, that should be shortlu released in version 0.10.1

[2021-06-11 14:07] valdar commented on #1112
@yingbo-wu as you correctly reported this is a camel component issue, I have taken the liberty to open an issue about it https://issues.apache.org/jira/browse/CAMEL-16716

[2021-06-14 07:25] ChhatralaNirmal opened #1208 "CamelFileSink Connector appendChars = \n not working"
Hello, We are using CamelFileSink connector to read the messages from Kafka and dump into file but we want each messages to be written in next line in file. We have been trying to use appendChars option with double slash \\n but it doesn't work.

Here is our file sink url :
file:/user/app/folder?appendChars=\\n&autoCreate=true&fileExist=Append&fileName=messages-${date:now:yyyyMMdd}.txt&forceWrites

[2021-06-14 07:39] orpiske commented on #1208
Hello,

Please, can you try defining the URLs parameters as properties and let us know the result?

Such as:

[code]

The full list of properties is here: https://camel.apache.org/camel-kafka-connector/latest/reference/connectors/camel-file-kafka-sink-connector.html

[2021-06-14 10:00] ChhatralaNirmal commented on #1208
We tried using the properties instead of file sink url and the result is same. It gives us the same error.

Here is the error messages after defining the properties :

\nCaused by: org.apache.camel.ResolveEndpointFailedException: Failed to resolve endpoint: file:/user/app/folder?appendChars=\n&autoCreate=true&charset=UTF-8&fileExist=Append&fileName=messages-${date:now:yyyyMMdd}.txt&forceWrites=tru

[2021-06-14 10:16] orpiske commented on #1208
Can you try escaping the new line char, please? Such as '\\n'.

[2021-06-14 10:25] ChhatralaNirmal commented on #1208
We did that too but no change in result. same error.
"camel.sink.endpoint.appendChars": "\\n",

\nCaused by: org.apache.camel.ResolveEndpointFailedException: Failed to resolve endpoint: file:/user/app/folder?appendChars=\n&autoCreate=true&charset=UTF-8&fileExist=Append&fileName=messages-${date:now:yyyyMMdd}.txt&forceWrites=true due to: Illegal character in query at index 34: file:/user/app/folder?

[2021-06-14 10:29] orpiske commented on #1208
Thanks for double checking. I'll investigate this today (or, at worst, in a few days).

[2021-06-14 13:20] simplifadmin opened #1209 "Issue with camel-google-pubsub-kafka-connector sink configuration"
Issue when using [camel-google-pubsub-kafka-connector](https://camel.apache.org/camel-kafka-connector/0.7.x/connectors/camel-google-pubsub-kafka-sink-connector.html) as sink for Strimzi kafka.

I've created a KafkaConnect single-node cluster using camel kafka connect for Pubsub.

That works fine.

Please find the k8s files and the error msg.

Any idea of resolving the google-pubsub-kafka-connector

[2021-06-14 13:27] oscerd commented on #1209
You didn't specify the projectid for google cloud pubsub service, also you didn't specify the credentials for accessing the cloud service. Please read the documentation and have a look at this example.

[2021-06-14 13:28] oscerd commented on #1209
https://github.com/apache/camel-examples/tree/main/examples/main-endpointdsl-google-pubsub/src/main/java/org/apache/camel/example

[2021-06-14 14:02] simplifadmin commented on #1209
The removed the projectID due to expose.

[2021-06-14 14:07] simplifadmin commented on #1209
Update kafka-pubsub
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: pubsub-kafka
  namespace: kafka
  labels:
  # must match connect cluster name
    strimzi.io/cluster: my-connect
spec:
  class: org.apache.camel.kafkaconnector.googlepubsub.CamelGooglepubsubSinkConnector
  tasksMax: 5
  config:
  #The Google Cloud PubSub Project Id
    camel.sink.path.projectId: test

[2021-06-14 14:18] oscerd commented on #1209
You need to provide credentials. Also please report the version of the connector you're using.

[2021-06-14 14:23] orpiske commented on #1208
@ChhatralaNirmal I've run a test with the append char as `%0A` instead of `\\n` as it seems it is not encoded correctly when that is read from the settings. Are you able to validate that on your end, please?

[2021-06-14 14:28] simplifadmin commented on #1209
version: latest (0.7.X)

[2021-06-14 14:29] oscerd commented on #1209
The version is latest or 0.7.x.

What is the version of the jar you're installing and how are you installing the jar

[2021-06-14 14:31] simplifadmin commented on #1209
output from kafkaconnect:
Caused by: io.grpc.StatusRuntimeException: PERMISSION_DENIED: Request had insufficient authentication scopes.
at io.grpc.Status.asRuntimeException(Status.java:533)

[2021-06-14 14:33] simplifadmin commented on #1209
I'm created GKE using 1.20 version ,not sure on the jar

[2021-06-14 14:35] oscerd commented on #1209
The version of the connector.

[2021-06-14 14:47] simplifadmin commented on #1209
Please how do I check it?

[2021-06-14 15:26] ChhatralaNirmal commented on #1208
@orpiske - thank you so much for this advise. It worked perfectly fine and we were able to get the messages on next line.
Should we expect the documentation be updated with this so it could help many others , or will it get fixed to use "\\n" as you pointed out it is not encoded properly ?
Once again, thanks a lot for digging out and pointing us to use the right value instead.

[2021-06-14 15:28] orpiske commented on #1208
I am glad it worked.

@oscerd / @valdar I am a bit conflicted about this one: I'm wondering if we should fix the docs or the code. Any ideas?

[2021-06-14 15:37] valdar commented on #1208
@orpiske

Is the "correct" value "\\n" ?

What would be the fix in the code?

[2021-06-14 15:40] orpiske commented on #1208
Long story short is this: `appendChars' on camel-file requires `\\n`. However, it seems to me that because the way the configuration works on Kafka connect, it requires this to be sent encoded as `%0A` from our config.

Therefore, I'm wondering if we should somehow fix this in CKC code or just update our documentation to instruct users to use `%0A` and others for special chars.

[2021-06-14 22:05] kidpollo commented on #1082
I spent hours trying to figure out the right config for `camel.source.marshal` pouring into docs and code and never found out that it was `json-jackson` I still cant find that. :P

[2021-06-15 07:41] simplifadmin commented on #1209
The new look for authentication - Please this the way to implement serviceAccountKey?
[code]

[2021-06-15 07:57] sammy445 opened #1211 "Information required on Camel file sink connector configurations"
I have used CamelFileSInk connector in one of our project and I would like to write each messages that is being read from a Kafka topic by the connector into a new file, meaning each message should be written in new file. I went thru the configuration document and couldn't find much information to achieve my requirement. Could you please let me know if this can be achieved if yes then which config

[2021-06-15 08:06] orpiske commented on #1211
Hi, have you tried setting the `CamelHeader.CamelFileName` header for each message produced on you Kafka endpoint? For example, suppose you have 2 messages "a" and "b". For each of those, you set a different header with a different file name.

Here's one example of how it do it for the AWS S3 component: https://github.com/apache/camel-kafka-connector/blob/main/tests/itests-aws-v2/src/test/java/org

[2021-06-15 08:42] oscerd commented on #1209
No, you need to provide a file a pass the path to the service account key file. You can get the file from the google pubsub console.

[2021-06-15 08:52] simplifadmin commented on #1209
Here's an update

[code]

[2021-06-15 08:55] oscerd commented on #1209
It shoud be the minimal configuration.

[2021-06-15 09:10] simplifadmin commented on #1209
Please what do you mean by minimal configuration?

[2021-06-15 09:12] oscerd commented on #1209
With these parameters configured correctly it should work.

[2021-06-15 10:05] sammy445 commented on #1211
Hi @orpiske ,

Sorry. I couldn't get the answer completely. Headers are present in the Kafka topic for every message. Here is the configuration of a connector that I am using. How do I set the header configuration? I need to have a file name created along with the Kafka offset. So, what's the parameter to get the Kafka offset?
{
"name": "camel-file-sink-connector",
"connector.class": "org.apache.c

[2021-06-15 10:10] oscerd commented on #1211
You need to use a different name for each message. You can either add an header to your message or change the filename configuration in your file. For example you can use the exchangeId

[2021-06-15 11:06] anna842 commented on #1196
Ok, thank you for the answer.

[2021-06-15 11:06] #1196 closed

[2021-06-15 15:05] simplifadmin commented on #1209
Please issue with the serviceAccountKey, Any idea?

[code]

[2021-06-15 15:44] simplifadmin commented on #1209
Issue with Kafka-connector:

[code]

[2021-06-15 15:48] oscerd commented on #1209
This needs to be tested first in Ckc. I don't think there is the need of brackets there. It's a camel configuration option not Kafka connect.

[2021-06-17 15:54] simplifadmin commented on #1209
I'm having no joy in getting the key to work.
Any ideas?
`camel.component.google-pubsub.serviceAccountKey: `

[2021-06-22 05:38] arjun180 opened #1216 "AWSS2-S3-Kafka connector sink returns 403 with bucket and object not public"
Hello,

I am trying to get the Camel AWSS2-S3-Kafka connector sink to work with my Kafka cluster. I have a functioning Kafka cluster as well as a Kafka connect cluster up and running. My aim is to move messages from my Kafka topic to the s3 bucket I have created.

My KafkaConnect cluster is fine and has the following pulgins :

[code]

My KafkaConnector looks like the following :

[code]

After ru

[2021-06-22 05:41] oscerd commented on #1216
I believe is a problem with permissions on the user role you're using
https://aws.amazon.com/it/premiumsupport/knowledge-center/s3-403-forbidden-error/

[2021-06-22 06:48] arjun180 commented on #1216
Thanks @oscerd . I thought the same, but my user has admin access and I can use AWS access key and secret key to upload files to the bucket using the AWS CLI. And I use the same access key and secret key in the Kafka connector yaml file. So, I was wondering if I was missing out on something.

[2021-06-22 06:50] oscerd commented on #1216
Without access or information about the environment or role, it's really impossible to say something.

[2021-06-22 18:38] arjun180 commented on #1216
Hi @oscerd - Thanks. So, I was following the thread : https://github.com/apache/camel-kafka-connector/issues/282 here. My access key and secret key were not working (possibly because I use temp credentials which involves the use of secret, access key as well as the session token)

I was trying to use the ```camel.component.aws2-s3.useIAMCredentials: true``` option instead. We made sure the default

[2021-06-22 18:44] arjun180 commented on #1216
To add some more information, my Kafka connect YAML looks like this :

[code]

[2021-06-23 05:53] #1216 closed

[2021-06-23 05:53] arjun180 commented on #1216
This got resolved. Thank you for the help.

[2021-06-23 06:02] oscerd commented on #1216
For completeness the correct property name was useDefaultCredentialsProvider

[2021-06-23 06:24] arjun180 opened #1217 "Java bean error when using aws2-s3-source connector"
Hello,

I'm working on getting the aws2s3 source connector to work. But it's throwing a Java bean error on on of the parameters. I used a similar set of parameters when I was configuring my sink connector. And that works just fine.

Error :

[code]

My Kafka Connector yaml file :

[code]

When I was working on the sink connector, I had to change the permissions of the IAM to create the EC2 instanc

[2021-06-23 06:28] oscerd commented on #1217
You need to set the property on the endpoint OR on the component not both

[2021-06-23 06:39] arjun180 commented on #1217
Yeah, actually when I removed the space in the name of the property - I got an error
[code]
I double checked here and the space was present?
 https://camel.apache.org/camel-kafka-connector/latest/reference/connectors/camel-aws2-s3-kafka-source-connector.html

[2021-06-23 06:43] oscerd commented on #1217
The space is just for formatting the table. It's one long string.

[2021-06-23 06:45] oscerd commented on #1217
The error seems you are pointing a file that doesn't exist in the bucket

[2021-06-23 06:50] arjun180 commented on #1217
Oh I see! It got to working when I only kept only the ```camel.component.aws2-s3.useDefaultCredentialsProvider: true```. Thank you for your help. I'll close the issue.

[2021-06-23 06:50] #1217 closed

[2021-06-23 08:02] orpiske opened #1218 "Improve documentation about limitations of special chars in the file connector"
The file connector requires chars to be encoded (see #1208). This needs to be documented better: on the examples + integration test + details on the known issues / limitations page.

[2021-06-23 08:04] oscerd opened #1219 "Bump to Strimzi Operator 0.24.0"

[2021-06-23 16:23] jbadeau opened #1221 "Jira source connector only sourcing new issues"
The Jira source connector seems to only publish issues created after the connector is started.

When debugging we see that the JQL query collects all our issues starting from a certain date but it only processes 1. This seems to be on purpose.

Any ideas?

[2021-06-23 16:26] orpiske commented on #1208
I documented this in multiple places so that users have a greater chance to find out the information. Therefore, I am closing this one. Please refer to PR #1220 for details about the changes.

[2021-06-23 16:26] #1208 closed

[2021-06-23 16:27] orpiske commented on #1218
Fixed with PR #1220. Closing.

[2021-06-23 16:27] #1218 closed

[2021-06-24 04:42] oscerd commented on #1221
It's done in this way by design. https://camel.apache.org/components/latest/jira-component.html

If you want to improve it, you'll need to open a JIRA in the Apache Camel project asking for being able to consume from the beginning of time, here https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-16751?filter=allopenissues

[2021-06-24 09:23] FernandoDorado opened #1222 "One file per message (kafka hdfs sink connector)"
Hello,
I'm trying to connect kafka and hdfs to store data. I set it up and it works correctly, but the problem arises when I save the kafka messages in hdfs as a file is created for each message. I would like to create a file containing multiple messages, but I can't solve this problem. I've change the value of
`
camel.sink.endpoint.splitStrategy=BYTES:1000000
`
`
camel.sink.endpoint.splitStrategy

[2021-06-24 09:28] oscerd commented on #1222
Please post the full configuration so we can check

[2021-06-24 09:31] FernandoDorado commented on #1222
Added to the previous comment. Thanks

[2021-06-24 09:40] oscerd commented on #1222
Can you try with

camel.sink.endpoint.append = true

[2021-06-24 09:54] FernandoDorado commented on #1222
By using this command, the connector report the following error:

org.apache.kafka.connect.errors.ConnectException: Exiting WorkerSinkTask due to unrecoverable exception.
	at org.apache.kafka.connect.runtime.WorkerSinkTask.deliverMessages(WorkerSinkTask.java:609)
	at org.apache.kafka.connect.runtime.WorkerSinkTask.poll(WorkerSinkTask.java:329)
	at org.apache.kafka.connect.runtime.WorkerSinkTask.it

[2021-06-24 10:03] oscerd commented on #1222
please add

camel.sink.endpoint.append=true

without spaces.

[2021-06-24 10:23] FernandoDorado commented on #1222
Sorry for the mistake, I added previously without spaces.
I tested by using the previous configuration, and it is provides an error:
org.apache.camel.FailedToCreateProducerException: Failed to create Producer for endpoint: hdfs://namenode:9000/Example_folder?append=true&splitStrategy=BYTES:1000000. Reason: java.lang.IllegalArgumentException: Split Strategies incompatible with append=true
at org.ap

[2021-06-24 11:18] oscerd commented on #1222
We need to reproduce this scenario.

Can you set up a github repository with steps to reproduce and setting up the infra?

[2021-06-24 11:34] FernandoDorado commented on #1222
The repository is confidential and is part of a large architecture. To share it I have to discuss it with my superiors, as it uses compromised data and software elements, and I am not sure they can give me access. Really, it's nothing more than taking data from a data-source, storing it in a topic, and saving it in an hdfs folder. The hadoop image is this: The hadoop image we use is this: image: b

[2021-06-24 11:52] oscerd commented on #1222
I'll try to have a look and reproduce on my side

[2021-06-24 11:56] FernandoDorado commented on #1222
I really appreciate, if you need anything or have any questions feel free to write to me and I will send you everything you need (in case that I can share)

[2021-06-25 19:42] jbadeau commented on #1221
Ok, we already added this feature? are you open to a pullrequest?

[2021-06-25 21:01] oscerd commented on #1221
Yes, but it should be against Apache Camel in the Jira component.

Il ven 25 giu 2021, 21:42 Jose Badeau ***@***.***> ha scritto:

[2021-06-26 07:12] jbadeau commented on #1221
Sure. Will do

[2021-06-26 07:12] #1221 closed

[2021-06-26 11:20] saachinsiva opened #1224 "Access headers on S3 Source connector"
Hello

I have a requirement where json files will be published by our client into a bucket which should then be published to Kafka topic and then we have lot of consumers who consumes this message and one of the consumers is Elastic Search. Currently, I use ByteArrayConverter but provided that this will always be a json , is there anyway to use actual Json converter as it allows me to use SMT to m

[2021-06-28 04:46] oscerd commented on #1224
You can add

camel.source.marshal=json-jackson

To your configuration to get a json. In your SMT, you can get the header from the record, and set it as key.

[2021-06-28 05:30] oscerd opened #1227 "Release 1.0.0"
Now that we are near to Camel 3.11.0 LTS release, I think it makes sense to bump to 1.0.0 and release, so we'll be in line with the Camel release train and we'll base 1.0.0 to an LTS release.

[2021-06-28 06:22] #1219 closed

[2021-06-28 13:00] ohadpinch opened #1228 "Is it possible to attach Custom Processor to existing Connector?"
I have a project in which I want to use CamelHTTPSinkConnector and to be able to log the HTTP response and send it via dedicated Kafka topic.

I thought it can be done by attaching custom Processor, but I don't know how.

Thanks,
Ohad Pinchevsky

[2021-06-28 13:01] oscerd commented on #1228
Do you mean a custom Camel processor?

[2021-06-28 13:10] oscerd commented on #1228
If you need to add a processor step, it makes sense to use plain Camel and not camel-kafka-connector.

[2021-06-28 13:13] ohadpinch commented on #1228
So, if not using Processor, is there other way to add business logic (such as logging) to existing camel-kafka-connector?

[2021-06-28 13:16] oscerd commented on #1228
Try to use

https://camel.apache.org/camel-kafka-connector/latest/user-guide/basic-configuration.html

camel.sink.contentLogLevel

[2021-06-28 13:19] ohadpinch commented on #1228
Thanks,  What if I also want to send the HTTP response to Kafka topic?

[2021-06-28 13:31] oscerd commented on #1228
Do you mean you want to do something like this?

Consume a record from a kafka topic -> send the record content to an http endpoint -> capture the http response -> send to a different topic?

[2021-06-28 13:35] ohadpinch commented on #1228
Exactly

[2021-06-28 13:40] oscerd commented on #1228
I don't think there is a possibility to do this, once you sent the request to the http endpoint you're not able to access the response anymore, this is because of how kafka connect works.

Even using an SMT won't help, because it would kick in before the sink connector and not after.

Maybe you can use the kafka connect reporter feature, to check successful and failing http requests and redirect t

[2021-06-28 13:41] ohadpinch commented on #1228
Thanks, I'll check it out

[2021-06-28 14:17] ohadpinch commented on #1228
Can you please redirect me to Camel documentation for reporter feature?

[2021-06-28 14:40] oscerd commented on #1228
https://kafka.apache.org/documentation/#connect

It's a connect connect. Search for errant record reporter.

There is also documentation on the confluent website.

[2021-06-28 14:44] oscerd commented on #1228
And this example too
https://github.com/apache/camel-kafka-connector-examples/tree/main/other-examples/error-handling-sink

[2021-06-28 14:58] ohadpinch commented on #1228
Thanks, I see it handles errors, how can I get the response in success cases?

[2021-06-28 15:01] oscerd commented on #1228
I don't think there is a way with plain Kafka. My suggestion is to move to plain camel if you need to inspect the response

[2021-06-28 15:18] ohadpinch commented on #1228
I need to think about it, It might an architecture constraint to use Kafka Connect.
I might need to create new connector if no other way.

[2021-06-28 16:17] saachinsiva commented on #1224
@oscerd

I tried using marshal but I still set the value as bytes in the topic. Also please me know which SMT to use to get the header value.

[code]

Ouptut (using AKHQ):

![image](https://user-images.githubusercontent.com/7923274/123667853-8bb27b00-d808-11eb-883a-73ebf4ab67f1.png)

However if I use byte array converter without marshal then I see as below but ofcourse I cannot use SMT to parse fi

[2021-06-28 16:36] oscerd commented on #1224
For the smt you have to write it. We cannot put the whole file content as string, what happen if you have 10 gb files?

[2021-06-28 18:44] saachinsiva commented on #1224
@oscerd

Understood.  At least for my case I can live with it as our json will always be small in our use case and we can manage this with our own SMT.

Thanks

[2021-06-29 08:25] qafro1 commented on #1209
Please any update on this ?

[2021-06-29 08:28] oscerd commented on #1209
No news at the moment. Please try it locally and place the file on your file system.

[2021-06-30 16:34] qafro1 commented on #1209
I've tested this locally bin/connect-standalone.sh config/connect-standalone.properties /opt/kafka/connectors/docs/examples/CamelGooglepubsubSinkConnector.properties
but get an error msg:

[code]

[2021-07-01 05:29] oscerd commented on #1209
What do you have in the kafka topic and what message are you trying to send to pubsub? It seems you have empty lines.

[2021-07-01 07:50] qafro1 commented on #1209
Yes - Created Kafka topic and sent msgs like Hello world - however [GCP](https://github.com/GoogleCloudPlatform/pubsub/tree/master/kafka-connector) Kafka connector works.
Please any ideas or can you try it yourself?

[2021-07-01 07:57] oscerd commented on #1209
I'll try to have a look, but not soon. The other connector is  not based on camel..

[2021-07-08 12:16] qafro1 commented on #1209
[code]
Issue with Kafkaconnector version 0.10.1  - Any idea?
 Caused by: org.apache.kafka.connect.errors.DataException: JsonConverter with schemas.enable requires "schema" and "payload" fields and may not contain additional fields. If you are trying to deserialize plain JSON data, set schemas.enable=false in your converter configuration.

[2021-07-09 13:44] qafro1 commented on #1209
KafkaConnector name: pubsub issue after sending datastreams:
[code]

[2021-07-12 10:04] qafro1 commented on #1209
Please any assist on this?

[2021-07-12 10:05] oscerd commented on #1209
Don't push so much on contributors. When I'll have time, I'll have a look, if someone else from the community want to help, he will do it.

[2021-07-12 11:46] oscerd commented on #1209
What is inside the folder of google-pubsub in the plugin.path folder?

This

Failed to resolve endpoint: google-pubsub

Means there is no component found for the connector.

[2021-07-12 18:54] qafro1 commented on #1209
I followed the strimzi doc to create a kafka connect and connector. I did not amend the kafka connect plugin folder.
https://strimzi.io/blog/2021/03/29/connector-build/

[2021-07-13 14:38] qafro1 commented on #1209
Kafka connect plugin folder has the following
pubsub-sink-connector  storage-sink-connector

[2021-07-16 10:48] qafro1 commented on #1209
[code]
Any ideas?

[2021-07-16 22:46] arjun180 opened #1235 "aws2-s3 prefix not working with Kafka source connector"
Hello,

I'm using a Kafka source connector to move publish json files from an s3 bucket to a Kafka topic. When my configuration looks like this - things work fine and I can use a consumer to pull down the messages. In this case, the file 'something.json' is present in the root directory of the bucket
[code]
However, when I use camel.component.aws2-s3.prefix option and create a folder and change my

[2021-07-19 12:04] oscerd commented on #1235
Please use:
camel.source.endpoint.prefix

[2021-07-19 18:50] arjun180 commented on #1235
Thanks a lot @oscerd - that worked.

I don't think Kafka Connector works with regexes. Is there way to automate the connector to read from a folder structure in s3 such as this :

`bucket_name/year/day/hour/some.json `where the year/day/hour are subject to change.

[2021-07-20 05:27] oscerd commented on #1235
Not directly, if you need to do something like that, you may need to look at plain Camel.

[2021-07-20 12:06] oscerd commented on #1209
This configuration in a local kafka works fine

For sink connector:

[code]

As you may see I'm pointing a file locally to my filesystem with an absolute path.

Same story for a source connector

[code]

[2021-07-20 12:07] oscerd commented on #1209
I cannot help more than this.

[2021-07-20 12:07] #1209 closed

[2021-07-21 04:46] arjun180 commented on #1235
Thank you very much. I'll move this ticket to done.

[2021-07-21 04:46] #1235 closed

[2021-07-21 06:22] arjun180 opened #1236 "idempotency support in Kafka AWS s3 source connector"
I've been working on setting up a Kafka S3 source connector, where data needs to flow from an s3 bucket to a Kafka topic. I need to make sure that the data is retained in the s3 bucket. So I set this condition in my Kafka connector `camel.component.aws2-s3.deleteAfterRead: false`

Based on this page https://camel.apache.org/blog/2020/12/CKC-idempotency-070/ , my Kafka connector looks like this :

[2021-07-21 07:04] oscerd commented on #1236
You need to either drain the kafka topic pointed by the kafka-idempotent-repository (my.idempotency.topic) or increase the camel.idempotency.kafka.max.cache.size to allow more entries into the queue.

[2021-07-21 18:01] arjun180 commented on #1236
Thanks @oscerd. I tried increasing the cache size, and I'm getting a strange error on the broker side of things. I'm wondering if it's got something to do with the Kafka Connect plugin or something.

[code]
The broker connection is not a problem without the idempotency configurations.

[2021-07-21 18:03] oscerd commented on #1236
Never seen something like this with idempotency. Can you please show the configuration?

[2021-07-21 18:30] arjun180 commented on #1236
Sure, my configuration looks like this. I realized that there was an option to add the broker config, so I did that as well :

[code]
The error from the connector looks like this

[code]
It looks to be struggling to connect to my broker? But that's not been a problem before

[2021-07-21 18:36] oscerd commented on #1236
Where is mydev running? It should be reachable from the strimzi cluster, i guess

[2021-07-21 18:38] arjun180 commented on #1236
Yeah - mydev is just the advertised host name of my broker defined in the Strimzi Kafka configuration.

[2021-07-21 18:48] oscerd commented on #1236
If you remove the parameter from the conf, does it work?

[2021-07-21 19:02] arjun180 commented on #1236
Once I removed the bootstrap server parameter, it just tries to connect to local host. The log snippet below keeps getting repeated

`kubectl logs -f my-kafka-connect-cluster-connect`
[code]

[2021-07-21 19:09] oscerd commented on #1236
I think you need to recreate the connector from the beginning, because the queue is still at 1500 elements. The camel context needs to be recreated.

[2021-07-21 20:24] arjun180 commented on #1236
So, even after I deleted the Kafka connector, my Kafka connect logs keep showing an error associated with the Kafka Idempotency repository. Is that expected?

[code]

[2021-07-21 20:40] oscerd commented on #1236
It's first time I see something like see. It's just a warning, but it's weird. Can you try the same configuration with a local cluster? Not Strimzi.

[2021-07-22 06:50] oscerd opened #1237 "Upgrade to Camel 3.11.0"

[2021-07-22 08:32] #1237 closed

[2021-07-22 21:20] arjun180 commented on #1236
I haven't been able to try it with a local cluster. But I'll let you know if I do. To get my Kafka Connect cluster back - I had to tear it backdown and set it up again.

[2021-08-02 05:57] oscerd commented on #1190
This has been fixed with 0.10.1

[2021-08-02 05:57] #1190 closed

[2021-08-04 17:36] arjun180 opened #1241 "Endpoint doesn't get resolved when using Camel Splunk HEC Kafka connector"
Hello,

I have been using the Camel Splunk HEC Kafka connector version 0.9.0 to send data from a Kafka topic to Splunk. My connector looks like this

[code]

I get this error

[code]
Why is the Splunk URL coming out to be `splunk-hec://https://hec.splunk.<my-server>.com:<port>/<token>` and not `https://hec.splunk.<my-server>.com:<port>/<token>`? Can I change it?

[2021-08-05 04:53] oscerd commented on #1241
splunk-hec is the camel component scheme. So, when you set the splunkURL it will be part of the URI after the scheme name, splunk-hec:

It's not really clear and the error is not complete.

[2021-08-05 05:06] arjun180 commented on #1241
Aah I see - so the endpoint that is being verified is still `https://hec.splunk.<my-server>.com:<port>`?

The complete error log from the Kafka Connect instance is :

[code]

[2021-08-05 05:07] oscerd commented on #1241
Yes, have a look at https://github.com/apache/camel/blob/main/components/camel-splunk-hec/src/test/java/org/apache/camel/component/splunkhec/integration/SplunkHECIT.java for example

[2021-08-05 06:43] sonic-martin opened #1242 "camel-influxdb-kafka-connector: InfluxDB Connector not usable"
# Description

Hey,

I tried to use the ```camel-influxdb-kafka-connector``` via Strimzi and Kafka Connect.
But as the Connection setup in the [Camel InfluxDB Component](https://camel.apache.org/components/latest/influxdb-component.html)  doesnt happens via String parameters, but with a Bean, it doesnt works without manually work.

# Setup

Kafka Connect and InfluxDB works and the KafkaConnector i

[2021-08-05 06:48] oscerd commented on #1242
Needs to be done at camel level.

[2021-08-05 18:10] arjun180 commented on #1241
Thanks @oscerd . I changed the Splunk url to `my server.com:<port>` and I don't get the URL error anymore. I also removed parameters `camel.sink.endpoint.bodyOnly: false` and `camel.sink.endpoint.headersOnly: false` because they weren't valid.

Now I get :

[code]

But I curled the Splunk URL from the Kafka Connect pod to check if there was an issue and it came out healthy. The `Service Unavailabl

[2021-08-05 20:38] arjun180 commented on #1241
Hey @oscerd - Just to update you on this. The example was helpful.

I changed the Splunk url to my server.com:<port> and I don't get the URL error anymore. I also removed parameters `camel.sink.endpoint.bodyOnly: false `and` camel.sink.endpoint.headersOnly: false` because they weren't valid. But the docs suggest they are [docs](https://camel.apache.org/camel-kafka-connector/latest/reference/connec

[2021-08-05 20:39] oscerd commented on #1241
You need to use 0.10.1

[2021-08-05 20:59] oscerd commented on #1241
The docs for latest refer to the latest released version, 0.10.1

[2021-08-06 11:48] oscerd opened #1243 "Bump to Camel 3.11.1"

[2021-08-06 13:25] #1243 closed

[2021-08-06 15:33] arjun180 commented on #1241
Got it - thank you so much for your help. I don't think there's an example for the Splunk hec connector? Is that something I can contribute?

[2021-08-06 15:36] oscerd commented on #1241
Sure thing. You're more than welcome

[2021-08-06 15:38] #1241 closed

[2021-08-06 23:05] arjun180 opened #1245 "Using a Kafka Consumer with Idempotency enabled Kafka consume"
I've been working on enabling Idempotency on my AWSs3-Kafka source connector. There were some issues I detailed here : https://github.com/apache/camel-kafka-connector/issues/1236. I worked around some of them, but there were still some really strange I'm noticing in my consumer. This is what my connector yaml file looks like

[code]
My connector spins up and there's no problem on that end. But con

[2021-08-07 06:56] oscerd commented on #1245
Please create a reproducer on GitHub with detailed steps

[2021-08-09 05:09] arjun180 commented on #1245
Sorry - do you mean I should provide more information on the Kafka cluster? Since, the cluster has been created on Kubernetes using Strimzi - I don't know if I can create a small reproducible example.

[2021-08-09 06:33] oscerd commented on #1245
A local example to reproduce would be good. At least the steps you"re using and the config

[2021-08-09 21:53] arjun180 commented on #1245
Hi @oscerd - thanks for your help. It's working now, maybe it had something to do with the topic I was using. I created a new topic and the idempotency aspect started working.

One of the bigger changes I made from the issue mentioned here : https://github.com/apache/camel-kafka-connector/issues/1236 is that I changed `camel.idempotency.repository.type: kafka` to `camel.idempotency.repository.type

[2021-08-09 21:53] #1245 closed

[2021-08-09 22:02] arjun180 commented on #1236
The error got removed once I changed the `camel.idempotency.repository.type: kafka` to `camel.idempotency.repository.type: memory`

[2021-08-09 22:02] #1236 closed

[2021-08-09 22:35] arjun180 opened #1247 "Configurable parameters in AWS2-s3 Kafka source connector"
Is there anyway I can configure the `camel.source.endpoint.prefix` field based on the document [here](https://camel.apache.org/camel-kafka-connector/latest/reference/connectors/camel-aws2-s3-kafka-source-connector.html) to something like this : `camel.source.endpoint.prefix: 'connector-test/${date:now:yyyyMMdd}'`. I know something like that is possible for the Kafka sink and parameter `camel.sink.

[2021-08-09 23:12] oscerd commented on #1245
The kafka One is using a kafka topic as idempotent repository, the other is in memory. With the latest release 0.10.1 Kafka idempotency should work fine

[2021-08-11 13:19] oscerd commented on #1247
It's not possible for technical reason related to Camel consumers.

[2021-08-11 13:20] oscerd opened #1248 "Bump to Strimzi 0.25.0"

[2021-08-11 14:51] arjun180 commented on #1247
Got it. Thank you for your help

[2021-08-11 14:51] #1247 closed

[2021-08-16 08:36] arickbro opened #1249 "vertx websocket source kafka connector configuration"
Hi

I got this error when configuring the vertx websocket kafka connector
https://camel.apache.org/camel-kafka-connector/latest/reference/connectors/camel-atmosphere-websocket-kafka-source-connector.html

may I know whether I missing any jar file here ?

[code]

this is the jar under kafka connect lib path

[code]

[2021-08-16 08:37] oscerd commented on #1249
It needs to be exploded in a single folder in the Kafka connector plugin path

[2021-08-16 08:37] oscerd commented on #1249
I think this is in the root folder only

[2021-08-16 08:39] arickbro opened #1250 "websocketjsr356.CamelWebsocketjsr356SourceConnector query paramater"
Hi

is there any way to pass the query parameter to websocket server endpoint ?
my websocket server required this parameter:  client=radar_kafka&transform=terminal_names , but the  kafka connect use it as properties

[code]

[2021-08-16 08:41] arickbro commented on #1249
Hi

this inside the folder, I manage to make camel-ahc-ws-kafka-connector  and camel-websocket-jsr356-kafka-connector but not the camel-vertx-websocket-kafka-connector

[code]

[2021-08-23 06:19] #1224 closed

[2021-08-23 06:20] #1200 closed

[2021-08-23 06:43] #1248 closed

[2021-08-23 16:25] #1228 closed

[2021-08-23 18:09] oscerd commented on #1228
Did you manage to find a solution?

[2021-08-23 19:40] ohadpinch commented on #1228
I have added kafka producer and returned the result manually.
I worked with exchange.out obj and checked for failures.

On Mon, Aug 23, 2021, 21:09 Andrea Cosentino ***@***.***>
wrote:

[2021-08-31 06:42] #1124 closed

[2021-09-06 11:50] FernandoDorado commented on #1222
Good afternoon,
is there any update on the issue? so far, we have not been able to solve the problem, and a file is created for each kafka message, which leads to a lot of blocks in HDFS

Thanks

[2021-09-06 11:53] oscerd commented on #1222
I didn't have the time to look at this. Sorry.

[2021-09-07 10:58] arickbro opened #1253 "how to convert csv to json using unmarshal/marshal"
I try to ingest a csv file using camel sftp connector , parse the csv and turn it to json using this configuration

[code]

**unmarshal=csv** work just fine, I can see the java object on kafka.
but if I combine it with **marshal=json-gson**, I got this error
[code]

could someone give me advise on this ?

[2021-09-07 11:44] oscerd commented on #1253
You cannot have unmarshal and marshal in the same connector configuration. If you want to do this you'll need to create your own SMT to transform from csv to JSON.

[2021-09-07 11:54] arickbro commented on #1253
thanks, I will close this issue

[2021-09-07 11:54] #1253 closed

[2021-09-16 19:01] kferrone opened #1255 "Bearer Token with HTTP sink?"
I am trying to use the HTTP sink connector: https://camel.apache.org/camel-kafka-connector/latest/reference/connectors/camel-http-kafka-sink-connector.html

The final endpoint I want to send the event to requires a bearer token in the header. However I do not see how it is possible to add the token to the header using the http sink connector.

Is the HTTP connector the right one to use? It looks l

[2021-10-01 19:59] Estebangpp opened #1261 "Fallback mechanism in case Kafka message doesn’t contain headers"
I think it would be nice to have the fallback mechanism for messages that doesn’t have headers inside them, this could be useful for cases where one needs to process old Kafka messages without needing to modify them. It would use the already existing Kafka partition key, if it's empty or null, use the exchange id.

[2021-10-04 09:13] Tarankalra commented on #986
Hi @tadayosi I can work on this issue.

[2021-10-04 18:39] arjun180 opened #1263 "UseDefaultCredentials Provider doesn't recognize web identity token file"
I have a AWS s3 source connector with the following configurations :

[code]
We are trying to get all the pods in our Kafka ecosystem to use a specific web identity token file based on a custom IAM role. The idea is to add IAM credentials to each of the CRDs deployed by the operator in EKS (in this case, it's Kafka connect). I do realize that the `camel.component.aws2-s3.useDefaultCredentialsProvi

[2021-10-04 19:14] oscerd commented on #1263
You need to add the sts jar to your connector folder related to S3 in plugin path

[2021-10-04 20:20] arjun180 commented on #1263
Hi @oscerd - thank you. A clarifying questions :

- I created my Kafka Connect resource using the example given https://strimzi.io/blog/2021/03/29/connector-build/ and the repository link for connector from here : https://repo.maven.apache.org/maven2/org/apache/camel/kafkaconnector/camel-aws-s3-kafka-connector/0.8.0/. Given this configuration, where should I access the STS jar from? And should I b

[2021-10-05 06:17] duanasq opened #1264 "Modular packaging of connectors?"
Hi there! I'm interested to use the Camel kafka connectors. I'm following the [user guide](https://camel.apache.org/camel-kafka-connector/0.11.0/user-guide/getting-started/try-it-out-locally.html) to try it out locally (it's great, thanks!) but the instruction to build this repo using `./mvnw package` from the root was taking me over 40 mins. I lost patience and looked at how I could build the con

[2021-10-05 07:36] oscerd commented on #1264
We can mention that, you're welcome to open a PR.

[2021-10-05 08:58] oscerd commented on #1222
I'm trying to find some time for this, sorry @FernandoDorado

[2021-10-05 09:03] FernandoDorado commented on #1222
We are still interested, if you need any more details do not hesitate to ask and I will share some details

[2021-10-05 10:46] duanasq commented on #1264
cool how's this https://github.com/apache/camel-kafka-connector/pull/1265

[2021-10-05 15:06] NeilMurray6p6 opened #1266 "AWS SQS Source Message Delete"
Setting up Kafka Connect with the following config results in SQS message being written to topic indefinitely because the SQS message is not deleted after read.

[code]

Logs confirm that sqs.deleteAfterRead is true

```kafka-connect      | 	camel.component.aws2-sqs.deleteAfterRead = true```

Is there some missing config which needs to be set to enable camel SQS message deletion?

[2021-10-06 11:43] oscerd commented on #1255
Explained through this https://github.com/apache/camel-kafka-connector-examples/issues/323

[2021-10-06 11:43] #1255 closed

[2021-10-11 03:25] duanasq opened #1268 "java.lang.NullPointerException in kinesis sink connector if headers not present"
Hi I'm new to apache camel and I was getting the following error when trying to run the kinesis sink connector on a kafka topic:
[code]
I did some digging around and see it is related to [this issue](https://github.com/apache/camel-kafka-connector/issues/1261).

I found [the excellent tutorial](https://github.com/apache/camel-kafka-connector-examples/tree/main/aws2-kinesis/aws2-kinesis-sink) that

[2021-10-11 06:58] oscerd commented on #1268
Yes, ckc is camel on Kafka connect. So you can use smt

[2021-10-12 17:59] hakidehari opened #1271 "Salesforce Camel Kafka Source Connector not converting to JSON"
We are producing events from Salesforce to Kafka via something in SF called platform events. To get these events into Kafka, we are using the Salesforce Kafka Source Connector from Camel. Documentation for this Kafka connector can be found here:

https://camel.apache.org/camel-kafka-connector/latest/reference/connectors/camel-salesforce-kafka-source-connector.html

The events generated from Salesf

[2021-10-12 18:59] oscerd commented on #1271
An SMT is a single message transformation. If you look in the codebase you'll find some of them

[2021-10-13 04:42] oscerd commented on #1271
If you know your message is an instance of Message class (org.cometd.bayeux.Message), you can do like the following SMT https://github.com/apache/camel-kafka-connector/blob/main/connectors/camel-sftp-kafka-connector/src/main/java/org/apache/camel/kafkaconnector/sftp/transformers/SftpRemoteFileTransforms.java#L41

and invoke a message.getJson in the newRecord method invocation.

[2021-10-13 11:06] duanasq commented on #1268
I think it's worth mentioning that in the documentation for the camel kinesis sink connector because it feels like it's necessary if you want to use it. I would be happy to submit a PR to the doc.

[2021-10-13 16:05] #1271 closed, assigned to nobody

[2021-10-16 07:12] duanasq opened #1272 "Using kinesis sink with STS assumeRole credentials?"
Hi there. Any tips on how I could configure/extend the connector to use sts assumeRole credentials?

The camel kinesis component says you can "pass in a different AWSCredentialsProvider when calling createClient(…​)" (see [docs here](https://camel.apache.org/components/latest/aws2-kinesis-component.html#_providing_aws_credentials)) but I can't figure out how to do that.

Another option looked like

[2021-10-20 16:54] arjun180 commented on #1263
Thanks @oscerd - Is there a recommended way of going about merging the JAR files?

- I can merge the connector tar gz file and STS JAR locally. However as far as I understand, the `artifacts` section in the Kafka Connect yaml can only take in urls. And I can't push my locally merged JAR files into the maven repo.

- I can exec into my running Kafka Connect pod, navigate to the connector folder and

[2021-10-24 14:11] ShaniAvnaim opened #1274 "Camel AWS S3 source connector"
Hello,

I have some issue with AWS S3 Connector.
Every file i saw twice (or more) in my Kafka cluster. It's the same topic, file name, Timestamp, etc. The only difference is the creation time in the Kafka.

I have additional question - in general, what is the concept of message processing guarantees of this connector?

Thank you

[2021-10-30 22:44] valdar commented on #665
@vbbhatia14 I am closing this because I am pretty sure it is fixed, feel free to reopen it if needed.

[2021-10-30 22:44] #665 closed

[2021-10-30 22:48] valdar commented on #786
I think this is done given the resolution of https://issues.apache.org/jira/browse/INFRA-21197, @orpiske feel free to reopen it if needed.

[2021-10-30 22:48] #786 closed

[2021-11-01 02:02] BMWE30 opened #1282 "camel.source.endpoint.exceptionHandler for the sftp connector not working as expected"
I've implemented a custom exceptionHandler for experimenting purpose like below (which is pretty much the same with the LoggingExceptionHandler except I'm using System.out.println() and I've added a prefix for every log):

[code]

I've configured the sftp source connector to use my own exceptionHandler:

[code]
After I started the connector, I removed the read permission for the local sftp directo

[2021-11-02 05:46] oscerd commented on #1282
The following line

camel.source.endpoint.onCompletionExceptionHandler=org.apache.camel.kafkaconnector.CustomLoggingExceptionHandler

should be

camel.source.endpoint.onCompletionExceptionHandler=#class:org.apache.camel.kafkaconnector.CustomLoggingExceptionHandler

[2021-11-02 16:07] arjun180 commented on #1263
Thank you @oscerd  and @scholzj for your comments. Based on those - I managed to create a AWS Kafka s3 source connector with the STS jar. I used this link to setup : https://strimzi.io/blog/2020/05/07/camel-kafka-connectors/.

The jar files I currently have :

[code]
This includes the sts-2.17.51 jar as well. My Kafka connect configuration looks like this :

[code]

Once I started up the Kafka con

[2021-11-02 16:10] oscerd commented on #1263
For the useDefaultCredentialsProvider option use the camel.source.endpoint option and not the camel.component one. Also try with the latest release

[2021-11-02 16:27] arjun180 commented on #1263
Thanks @oscerd  - I get the error before I setup the Kafka connector yaml.

We get the error before the Kafka connector is implemented.

[2021-11-02 17:00] oscerd commented on #1263
If you deploy the connector the error could be related only to the startup of AWS S3 client. So it's definitely a connector exception.

[2021-11-03 15:57] arjun180 commented on #1263
I think the error on the Kafka Connect pod is confusing. It says `Not authorized to perform sts:AssumeRoleWithWebIdentity` - which means the AWS role being used on the Kafka Connect pod is unable to assume the role to carry out the operations.

However, we did more two more things.

- Logged onto the Kafka Connect pod to check the env variables :
[code]

- Checked the trust relationship for the AW

[2021-11-03 16:18] scholzj commented on #1263
It is some time since I last used some connector connecting to AWS. But at that time I configured the AWS credentials directly in the connector configuration (see full example here: https://github.com/scholzj/demo-devconfcz-2021-apache-kafka-as-a-monitoring-data-pipeline/blob/master/09-s3-connector.yaml):

[code]

Today, you would be able to do the same also through the EnvVar Configuration Provid

[2021-11-03 21:01] BMWE30 commented on #1282
@oscerd It works like a charm! Thanks. Also would be great if this is documented somewhere.

[2021-11-03 21:02] oscerd commented on #1282
Let's keep this open so we could update the docs. Thanks for pointing this out

[2021-11-08 10:15] milkchocolate opened #1284 "Cannot findr camel-salesforce-source-kafka-connector in maven repository"
Hi team,

Is **camel-salesforce-source-kafka-connector** in maven repository?

I'm following the doc below
https://camel.apache.org/camel-kafka-connector/next/reference/connectors/camel-salesforce-source-kafka-source-connector.html

My IDE cannot download it, the IDE says "Cannot resolve org.apache.camel.kafkaconnector:camel-salesforce-source-kafka-connector:0.11.0"

I also checked it on https://m

[2021-11-08 10:20] oscerd commented on #1284
In Maven central you can find a single JAR for all the connectors. Inside there will the source and sink or just one of them.

In the jar you'll find the required classes. But for kafka-connect you don't need the jar directly, you'll need the package tar.gz to explode in your plugin path

https://repo1.maven.org/maven2/org/apache/camel/kafkaconnector/camel-salesforce-kafka-connector/0.11.0/camel-s

[2021-11-08 10:32] milkchocolate commented on #1284
This guide requires org.apache.camel.kafkaconnector.salesforcesource.CamelSalesforcesourceSourceConnector
https://camel.apache.org/camel-kafka-connector/next/reference/connectors/camel-salesforce-source-kafka-source-connector.html

Which I can find in the source code
![image](https://user-images.githubusercontent.com/5474821/140725582-930b5e8b-ef66-4073-b9fd-85b65abf37e8.png)

If I replace camel-s

[2021-11-08 10:39] oscerd commented on #1284
You're referencing the next release. Change to 0.11.0 lts. The doc you're
using is referencing something still to release.

Il lun 8 nov 2021, 11:32 Yu, Nan ***@***.***> ha scritto:

[2021-11-08 10:44] milkchocolate commented on #1284
Thanks Andrea. Could you share the release plan with me?

[2021-11-08 10:47] oscerd commented on #1284
There is still no eta for the next release

[2021-11-08 10:53] milkchocolate commented on #1284
Is the camel-salesforce-source-kafka-source-connector ready? I maunally built the connecor and put it to the plugin folder, it works.

[2021-11-08 10:54] oscerd commented on #1284
It should work if you use the snapshot.

[2021-11-08 10:54] milkchocolate commented on #1284
Thanks Andrea

[2021-11-08 10:54] #1284 closed

[2021-11-08 16:38] FernandoDorado commented on #1222
The problem has been solved by using IDLE, instead of SIZE or MESSAGES. We have not been able to get it to work using the latter two.

[2021-11-08 16:38] #1222 closed

[2021-11-08 16:57] oscerd commented on #1222
Thanks for reporting and sorry for the lack of time.

[2021-11-09 18:13] ruchirvaninasdaq opened #1285 "Custom kafkaconnetor class as CamelAws2s3SourceConnector"
Hello,
I have added a custom class extending CamelAws2S3SourceConnector for some custom work. Now trying to build the project and deploy it. It's giving me the following error

I am using 0.7.x branch `https://github.com/apache/camel-kafka-connector/tree/camel-kafka-connector-0.7.x` on Strimzi 0.25.0 cluster.

[code]

I have verified that my configs are applied.

kubectl get kafkaconnector my-conn

[2021-11-09 18:14] ruchirvaninasdaq commented on #1285
BDW, If I move my all code from `com.nasdaq.ncds.kafkaconnector.s3.CamelAws2s3SourceConnector` to `org.apache.camel.kafkaconnector.aws2s3.CamelAws2s3SourceConnector` it works. So Something I am missing in configuration.

[2021-11-09 18:16] ruchirvaninasdaq commented on #1285
Something more I see in logs
[code]

I am not sure why it shows like that as I am setting connecttor class as my class `com.nasdaq.ncds.kafkaconnector.s3.CamelAws2s3SourceConnector`

[2021-11-10 05:46] oscerd commented on #1285
I think it's really hard to say something without looking at the connector structure.
By the way, it makes sense to create a completely new connector instead of extending a new one if you have to do something. Extending a connector from ckc means adding something like SMT or converters or modify the existing code of the connector, we never meant to extend the connector class even though it should

[2021-11-10 14:00] ruchirvaninasdaq commented on #1285
![Screen Shot 2021-11-10 at 8 58 23 AM](https://user-images.githubusercontent.com/32844383/141126691-39f04435-4628-46ff-861b-8f4b1619c1af.png)

[2021-11-10 14:02] ruchirvaninasdaq commented on #1285
So I have updated the Camel sourceconnector here to my custom class which is as follows.

[code]

[2021-11-10 14:03] oscerd commented on #1285
Not sure about this particular use cases. Probably it's something in the core.

[2021-11-10 14:03] ruchirvaninasdaq commented on #1285
Core is added in common package.

[2021-11-10 14:04] ruchirvaninasdaq commented on #1285
So. if I dont change the package and add my custom code it works. Is there anything special needs to be pulled from the build plan?

[2021-11-10 14:05] oscerd commented on #1285
Yes, I meant something in the core checking for a specific package like org.apache.camel...

[2021-11-10 14:06] ruchirvaninasdaq commented on #1285
Does those autogenerated properties and resources  (in generated packages) make any difference?

[2021-11-10 14:06] oscerd commented on #1285
No.

[2021-11-10 14:06] oscerd commented on #1285
No, they are related to the underline camel component. I don't know what is in your extended class, but I suppose you're not using the camel component any more. Probably.

[2021-11-10 14:08] ruchirvaninasdaq commented on #1285
What would be your recommended approach for customizing the s3 connector module? (Like i need to add custom seralizer, I need to start some monitoring process before starting the connector, I need to update metrics on every messages processed)

[2021-11-10 14:12] oscerd commented on #1285
Ok, so you're still using the basic feature of the connector, this means you're still using the component. My suggestion for the moment is to maintain the package name and maybe you could provide some doc about what you were doing and how.

Keep in mind that we are going to base the behavior of the connectors on kamelets from the next release. So something could change in your application if you u

[2021-11-11 16:09] arjun180 commented on #1263
Thanks @oscerd and @scholzj. After some thought, we've decided to use keys instead of the service account role. The process of using  service account role was too complicated and we couldn't get it work.

Couple of quick questions before I close out this issue :

1. We're planning on setting up a script to rotate keys in the Kafka Connect pod. During the process of rotating the keys, what happens

[2021-11-11 16:14] scholzj commented on #1263
That really depends how you add it. But I would expect that you might need to roll it yourself. But maybe that could be something to improve in the future.

Maybe you would need to elaborate a bit more on how exactly you mean it?

[2021-11-11 17:13] arjun180 commented on #1263
I asked my colleague @rlonberg to elaborate on the practice of using service accounts instead of the EKS node role. His response is below :

The default EKS role (AWS instance metadata) for worker nodes is over-privileged and it's not a good security practice to have pods inherit this node role for a couple reasons.This breaks privilege isolation practices between namespaces. If we give the node r

[2021-11-11 17:16] scholzj commented on #1263
So, I'm not sure what needs to change so that you can use it. Connect has its own SA already. So you can just assign the IAM role to it and use it. AFAIK there are users doing that with Strimzi.

[2021-11-15 09:52] milkchocolate opened #1289 "The pre-release salesforce source connector, how does the query field work?"
With the configuration below, Kafka can receive any field changes from any entities. When does the query field step in?
![image](https://user-images.githubusercontent.com/5474821/141758360-b3b43995-16a3-44d3-9968-11d2d4e1f459.png)

[2021-11-15 10:04] oscerd commented on #1289
I think the problem is here: https://github.com/apache/camel-kamelets/blob/main/salesforce-source.kamelet.yaml#L86

It should be possible to set it in the kamelet. From the docs it should be possible to set:

Notify for fields, options are ALL, REFERENCED, SELECT, WHERE. There are 4 enums and the value can be one of: ALL, REFERENCED, SELECT, WHERE

For the moment you'll get all the notifications.

[2021-11-15 23:21] ruchirvaninasdaq commented on #1285
@oscerd : It was an indeed the issue with package name. Once I moved back all common code to connector package it worked. If you can help with where this package dependency is, it would be helpful for the futre.

For now, I have created projcts with 2 different packages. One for my custom code and other for camel connector code. Please recommend if something I need to change in future and if any m